<!--Tabs Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Tabs</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Components</a>
        </li>
        <li class="breadcrumb-item active">Tabs
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
  <section id="tabs">

    <div class="row" matchHeight="card">
      <!--Tabset Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tabset</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset>
                <ngb-tab title="Simple">
                  <ng-template ngbTabContent>
                    <p>Lemon drops pastry chocolate. Jujubes sweet roll tootsie roll. Oat cake donut bonbon chocolate croissant
                      candy candy brownie. Wafer jelly beans jelly ice cream caramels. Cookie bonbon lemon drops cheesecake
                      brownie cake macaroon sweet. Toffee pie icing candy ice cream croissant caramels jelly. Muffin jelly
                      gummies icing cheesecake chocolate cake. Sweet chupa chups croissant pudding sesame snaps soufflé.
                      Marzipan cotton candy jujubes halvah cheesecake. Cupcake wafer gummies croissant candy brownie jelly.
                      Sweet wafer chocolate halvah. Danish sweet roll cheesecake candy canes marzipan liquorice. Sugar plum
                      halvah lemon drops donut sesame snaps lollipop oat cake. Cake dessert topping tiramisu jelly beans.
                      Gummies oat cake sugar plum cookie carrot cake halvah powder sesame snaps. Bear claw gummi bears marzipan
                      powder pudding lemon drops cotton candy sweet roll chupa chups. Marzipan tootsie roll tart lemon drops
                      gummies. Cheesecake wafer carrot cake chocolate jelly beans candy liquorice fruitcake pastry. Gummi
                      bears cheesecake macaroon jelly beans wafer cookie. Gingerbread chocolate bar icing. Candy canes donut
                      icing macaroon cupcake. Ice cream ice cream cake pudding gummi bears.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>Jelly-o cake chocolate bar. Ice cream gummi bears candy canes cookie toffee halvah marzipan. Gummies
                      dessert powder biscuit sweet roll. Biscuit muffin jujubes. Tiramisu pie danish muffin oat cake. Apple
                      pie cupcake apple pie cotton candy toffee biscuit pie. Lemon drops dessert marshmallow. Jelly-o soufflé
                      muffin muffin. Tootsie roll carrot cake sugar plum brownie chocolate cake croissant cotton candy lemon
                      drops toffee. Sweet roll cotton candy jelly-o tootsie roll candy canes liquorice tart cotton candy
                      tiramisu. Powder sesame snaps chocolate liquorice pudding jelly cake pie. Lemon drops ice cream chocolate
                      bar pudding dragée. Pastry cake cheesecake chocolate cake. Toffee bonbon fruitcake candy canes biscuit.
                      Jelly chocolate cake danish tart jelly-o candy jelly powder. Brownie gummi bears brownie bear claw
                      brownie bear claw croissant marshmallow. Pudding cake icing gummies pudding candy gingerbread macaroon.
                      Chupa chups pastry tiramisu liquorice tiramisu marshmallow gummies brownie candy canes.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Disabled" [disabled]="true">
                  <ng-template ngbTabContent>
                    <p>Jelly beans halvah brownie macaroon powder. Wafer gingerbread caramels candy tootsie roll powder chupa
                      chups. Marshmallow candy caramels chocolate cake oat cake caramels. Ice cream jelly liquorice danish
                      toffee caramels. Danish icing topping. Carrot cake cupcake marshmallow donut sugar plum gingerbread
                      sweet jelly. Pastry chocolate carrot cake sweet macaroon sweet roll jelly beans topping. Biscuit lollipop
                      jelly-o tart halvah muffin. Caramels topping gummies pastry sweet. Lollipop candy canes bonbon sesame
                      snaps. Tart tootsie roll donut biscuit cake. Biscuit jelly beans soufflé powder. Wafer macaroon candy
                      canes. Cake caramels tart lemon drops cupcake chocolate dessert. Fruitcake jujubes pie candy apple
                      pie cheesecake. Oat cake donut oat cake gummies cookie powder. Apple pie tart chupa chups jelly marshmallow
                      liquorice wafer gummi bears. Jelly sugar plum bear claw macaroon danish chocolate cake apple pie sweet
                      roll cake. Tiramisu wafer caramels icing candy soufflé fruitcake tart candy canes. Jelly carrot cake
                      sweet. Cake chocolate pastry fruitcake sugar plum soufflé. Pie bear claw cake donut jelly-o cake cupcake
                      dessert. Cake candy canes liquorice oat cake chocolate.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
      <!--Tabset Ends-->

      <!--Pills Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Pills</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset type="pills">
                <ngb-tab title="Simple">
                  <ng-template ngbTabContent>
                    <p>Lemon drops pastry chocolate. Jujubes sweet roll tootsie roll. Oat cake donut bonbon chocolate croissant
                      candy candy brownie. Wafer jelly beans jelly ice cream caramels. Cookie bonbon lemon drops cheesecake
                      brownie cake macaroon sweet. Toffee pie icing candy ice cream croissant caramels jelly. Muffin jelly
                      gummies icing cheesecake chocolate cake. Sweet chupa chups croissant pudding sesame snaps soufflé.
                      Marzipan cotton candy jujubes halvah cheesecake. Cupcake wafer gummies croissant candy brownie jelly.
                      Sweet wafer chocolate halvah. Danish sweet roll cheesecake candy canes marzipan liquorice. Sugar plum
                      halvah lemon drops donut sesame snaps lollipop oat cake. Cake dessert topping tiramisu jelly beans.
                      Gummies oat cake sugar plum cookie carrot cake halvah powder sesame snaps. Bear claw gummi bears marzipan
                      powder pudding lemon drops cotton candy sweet roll chupa chups. Marzipan tootsie roll tart lemon drops
                      gummies. Cheesecake wafer carrot cake chocolate jelly beans candy liquorice fruitcake pastry. Gummi
                      bears cheesecake macaroon jelly beans wafer cookie. Gingerbread chocolate bar icing. Candy canes donut
                      icing macaroon cupcake. Ice cream ice cream cake pudding gummi bears.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>Jelly-o cake chocolate bar. Ice cream gummi bears candy canes cookie toffee halvah marzipan. Gummies
                      dessert powder biscuit sweet roll. Biscuit muffin jujubes. Tiramisu pie danish muffin oat cake. Apple
                      pie cupcake apple pie cotton candy toffee biscuit pie. Lemon drops dessert marshmallow. Jelly-o soufflé
                      muffin muffin. Tootsie roll carrot cake sugar plum brownie chocolate cake croissant cotton candy lemon
                      drops toffee. Sweet roll cotton candy jelly-o tootsie roll candy canes liquorice tart cotton candy
                      tiramisu. Powder sesame snaps chocolate liquorice pudding jelly cake pie. Lemon drops ice cream chocolate
                      bar pudding dragée. Pastry cake cheesecake chocolate cake. Toffee bonbon fruitcake candy canes biscuit.
                      Jelly chocolate cake danish tart jelly-o candy jelly powder. Brownie gummi bears brownie bear claw
                      brownie bear claw croissant marshmallow. Pudding cake icing gummies pudding candy gingerbread macaroon.
                      Chupa chups pastry tiramisu liquorice tiramisu marshmallow gummies brownie candy canes.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Disabled" [disabled]="true">
                  <ng-template ngbTabContent>
                    <p>Jelly beans halvah brownie macaroon powder. Wafer gingerbread caramels candy tootsie roll powder chupa
                      chups. Marshmallow candy caramels chocolate cake oat cake caramels. Ice cream jelly liquorice danish
                      toffee caramels. Danish icing topping. Carrot cake cupcake marshmallow donut sugar plum gingerbread
                      sweet jelly. Pastry chocolate carrot cake sweet macaroon sweet roll jelly beans topping. Biscuit lollipop
                      jelly-o tart halvah muffin. Caramels topping gummies pastry sweet. Lollipop candy canes bonbon sesame
                      snaps. Tart tootsie roll donut biscuit cake. Biscuit jelly beans soufflé powder. Wafer macaroon candy
                      canes. Cake caramels tart lemon drops cupcake chocolate dessert. Fruitcake jujubes pie candy apple
                      pie cheesecake. Oat cake donut oat cake gummies cookie powder. Apple pie tart chupa chups jelly marshmallow
                      liquorice wafer gummi bears. Jelly sugar plum bear claw macaroon danish chocolate cake apple pie sweet
                      roll cake. Tiramisu wafer caramels icing candy soufflé fruitcake tart candy canes. Jelly carrot cake
                      sweet. Cake chocolate pastry fruitcake sugar plum soufflé. Pie bear claw cake donut jelly-o cake cupcake
                      dessert. Cake candy canes liquorice oat cake chocolate.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
      <!--Pills Ends-->
    </div>
    <div class="row" matchHeight="card">
      <!--Select an active tab by id Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Select an active tab by id</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset #t="ngbTabset">
                <ngb-tab title="Simple" id="foo">
                  <ng-template ngbTabContent>
                    <p>Lemon drops pastry chocolate. Jujubes sweet roll tootsie roll. Oat cake donut bonbon chocolate croissant
                      candy candy brownie. Wafer jelly beans jelly ice cream caramels. Cookie bonbon lemon drops cheesecake
                      brownie cake macaroon sweet. Toffee pie icing candy ice cream croissant caramels jelly. Muffin jelly
                      gummies icing cheesecake chocolate cake. Sweet chupa chups croissant pudding sesame snaps soufflé.
                      Marzipan cotton candy jujubes halvah cheesecake. Cupcake wafer gummies croissant candy brownie jelly.
                      Sweet wafer chocolate halvah. Danish sweet roll cheesecake candy canes marzipan liquorice. Sugar plum
                      halvah lemon drops donut sesame snaps lollipop oat cake. Cake dessert topping tiramisu jelly beans.
                      Gummies oat cake sugar plum cookie carrot cake halvah powder sesame snaps. Bear claw gummi bears marzipan
                      powder pudding lemon drops cotton candy sweet roll chupa chups. Marzipan tootsie roll tart lemon drops
                      gummies. Cheesecake wafer carrot cake chocolate jelly beans candy liquorice fruitcake pastry. Gummi
                      bears cheesecake macaroon jelly beans wafer cookie. Gingerbread chocolate bar icing. Candy canes donut
                      icing macaroon cupcake. Ice cream ice cream cake pudding gummi bears.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="bar">
                  <ng-template ngbTabTitle>
                    <b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>Jelly-o cake chocolate bar. Ice cream gummi bears candy canes cookie toffee halvah marzipan. Gummies
                      dessert powder biscuit sweet roll. Biscuit muffin jujubes. Tiramisu pie danish muffin oat cake. Apple
                      pie cupcake apple pie cotton candy toffee biscuit pie. Lemon drops dessert marshmallow. Jelly-o soufflé
                      muffin muffin. Tootsie roll carrot cake sugar plum brownie chocolate cake croissant cotton candy lemon
                      drops toffee. Sweet roll cotton candy jelly-o tootsie roll candy canes liquorice tart cotton candy
                      tiramisu. Powder sesame snaps chocolate liquorice pudding jelly cake pie. Lemon drops ice cream chocolate
                      bar pudding dragée. Pastry cake cheesecake chocolate cake. Toffee bonbon fruitcake candy canes biscuit.
                      Jelly chocolate cake danish tart jelly-o candy jelly powder. Brownie gummi bears brownie bear claw
                      brownie bear claw croissant marshmallow. Pudding cake icing gummies pudding candy gingerbread macaroon.
                      Chupa chups pastry tiramisu liquorice tiramisu marshmallow gummies brownie candy canes.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <p>
                <button class="btn btn-outline-primary" (click)="t.select('bar')">Selected tab with "bar" id</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Select an active tab by id Ends-->

      <!--Prevent tab change Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Prevent tab change</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset (tabChange)="beforeChange($event)">
                <ngb-tab title="Simple" id="foo">
                  <ng-template ngbTabContent>
                    <p>Lemon drops pastry chocolate. Jujubes sweet roll tootsie roll. Oat cake donut bonbon chocolate croissant
                      candy candy brownie. Wafer jelly beans jelly ice cream caramels. Cookie bonbon lemon drops cheesecake
                      brownie cake macaroon sweet. Toffee pie icing candy ice cream croissant caramels jelly. Muffin jelly
                      gummies icing cheesecake chocolate cake. Sweet chupa chups croissant pudding sesame snaps soufflé.
                      Marzipan cotton candy jujubes halvah cheesecake. Cupcake wafer gummies croissant candy brownie jelly.
                      Sweet wafer chocolate halvah. Danish sweet roll cheesecake candy canes marzipan liquorice. Sugar plum
                      halvah lemon drops donut sesame snaps lollipop oat cake. Cake dessert topping tiramisu jelly beans.
                      Gummies oat cake sugar plum cookie carrot cake halvah powder sesame snaps. Bear claw gummi bears marzipan
                      powder pudding lemon drops cotton candy sweet roll chupa chups. Marzipan tootsie roll tart lemon drops
                      gummies. Cheesecake wafer carrot cake chocolate jelly beans candy liquorice fruitcake pastry. Gummi
                      bears cheesecake macaroon jelly beans wafer cookie. Gingerbread chocolate bar icing. Candy canes donut
                      icing macaroon cupcake. Ice cream ice cream cake pudding gummi bears.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="bar" title="I can't be selected...">
                  <ng-template ngbTabContent>
                    <p>I can't be selected content</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="But I can!">
                  <ng-template ngbTabContent>
                    <p>Apple pie muffin apple pie gummi bears topping biscuit. Liquorice cookie cookie halvah dragée dessert
                      marshmallow macaroon. Muffin sesame snaps chocolate bar dragée cookie lemon drops. Danish apple pie
                      macaroon brownie bear claw chocolate cake gummi bears wafer wafer. Soufflé danish sweet liquorice jelly-o
                      bonbon. Halvah marzipan halvah fruitcake jujubes cheesecake liquorice sesame snaps. Biscuit chocolate
                      candy sugar plum powder cupcake candy canes cheesecake cake. Tart apple pie lemon drops. Muffin oat
                      cake marzipan fruitcake donut. Tootsie roll dessert macaroon tart cake cheesecake wafer chupa chups
                      dragée. Muffin oat cake cookie chocolate gingerbread chocolate bar powder. Muffin lollipop bonbon wafer
                      chocolate cupcake toffee croissant cotton candy. Jelly candy macaroon oat cake carrot cake. Chupa chups
                      gummies tootsie roll cotton candy. Gummi bears lemon drops chocolate topping lollipop marshmallow gummies
                      icing brownie. Bear claw cake ice cream candy canes sweet liquorice icing. Candy cake chocolate cake
                      candy canes ice cream fruitcake fruitcake jujubes halvah.</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
      <!--Prevent tab change Ends-->
    </div>
    <div class="row" matchHeight="card">
      <!--Nav justification Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Nav justification</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset [justify]="currentJustify">
                <ngb-tab title="Simple">
                  <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.
                    </p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                      +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                      ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
                      anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                      party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="A very long nav title">
                  <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.
                    </p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>

              <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="start">Start
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="center">Center
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="end">End
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="fill">Fill
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="justified">Justified
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Nav justification Ends-->

      <!--Nav orientation Starts-->
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Nav orientation</h4>
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset type="pills" [orientation]="currentOrientation">
                <ngb-tab title="Simple">
                  <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.
                    </p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <b>Fancy</b> title</ng-template>
                  <ng-template ngbTabContent>
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                      +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                      ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
                      anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                      party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Disabled" [disabled]="true">
                  <ng-template ngbTabContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                      synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                      qui.
                    </p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>

              <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="horizontal">Horizontal
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                  <input ngbButton type="radio" value="vertical">Vertical
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Nav orientation Ends-->
    </div>
  </section>
</div>
<!--Tabs Starts-->