//- =========================================================================
	File Name: component-progress.jade
	Description: Stylize the HTML5 <progress> element with a few extra classes and some crafty browser-specific CSS.
	--------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 3.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================

extends template

block pageVars
	- var pageTitle   = "Progress"
	- var pageSubTitle = "Stylize the HTML5 <progress> element."
	- var description = "To caption a progress bar, simply add a <div> with your caption text, align the text using a utility class, and associate the caption with the <progress> element using the aria-describedby attribute."
	- var activeMenu  = "component-progress"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"Progress"}])

//- Include page content in page block
append content
	include ../contents/component-progress.html