.p-wrong {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &__image {
    margin-bottom: 20px;
  }

  &__message {
    color: #757575;
    font-size: 20px;
  }
}
