[data-sidebar-style="mini"] {
    .nav-control {
        z-index: 99;
    }
}


[data-header-position="fixed"] {
    .nav-header {
        position: fixed;
        z-index: 99;
        left: auto;
    }
 } //ok