
@import '../variable';

/*******************
 Our income
*******************/
.o-income{
   .c3 line, .c3 path{
        stroke:$border;  
    }
}

.c3-chart-arc path {
	stroke: $card-dark;
}

.morris-hover.morris-default-style {
	box-shadow: none;
}