<!-- partial:_head.html -->
<!-- partial -->
<!-- partial:_sidebar.html -->
<!-- partial -->
<div class="has-sidebar-left">
    <!-- partial:_searchBar.html -->
    <!-- partial -->
    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <div class="d-flex">
                    <div>
                        <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
                            <i></i>
                        </a>
                    </div>
                    <div class="text-white">
                        <h1 class="nav-title">Dashboard</h1>
                    </div>
                </div>
            </div>
            <!-- partial:_navbar.html -->
            <!-- partial -->
        </div>
    </div>
</div>
