@import "../config/colors";
@import "../config/ui";

.panel, .ks-panel {
  &.ks-information {
    .card-block {
      > .ks-table-description {
        width: 100%;

        td {
          vertical-align: top;
          font-size: 14px;
          padding-bottom: 10px;

          &.ks-icon {
            width: 20px;
            padding-right: 15px;
            color: $ks-color-primary;
            font-size: 20px;
            line-height: 20px;
            opacity: 0.5;
            position: relative;
            top: 1px;
            text-align: center;
          }
        }

        tr:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }

      > .ks-user-list {
        list-style: none;
        padding: 0;
        margin: 0;

        > .ks-item {
          display: flex;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          > .ks-avatar {
            margin-right: 10px;
          }

          > .ks-body {
            > .ks-name {
              font-size: 14px;
              line-height: 14px;
              margin-bottom: 5px;
            }

            > .ks-text {
              font-size: 12px;
              color: $text-color-light;
            }
          }
        }
      }

      > .ks-info-list {
        > .ks-item {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          > .ks-name {
            color: $text-color-light;
            margin-bottom: 3px;
          }
        }
      }

      &.ks-datatable {
        padding: 0;

        .dataTables_wrapper {
          padding: 0;
          margin-bottom: 10px;
        }

        .dataTables_info {
          padding-left: 30px;
        }

        .dataTables_paginate {
          padding-right: 30px;
        }

        .table {
          border: none;

          thead {
            th {
              background: rgba(57, 80, 155, 0.05);
              border: none;
              border-bottom: 1px solid rgba(57, 80, 155, 0.2);

              &:first-child {
                padding-left: 30px;
              }

              &:last-child {
                padding-right: 30px;
              }
            }
          }

          td {
            vertical-align: middle;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgba(57, 80, 155, 0.1);

            &:first-child {
              padding-left: 30px;
            }

            &:last-child {
              padding-right: 30px;
            }

            &.ks-controls {
              width: 1px;
              text-align: right;

              > .dropdown {
                position: relative;
                top: 2px;

                > .btn-link {
                  padding: 3px 0;
                  font-size: 22px;
                }
              }
            }

            > .ks-user {
              > .ks-avatar {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 6px;
              }

              > .ks-name {
                position: relative;
                top: 2px;
              }
            }
          }
        }
      }

      &.ks-slider {
        display: block;
        padding: 0;
        padding-top: 30px;

        .swiper-container {
          height: 330px;
          max-width: calc(100% - 80px);
        }

        .swiper-slide {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          height: 285px;

          > .card {
            width: 200px;
            height: 285px;
            margin: 0;

            > .ks-image {
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            > .ks-description {
              border-top: solid 1px rgba(57, 81, 155, 0.2);
              padding: 15px;

              > .ks-name {
                font-size: 14px;
                font-weight: 500;
                display: block;
                margin-bottom: 8px;
                color: $text-color;
              }

              > .ks-price {
                border-radius: 2px;
                background-color: rgba(57, 80, 155, 0.1);
                padding: 6px 15px;
                color: $ks-color-primary;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}