// ================================================================================================
// 	File Name: app.scss
// 	Description: Mail application scss file.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Stack - Responsive Admin Theme
// 	Version: 2.1
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================



@import "bootstrap-extended";
@import "colors";
@import "components";
@import "ng-vertical-menu-template-semi-dark";
