<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/01.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Documents</span>
  </div>
  <div class="file-storage__files-item-column-last-update">Nov 1, 2019</div>
  <div class="file-storage__files-item-column-size">—</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/02.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Music</span>
  </div>
  <div class="file-storage__files-item-column-last-update">Oct 7, 2019</div>
  <div class="file-storage__files-item-column-size">—</div>
  <div class="file-storage__files-item-column-status">Shared by me (read only)</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/02.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Photos</span>
  </div>
  <div class="file-storage__files-item-column-last-update">Aug 22, 2019</div>
  <div class="file-storage__files-item-column-size">—</div>
  <div class="file-storage__files-item-column-status">Shared by me (read and write)</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/03.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Side Project</span>
  </div>
  <div class="file-storage__files-item-column-last-update">Jul 14, 2019</div>
  <div class="file-storage__files-item-column-size">46 KB</div>
  <div class="file-storage__files-item-column-status">Shared by Jane P.</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/04.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Job story example<span class="file-storage__files-item-extension">.docx</span></span>
  </div>
  <div class="file-storage__files-item-column-last-update">Nov 1, 2019</div>
  <div class="file-storage__files-item-column-size">1.2 KB</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/05.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Cooking - salmon_baked_with_love<span class="file-storage__files-item-extension">.mp4</span></span>
  </div>
  <div class="file-storage__files-item-column-last-update">Jul 14, 2019</div>
  <div class="file-storage__files-item-column-size">124 MB</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/06.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Finding Dory OST<span class="file-storage__files-item-extension">.zip</span></span>
  </div>
  <div class="file-storage__files-item-column-last-update">Jul 14, 2019</div>
  <div class="file-storage__files-item-column-size">13 MB</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/07.png" alt="">
    </div>
    <span class="file-storage__files-item-name">HeartRate Training_FASTER_6weeks_US<span class="file-storage__files-item-extension">.pdf</span></span>
  </div>
  <div class="file-storage__files-item-column-last-update">Jul 14, 2019</div>
  <div class="file-storage__files-item-column-size">1 MB</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
<div class="file-storage__files-item">
  <div class="file-storage__files-item-column-name">
    <div class="file-storage__files-item-preview">
      <img src="img/08.png" alt="">
    </div>
    <span class="file-storage__files-item-name">Principle anomation prototype<span class="file-storage__files-item-extension">.skype</span></span>
  </div>
  <div class="file-storage__files-item-column-last-update">Jul 14, 2019</div>
  <div class="file-storage__files-item-column-size">57 KB</div>
  <div class="file-storage__files-item-column-status">—</div>
</div>
