<div class="file-storage__files-header">
  <div class="file-storage__files-header-heading">Files</div>
  <div class="file-storage__files-columns">
    <div class="file-storage__files-column file-storage__files-column--sort-down file-storage__files-column-name">
      <span class="file-storage__files-column-text">Name</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-last-update">
      <span class="file-storage__files-column-text">Last Update</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-size">
      <span class="file-storage__files-column-text">Size</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-status">
      <span class="file-storage__files-column-text">Status</span>
    </div>
  </div>
  <div class="file-storage__files-header-controls">
    <button class="btn btn-info icon-left file-storage__files-header-control" type="button">
      Upload <span class="btn-icon iconfont-upload-a"></span>
    </button>
    <button class="btn btn-outline-secondary icon-left file-storage__files-header-control" type="button">
      Share <span class="btn-icon iconfont-share"></span>
    </button>
    <div class="dropdown dropdown__btn-icon file-storage__files-header-control">
      <button class="btn btn-outline-secondary dropdown__btn-icon-toggle" type="button" data-toggle="dropdown">
        <span class="btn-icon iconfont-dots-h dropdown__btn-icon"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action
          <span class="badge badge-message">5</span>
        </a>
        <a class="dropdown-item" href="#">Another action
          <span class="badge badge-message">50+</span>
        </a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>
