<div class="file-storage__files-header">
  <div class="file-storage__files-header-heading">Trash</div>
  <div class="file-storage__files-columns">
    <div class="file-storage__files-column file-storage__files-column--sort-down file-storage__files-column-name">
      <span class="file-storage__files-column-text">Name</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-last-update">
      <span class="file-storage__files-column-text">Last Update</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-size">
      <span class="file-storage__files-column-text">Size</span>
    </div>
    <div class="file-storage__files-column file-storage__files-column-status">
      <span class="file-storage__files-column-text">Status</span>
    </div>
  </div>
  <div class="file-storage__files-header-controls">
    <button class="btn btn-outline-secondary icon-left file-storage__files-header-control" type="button">
      Restore all <span class="btn-icon iconfont-undo-a"></span>
    </button>
    <button class="btn btn-outline-danger icon-left file-storage__files-header-control" type="button">
      Delete all <span class="btn-icon iconfont-trash"></span>
    </button>
  </div>
</div>
