.sidebar {
  width: 330px;
  position: fixed;
  top: 104px;
  left: 0;
  height: calc(100vh - 104px);
  display: flex;
  user-select: none;

  &__nav {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #9aa3ae;
    width: 64px;

    &-link {
      font-size: 28px;
      line-height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      @include mx-link(#fff);

      &:hover {
        background: rgba(#586371, .3);
      }

      &.is-active {
        background: rgba(#586371, .5);
      }
    }
  }
}
