/** Primary button **/
/** Success button **/
/*#dedede;*/
.btn {
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  padding: 0 25px;
  font-family: "Open Sans";
  color: #fff;
  height: 38px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: none;
  /* Icon on the right */ }
  .btn:disabled {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1; }
  .btn:focus, .btn.focus {
    box-shadow: none !important; }
  .btn.ks-rounded {
    border-radius: 18px; }
  .btn.btn-lg {
    font-size: 18px;
    padding: 0 30px;
    height: 51px; }
  .btn.btn-sm {
    font-size: 12px;
    padding: 0 15px;
    height: 27px; }
    .btn.btn-sm.ks-split > .ks-text {
      margin-right: 18px; }
    .btn.btn-sm.ks-split > .ks-split-content {
      padding-left: 8px;
      padding-right: 8px; }
  .btn.ks-icon-block {
    position: relative;
    height: 59px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px; }
    .btn.ks-icon-block > .ks-icon {
      display: block;
      font-size: 18px;
      margin: 0; }
      .btn.ks-icon-block > .ks-icon + .ks-text {
        margin-top: 7px; }
    .btn.ks-icon-block > .ks-text {
      display: block; }
    .btn.ks-icon-block > .ks-label {
      position: absolute;
      top: -8px;
      right: -8px; }
  .btn > .ks-icon {
    margin: 0;
    margin-left: -10px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 16px; }
    .btn > .ks-icon.ks-sm {
      font-size: 14px;
      line-height: 14px; }
  .btn > .ks-text + .ks-icon {
    padding: 0;
    margin: 0;
    margin-right: -10px;
    margin-left: 12px; }
  .btn.ks-split {
    position: relative;
    /* Icon on the right */ }
    .btn.ks-split > .ks-icon {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 37px;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 10px;
      margin-left: -14px; }
    .btn.ks-split > .ks-text + .ks-icon {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: none;
      padding: 0;
      margin: 0;
      padding-left: 10px;
      margin-right: -14px;
      margin-left: 12px; }
    .btn.ks-split > .ks-split-content {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .btn.ks-no-text {
    width: 38px;
    padding: 0; }
    .btn.ks-no-text > .ks-icon {
      margin: 0; }
    .btn.ks-no-text[data-toggle="dropdown"] {
      width: 58px; }
    .btn.ks-no-text.ks-no-arrow[data-toggle="dropdown"] {
      width: 38px; }
  .btn:hover {
    transition: all 0.3s ease; }
  .btn.ks-bg-none {
    background: transparent !important; }

.btn-group .btn {
  margin-right: 0;
  margin-bottom: 0; }

.btn-group .btn-primary:active, .btn-group .btn-primary.active {
  background-color: #2e417b !important;
  border-color: #2e417b; }

.btn-group .btn-primary-outline:active, .btn-group .btn-primary-outline.active, .btn-group .btn-primary-outline.focus {
  background-color: #3a529b;
  color: #fff; }

.btn-group .btn-primary-outline.ks-light {
  border: solid 1px #d7dceb; }
  .btn-group .btn-primary-outline.ks-light:hover, .btn-group .btn-primary-outline.ks-light.ks-hover {
    border: solid 1px #d7dceb; }
  .btn-group .btn-primary-outline.ks-light:active, .btn-group .btn-primary-outline.ks-light.active, .btn-group .btn-primary-outline.ks-light.focus {
    background-color: #ebeef5 !important;
    border: solid 1px #d7dceb;
    color: #2e417b; }

.btn-group.btn-group-icon .btn {
  padding: 9px 14px;
  font-size: 14px; }

.btn-group .dropdown-menu {
  font-size: 12px;
  padding: 0;
  border: solid 1px #c4cbe1;
  margin: 4px 0;
  border-radius: 2px; }
  .btn-group .dropdown-menu .dropdown-item {
    color: #474747;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #c4cbe1; }
    .btn-group .dropdown-menu .dropdown-item:hover {
      background-color: #ebeef5;
      color: #333333; }
    .btn-group .dropdown-menu .dropdown-item:last-child {
      border-bottom: none; }
  .btn-group .dropdown-menu .dropdown-divider {
    display: none; }

.btn-group.dropup .dropdown-toggle::after {
  border: none; }

.btn-group > .btn + .dropdown-toggle {
  padding-left: 0;
  padding-right: 10px; }

.btn-group.open > .btn-primary.dropdown-toggle {
  background-color: #2e417b !important;
  border-color: #2e417b;
  color: #fff; }

.btn-group.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #2e417b !important;
  border: solid 1px #2e417b; }

.btn-group.open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #24a35a !important;
  border-color: #24a35a; }

.btn-group.open > .btn-success-outline.dropdown-toggle {
  color: #fff;
  background-color: #24a35a !important;
  border: solid 1px #24a35a; }

.btn-group.open > .btn-info.dropdown-toggle {
  background-color: #14648f !important;
  border-color: #14648f; }

.btn-group.open > .btn-info-outline.dropdown-toggle {
  color: #fff;
  background-color: #1b85bf !important;
  border: solid 1px #1b85bf; }

.btn-group.open > .btn-warning.dropdown-toggle {
  background-color: #857007 !important;
  border-color: #857007; }

.btn-group.open > .btn-warning-outline.dropdown-toggle {
  color: #fff;
  background-color: #b19509 !important;
  border: solid 1px #b19509; }

.btn-group.open > .btn-danger.dropdown-toggle {
  background-color: #bc4f3b !important;
  border-color: #bc4f3b;
  color: #fff; }

.btn-group.open > .btn-danger-outline.dropdown-toggle {
  color: #fff;
  background-color: #bc4f3b !important;
  border: solid 1px #bc4f3b; }

.input-group .input-group-addon.btn-primary {
  color: #fff;
  background-color: #3a529b;
  border: solid 1px #3a529b; }

.btn-secondary, .btn-default {
  background: #fff;
  border: solid 1px #c2c2c2;
  color: #333; }
  .btn-secondary:focus, .btn-default:focus {
    background: #fff;
    border: solid 1px #c2c2c2; }
  .btn-secondary:hover, .btn-default:hover {
    background: #ebebeb;
    border-color: #ebebeb; }
  .btn-secondary:active, .btn-default:active {
    background: #d6d6d6;
    border-color: #d6d6d6 !important; }
  .btn-secondary:disabled, .btn-secondary:disabled:hover, .btn-default:disabled, .btn-default:disabled:hover {
    background-color: #fff;
    border-color: #c2c2c2;
    color: #858585; }

.btn-secondary-outline {
  background: #fff;
  border: solid 1px #c2c2c2;
  color: #333; }
  .btn-secondary-outline:focus {
    border: solid 1px #c2c2c2; }
  .btn-secondary-outline:hover {
    border-color: #adadad; }
  .btn-secondary-outline:active {
    border-color: #858585; }
  .btn-secondary-outline:disabled, .btn-secondary-outline:disabled:hover {
    border-color: #c2c2c2;
    color: #858585; }

.btn-primary {
  background-color: #3a529b;
  border: solid 1px #3a529b; }
  .btn-primary:focus {
    color: #fff;
    background-color: #3a529b;
    border-color: #3a529b; }
  .btn-primary:hover {
    color: #fff;
    background-color: #2e417b;
    border-color: #2e417b; }
  .btn-primary:active {
    color: #fff;
    background-color: #22315c !important;
    border-color: #22315c !important; }
  .btn-primary:disabled, .btn-primary:disabled:hover {
    background-color: #6174af;
    border-color: #6174af; }
  .btn-primary.ks-light {
    border-color: #ebeef5;
    background-color: rgba(57, 81, 155, 0.1);
    color: #3a529b; }
    .btn-primary.ks-light:focus {
      background-color: rgba(57, 81, 155, 0.1);
      color: #3a529b;
      border-color: #ebeef5; }
    .btn-primary.ks-light:hover {
      background-color: #3a529b;
      color: #fff;
      border-color: #3a529b;
      transition: all 0.3s ease; }
    .btn-primary.ks-light:active {
      color: #fff;
      background-color: #2e417b !important;
      border-color: #2e417b !important; }
    .btn-primary.ks-light:disabled {
      background-color: rgba(57, 81, 155, 0.1);
      color: rgba(58, 82, 155, 0.6);
      border-color: #ebeef5; }

.btn-primary-outline {
  color: #3a529b;
  border: solid 1px #3a529b;
  background: #fff; }
  .btn-primary-outline:focus {
    color: #3a529b;
    border: solid 1px #3a529b; }
  .btn-primary-outline:hover {
    color: #3a529b;
    border: solid 1px #3a529b; }
  .btn-primary-outline:active {
    color: #2e417b;
    border: solid 1px #2e417b; }
  .btn-primary-outline:disabled, .btn-primary-outline:disabled:hover {
    background-color: transparent;
    color: rgba(58, 82, 155, 0.6);
    border: solid 1px #c4cbe1; }
  .btn-primary-outline.ks-split {
    /* Icon on the right */ }
    .btn-primary-outline.ks-split > .ks-icon {
      border-right: 1px solid #3a529b; }
    .btn-primary-outline.ks-split > .ks-text + .ks-icon {
      border-left: 1px solid #3a529b; }
  .btn-primary-outline.ks-light {
    color: #3a529b;
    border: solid 1px #c4cbe1;
    background: #fff; }
    .btn-primary-outline.ks-light .ks-btn-text-lighter {
      color: #a5b4d5; }
    .btn-primary-outline.ks-light:focus {
      color: #3a529b;
      border: solid 1px #c4cbe1; }
    .btn-primary-outline.ks-light:hover {
      border-color: #b0b9d7;
      color: #2e417c; }
    .btn-primary-outline.ks-light:active {
      border: 1px solid #8897c3 !important;
      color: #22315d; }
    .btn-primary-outline.ks-light:disabled {
      background-color: transparent;
      border: solid 1px #c4cbe1;
      color: rgba(58, 82, 155, 0.6); }
    .btn-primary-outline.ks-light.ks-split > .ks-text + .ks-split-content {
      border-left: 1px solid rgba(57, 81, 155, 0.3); }
  .btn-primary-outline.ks-solid {
    color: #3a529b;
    border: solid 1px #3a529b;
    background: #fff; }
    .btn-primary-outline.ks-solid:focus {
      background-color: transparent;
      color: #3a529b;
      border: solid 1px #3a529b; }
    .btn-primary-outline.ks-solid:hover {
      background-color: #3a529b;
      color: #fff;
      border: solid 1px #3a529b; }
    .btn-primary-outline.ks-solid:active {
      color: #fff;
      background-color: #2e417b !important;
      border: solid 1px #2e417b; }
    .btn-primary-outline.ks-solid:disabled, .btn-primary-outline.ks-solid:disabled:hover {
      background-color: transparent;
      color: rgba(58, 82, 155, 0.6);
      border: solid 1px rgba(57, 81, 155, 0.3); }
    .btn-primary-outline.ks-solid.ks-split {
      /* Icon on the right */ }
      .btn-primary-outline.ks-solid.ks-split > .ks-icon {
        border-right: 1px solid #2e417b; }
      .btn-primary-outline.ks-solid.ks-split > .ks-text + .ks-icon {
        border-left: 1px solid #2e417b; }
    .btn-primary-outline.ks-solid.ks-light {
      color: #3a529b;
      border: solid 1px #c4cbe1; }
      .btn-primary-outline.ks-solid.ks-light .ks-btn-text-lighter {
        color: #a5b4d5; }
      .btn-primary-outline.ks-solid.ks-light:focus {
        background-color: transparent;
        color: #3a529b;
        border: solid 1px #c4cbe1; }
      .btn-primary-outline.ks-solid.ks-light:hover {
        background-color: #ebeef5;
        border-color: #ebeef5;
        color: #3a529b; }
      .btn-primary-outline.ks-solid.ks-light:active {
        background-color: #d7dceb !important;
        border: 1px solid #d7dceb !important;
        color: #3a529b; }
      .btn-primary-outline.ks-solid.ks-light:disabled {
        background-color: transparent;
        border: solid 1px #c4cbe1;
        color: rgba(58, 82, 155, 0.6); }
      .btn-primary-outline.ks-solid.ks-light.ks-split > .ks-text + .ks-split-content {
        border-left: 1px solid #c4cbe1; }

.btn-success {
  background-color: #2ecc71;
  border: solid 1px #2ecc71; }
  .btn-success:focus {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71; }
  .btn-success:hover {
    color: #fff;
    background-color: #24a35a;
    border-color: #24a35a; }
  .btn-success:active {
    color: #fff;
    background-color: #1b7a43 !important;
    border-color: #1b7a43 !important; }
  .btn-success:disabled, .btn-success:disabled:hover {
    background-color: #57d68d;
    border-color: #57d68d; }
  .btn-success.ks-light {
    background-color: #eafaf1;
    color: #2ecc71;
    border: solid 1px #eafaf1; }
    .btn-success.ks-light:focus {
      background-color: #eafaf1;
      color: #2ecc71;
      border-color: #eafaf1; }
    .btn-success.ks-light:hover {
      background-color: #2ecc71;
      border-color: #2ecc71;
      color: #fff; }
    .btn-success.ks-light:active {
      color: #fff;
      background-color: #24a35a !important;
      border-color: #24a35a !important; }
    .btn-success.ks-light:disabled, .btn-success.ks-light:disabled:hover {
      background-color: #eafaf1;
      border-color: #eafaf1;
      color: #82e0aa !important; }

.btn-success-outline {
  color: #2ecc71;
  border: solid 1px #2ecc71;
  background: #fff; }
  .btn-success-outline:focus {
    color: #2ecc71;
    border: solid 1px #2ecc71; }
  .btn-success-outline:hover {
    color: #24a35a;
    border: solid 1px #24a35a; }
  .btn-success-outline:active {
    color: #1b7a43;
    border: solid 1px #1b7a43; }
  .btn-success-outline:disabled, .btn-success-outline:disabled:hover {
    background-color: transparent;
    color: #82e0aa;
    border: solid 1px #c0f0d4; }
  .btn-success-outline.ks-light {
    color: #2ecc71;
    border: solid 1px #c0f0d4; }
    .btn-success-outline.ks-light:focus {
      color: #2ecc71;
      border: solid 1px #c0f0d4; }
    .btn-success-outline.ks-light:hover {
      color: #24a35a;
      border-color: #abebc6; }
    .btn-success-outline.ks-light:active {
      border: 1px solid #82e0aa;
      color: #1b7a43; }
    .btn-success-outline.ks-light:disabled {
      background-color: transparent;
      border: solid 1px #c0f0d4;
      color: #82e0aa; }
  .btn-success-outline.ks-solid {
    color: #2ecc71;
    border: solid 1px #2ecc71;
    background: #fff; }
    .btn-success-outline.ks-solid:focus {
      background-color: transparent;
      color: #2ecc71;
      border: solid 1px #2ecc71; }
    .btn-success-outline.ks-solid:hover {
      background-color: #2ecc71;
      color: #fff;
      border: solid 1px #2ecc71; }
    .btn-success-outline.ks-solid:active {
      color: #fff;
      background-color: #24a35a !important;
      border: solid 1px #24a35a; }
    .btn-success-outline.ks-solid:disabled, .btn-success-outline.ks-solid:disabled:hover {
      background-color: transparent;
      color: #82e0aa;
      border: solid 1px #c0f0d4; }
    .btn-success-outline.ks-solid.ks-light {
      color: #2ecc71;
      border: solid 1px #c0f0d4; }
      .btn-success-outline.ks-solid.ks-light:focus {
        background-color: transparent;
        color: #2ecc71;
        border: solid 1px #c0f0d4; }
      .btn-success-outline.ks-solid.ks-light:hover {
        background-color: #eafaf1;
        border-color: #eafaf1;
        color: #2ecc71; }
      .btn-success-outline.ks-solid.ks-light:active {
        background-color: #d5f5e3 !important;
        border: 1px solid #d5f5e3;
        color: #2ecc71; }
      .btn-success-outline.ks-solid.ks-light:disabled {
        background-color: transparent;
        border: solid 1px #c0f0d4;
        color: #82e0aa; }

.btn-info {
  background-color: #22a7f0;
  border: solid 1px #22a7f0; }
  .btn-info:focus {
    color: #fff;
    background-color: #22a7f0;
    border-color: #22a7f0; }
  .btn-info:hover {
    color: #fff;
    background-color: #1b85bf;
    border-color: #1b85bf; }
  .btn-info:active {
    color: #fff;
    background-color: #14648f !important;
    border-color: #14648f; }
  .btn-info:disabled, .btn-info:disabled:hover {
    background-color: #4eb8f3;
    border-color: #4eb8f3; }
  .btn-info.ks-light {
    background-color: #e9f6fe;
    color: #22a7f0;
    border: solid 1px #e9f6fe; }
    .btn-info.ks-light:focus {
      background-color: rgba(33, 166, 240, 0.1);
      color: #22a7f0;
      border-color: #e9f6fe; }
    .btn-info.ks-light:hover {
      background-color: #22a7f0;
      color: #fff;
      border-color: #22a7f0; }
    .btn-info.ks-light:active {
      background-color: #1b85bf !important;
      color: #fff;
      border-color: #1b85bf; }
    .btn-info.ks-light:disabled {
      background-color: #e9f6fe;
      color: #7acaf6;
      border-color: #e9f6fe; }

.btn-info-outline {
  color: #22a7f0;
  border: solid 1px #22a7f0;
  background: #fff; }
  .btn-info-outline:focus {
    color: #22a7f0;
    border: solid 1px #22a7f0; }
  .btn-info-outline:hover {
    color: #1b85c0;
    border: solid 1px #1b85c0; }
  .btn-info-outline:active {
    color: #146490;
    border: solid 1px #146490; }
  .btn-info-outline:disabled, .btn-info-outline:disabled:hover {
    color: #7acaf6;
    border: solid 1px #bce4fb; }
  .btn-info-outline.ks-light {
    color: #22a7f0;
    border: solid 1px #bce4fb; }
    .btn-info-outline.ks-light:focus {
      color: #22a7f0;
      border: solid 1px #bce4fb; }
    .btn-info-outline.ks-light:hover {
      border-color: #a6dbf9;
      color: #1b85c0; }
    .btn-info-outline.ks-light:active {
      border: 1px solid #7acaf6;
      color: #146490; }
    .btn-info-outline.ks-light:disabled {
      background-color: transparent;
      border: solid 1px #bce4fb;
      color: #7acaf6; }
  .btn-info-outline.ks-solid {
    color: #22a7f0;
    border: solid 1px #22a7f0;
    background: #fff; }
    .btn-info-outline.ks-solid:focus {
      background-color: transparent;
      color: #22a7f0;
      border: solid 1px #22a7f0; }
    .btn-info-outline.ks-solid:hover {
      background-color: #22a7f0;
      color: #fff;
      border: solid 1px #22a7f0; }
    .btn-info-outline.ks-solid:active {
      color: #fff;
      background-color: #1b85bf !important;
      border: solid 1px #1b85bf; }
    .btn-info-outline.ks-solid:disabled, .btn-info-outline.ks-solid:disabled:hover {
      background-color: transparent;
      color: rgba(34, 167, 240, 0.6);
      border: solid 1px rgba(33, 166, 240, 0.3); }
    .btn-info-outline.ks-solid.ks-light {
      color: #22a7f0;
      border: solid 1px rgba(33, 166, 240, 0.3); }
      .btn-info-outline.ks-solid.ks-light:focus {
        background-color: transparent;
        color: #22a7f0;
        border: solid 1px rgba(33, 166, 240, 0.3); }
      .btn-info-outline.ks-solid.ks-light:hover {
        background-color: rgba(33, 166, 240, 0.1);
        border-color: #e9f6fe;
        color: #22a7f0; }
      .btn-info-outline.ks-solid.ks-light:active {
        background-color: rgba(33, 166, 240, 0.2) !important;
        border: 1px solid #d3edfc;
        color: #22a7f0; }
      .btn-info-outline.ks-solid.ks-light:disabled {
        background-color: transparent;
        border: solid 1px rgba(33, 166, 240, 0.3);
        color: rgba(34, 167, 240, 0.6); }

.btn-warning {
  background: #debb0c;
  border: solid 1px #debb0c; }
  .btn-warning:focus {
    color: #fff;
    background: #debb0c;
    border-color: #debb0c; }
  .btn-warning:hover {
    color: #fff;
    background-color: #b19509;
    border-color: #b19509; }
  .btn-warning:active {
    background-color: #857007 !important;
    border-color: #857007; }
  .btn-warning:disabled, .btn-warning:disabled:hover {
    background-color: #e4c83c;
    border-color: #e4c83c; }
  .btn-warning.ks-light {
    background-color: #fcf8e7;
    color: #debb0c;
    border: solid 1px #fcf8e7; }
    .btn-warning.ks-light:focus {
      background-color: #fcf8e7;
      color: #debb0c;
      border-color: #fcf8e7; }
    .btn-warning.ks-light:hover {
      background-color: #debb0c;
      border-color: #debb0c;
      color: #fff; }
    .btn-warning.ks-light:active {
      background-color: #b19509 !important;
      border-color: #b19509;
      color: #fff; }
    .btn-warning.ks-light:disabled {
      background-color: #fcf8e7;
      border-color: #fcf8e7;
      color: #ebd66d; }

.btn-warning-outline {
  color: #debb0c;
  border: solid 1px #debb0c;
  background: #fff; }
  .btn-warning-outline:focus {
    color: #debb0c;
    border: solid 1px #debb0c; }
  .btn-warning-outline:hover {
    color: #b19509;
    border: solid 1px #b19509; }
  .btn-warning-outline:active {
    color: #857007;
    border: solid 1px #857007; }
  .btn-warning-outline:disabled, .btn-warning-outline:disabled:hover {
    color: #ebd66d;
    border: solid 1px #f5ebb6; }
  .btn-warning-outline.ks-light {
    color: #debb0c;
    border: solid 1px #f5ebb6; }
    .btn-warning-outline.ks-light:focus {
      color: #debb0c;
      border: solid 1px #f5ebb6; }
    .btn-warning-outline.ks-light:hover {
      border-color: #f2e49e;
      color: #b19509; }
    .btn-warning-outline.ks-light:active {
      border: 1px solid #ebd66d;
      color: #857007; }
    .btn-warning-outline.ks-light:disabled {
      border: solid 1px #f5ebb6;
      color: #ebd66d; }
  .btn-warning-outline.ks-solid {
    color: #debb0c;
    border: solid 1px #debb0c;
    background: #fff; }
    .btn-warning-outline.ks-solid:focus {
      background-color: transparent;
      color: #debb0c;
      border: solid 1px #debb0c; }
    .btn-warning-outline.ks-solid:hover {
      background-color: #debb0c;
      color: #fff;
      border: solid 1px #debb0c; }
    .btn-warning-outline.ks-solid:active {
      color: #fff;
      background-color: #b19509 !important;
      border: solid 1px #b19509; }
    .btn-warning-outline.ks-solid:disabled, .btn-warning-outline.ks-solid:disabled:hover {
      background-color: transparent;
      color: #ebd66d;
      border: solid 1px #f5ebb6; }
    .btn-warning-outline.ks-solid.ks-light {
      color: #debb0c;
      border: solid 1px #f5ebb6; }
      .btn-warning-outline.ks-solid.ks-light:focus {
        background-color: transparent;
        color: #debb0c;
        border: solid 1px #f5ebb6; }
      .btn-warning-outline.ks-solid.ks-light:hover {
        background-color: #fcf8e7;
        border-color: #fcf8e7;
        color: #debb0c; }
      .btn-warning-outline.ks-solid.ks-light:active {
        background-color: #f8f1ce !important;
        border: 1px solid #f8f1ce;
        color: #debb0c; }
      .btn-warning-outline.ks-solid.ks-light:disabled {
        background-color: transparent;
        border: solid 1px #f5ebb6;
        color: #ebd66d; }

.btn-danger {
  background: #ec644b;
  border: solid 1px #ec644b; }
  .btn-danger:focus {
    color: #fff;
    background: #ec644b;
    border-color: #ec644b; }
  .btn-danger:hover {
    color: #fff;
    background-color: #bc4f3b;
    border-color: #bc4f3b; }
  .btn-danger:active {
    color: #fff;
    background-color: #8d3b2c !important;
    border-color: #8d3b2c; }
  .btn-danger:disabled, .btn-danger:disabled:hover {
    background-color: #ef836f;
    border-color: #ef836f; }
  .btn-danger.ks-light {
    background-color: #fdf0ed;
    color: #ec644b;
    border: 1px solid #fdf0ed; }
    .btn-danger.ks-light:focus {
      background-color: #fdf0ed;
      border-color: #fdf0ed;
      color: #ec644b; }
    .btn-danger.ks-light:hover {
      background-color: #ec644b;
      border-color: #ec644b;
      color: #fff; }
    .btn-danger.ks-light:active {
      background-color: #bc4f3b !important;
      border-color: #bc4f3b;
      color: #fff; }
    .btn-danger.ks-light:disabled {
      background-color: #fdf0ed;
      color: #f4a293;
      border-color: #fdf0ed; }

.btn-danger-outline {
  color: #ec644b;
  border: solid 1px #ec644b;
  background: #fff; }
  .btn-danger-outline:focus {
    color: #ec644b;
    border: solid 1px #ec644b; }
  .btn-danger-outline:hover {
    color: #bc503c;
    border: solid 1px #bc503c; }
  .btn-danger-outline:active {
    color: #8d3c2d;
    border: solid 1px #8d3c2d; }
  .btn-danger-outline:disabled, .btn-danger-outline:disabled:hover {
    color: #f4a293;
    border: solid 1px #f9d1c9; }
  .btn-danger-outline.ks-light {
    color: #ec644b;
    border: solid 1px #f9d1c9; }
    .btn-danger-outline.ks-light:focus {
      color: #ec644b;
      border: solid 1px #f9d1c9; }
    .btn-danger-outline.ks-light:hover {
      color: #bc503c;
      border-color: #f7c1b7; }
    .btn-danger-outline.ks-light:active {
      color: #8d3c2d;
      border: 1px solid #f4a293; }
    .btn-danger-outline.ks-light:disabled {
      border: solid 1px #f9d1c9;
      color: #f4a293; }
  .btn-danger-outline.ks-solid {
    color: #ec644b;
    border: solid 1px #ec644b;
    background: #fff; }
    .btn-danger-outline.ks-solid:focus {
      background-color: transparent;
      color: #ec644b;
      border: solid 1px #ec644b; }
    .btn-danger-outline.ks-solid:hover {
      background-color: #ec644b;
      color: #fff;
      border: solid 1px #ec644b; }
    .btn-danger-outline.ks-solid:active {
      color: #fff;
      background-color: #bc4f3b !important;
      border: solid 1px #bc4f3b; }
    .btn-danger-outline.ks-solid:disabled, .btn-danger-outline.ks-solid:disabled:hover {
      background-color: transparent;
      color: rgba(236, 100, 75, 0.6);
      border: solid 1px rgba(236, 100, 75, 0.3); }
    .btn-danger-outline.ks-solid.ks-light {
      color: #ec644b;
      border: solid 1px rgba(236, 100, 75, 0.3); }
      .btn-danger-outline.ks-solid.ks-light:focus {
        background-color: transparent;
        color: #ec644b;
        border: solid 1px rgba(236, 100, 75, 0.3); }
      .btn-danger-outline.ks-solid.ks-light:hover {
        background-color: rgba(236, 100, 75, 0.1);
        border-color: #fdf0eb; }
      .btn-danger-outline.ks-solid.ks-light:active {
        background-color: rgba(236, 100, 75, 0.2) !important;
        border: 1px solid #fbe0d7; }
      .btn-danger-outline.ks-solid.ks-light:disabled {
        background-color: transparent;
        border: solid 1px rgba(236, 100, 75, 0.3);
        color: rgba(236, 100, 75, 0.6); }

.btn-dark-tan {
  background: #6f0b19;
  border: solid 1px #6f0b19;
  color: #fff; }
  .btn-dark-tan:focus {
    color: #fff;
    background: #6f0b19;
    border: solid 1px #6f0b19; }
  .btn-dark-tan:hover {
    color: #fff;
    background: #580814;
    border-color: #580814; }
  .btn-dark-tan:active {
    color: #fff;
    background: #42060f;
    border-color: #42060f !important; }
  .btn-dark-tan:disabled, .btn-dark-tan:disabled:hover {
    background-color: #8b3b47;
    border-color: #8b3b47;
    color: rgba(255, 255, 255, 0.6); }

.btn-persian-green {
  background: #00ac93;
  border: solid 1px #00ac93;
  color: #fff; }
  .btn-persian-green:focus {
    color: #fff;
    background: #00ac93;
    border: solid 1px #00ac93; }
  .btn-persian-green:hover {
    color: #fff;
    background: #008975;
    border-color: #008975; }
  .btn-persian-green:active {
    color: #fff;
    background: #006758;
    border-color: #006758 !important; }
  .btn-persian-green:disabled, .btn-persian-green:disabled:hover {
    background-color: #33bca8;
    border-color: #33bca8;
    color: rgba(255, 255, 255, 0.6); }

.btn-royal-blue {
  background: #466bde;
  border: solid 1px #466bde;
  color: #fff; }
  .btn-royal-blue:focus {
    color: #fff;
    background: #466bde;
    border: solid 1px #466bde; }
  .btn-royal-blue:hover {
    color: #fff;
    background: #3855b1;
    border-color: #3855b1; }
  .btn-royal-blue:active {
    color: #fff;
    background: #2a4085;
    border-color: #2a4085 !important; }
  .btn-royal-blue:disabled, .btn-royal-blue:disabled:hover {
    background-color: #6b88e4;
    border-color: #6b88e4;
    color: rgba(255, 255, 255, 0.6); }

.btn-crusta {
  background: #ff8832;
  border: solid 1px #ff8832;
  color: #fff; }
  .btn-crusta:focus {
    color: #fff;
    background: #ff8832;
    border: solid 1px #ff8832; }
  .btn-crusta:hover {
    color: #fff;
    background: #cc6c28;
    border-color: #cc6c28; }
  .btn-crusta:active {
    color: #fff;
    background: #99511e;
    border-color: #99511e !important; }
  .btn-crusta:disabled, .btn-crusta:disabled:hover {
    background-color: #ff9f5b;
    border-color: #ff9f5b;
    color: rgba(255, 255, 255, 0.6); }

.btn-medium-purple {
  background: #994dd8;
  border: solid 1px #994dd8;
  color: #fff; }
  .btn-medium-purple:focus {
    color: #fff;
    background: #994dd8;
    border: solid 1px #994dd8; }
  .btn-medium-purple:hover {
    color: #fff;
    background: #7a3dac;
    border-color: #7a3dac; }
  .btn-medium-purple:active {
    color: #fff;
    background: #5b2e81;
    border-color: #5b2e81 !important; }
  .btn-medium-purple:disabled, .btn-medium-purple:disabled:hover {
    background-color: #ad70df;
    border-color: #ad70df;
    color: rgba(255, 255, 255, 0.6); }

.btn-cerise-red {
  background: #e43e59;
  border: solid 1px #e43e59;
  color: #fff; }
  .btn-cerise-red:focus {
    color: #fff;
    background: #e43e59;
    border: solid 1px #e43e59; }
  .btn-cerise-red:hover {
    color: #fff;
    background: #b63147;
    border-color: #b63147; }
  .btn-cerise-red:active {
    color: #fff;
    background: #882535;
    border-color: #882535 !important; }
  .btn-cerise-red:disabled, .btn-cerise-red:disabled:hover {
    background-color: #e9647a;
    border-color: #e9647a;
    color: rgba(255, 255, 255, 0.6); }

.btn-fuchsia-pink {
  background: #d149cc;
  border: solid 1px #d149cc;
  color: #fff; }
  .btn-fuchsia-pink:focus {
    color: #fff;
    background: #d149cc;
    border: solid 1px #d149cc; }
  .btn-fuchsia-pink:hover {
    color: #fff;
    background: #a73aa3;
    border-color: #a73aa3; }
  .btn-fuchsia-pink:active {
    color: #fff;
    background: #7d2b7a;
    border-color: #7d2b7a !important; }
  .btn-fuchsia-pink:disabled, .btn-fuchsia-pink:disabled:hover {
    background-color: #da6dd6;
    border-color: #da6dd6;
    color: rgba(255, 255, 255, 0.6); }
