.profilepage_2{
    
    .profile-header{
        @extend .align-center;
        
        .profile-image{
            @extend .m-b-20;
        }
	}
}

.profile-social{
    li{
        a{
            font-size: $font16;
            color: $grey-600;

            i{
                width: 20px;
                text-align: center;
                @extend .m-r-10;
            }

            &:hover{
                color: $grey-900;
            }
        }
    }
}