/*---------------------------

Start Documentation

---------------------------*/
.document-section{
  .intro-section,.install-section{
    li{
      font-size: 15px;
      line-height: 25px;
      padding: $gaping-5 $gaping-10;
      a{
        color: $main-site-color;
      }
    }
  }
  .code-bg{
    background: $main-site-color;
    padding: $gaping-10;
    border: 1px solid $main-site-color;
    color: $white-text-color;
    margin-top: 3px;
    display: block;
  }
  .table{
    td{
      a{
        color: $main-site-color;
      }
    }
  }
  .support-text{
    font-size: 17px;
    a{
      color: $main-site-color;
    }
  }
}


/*---- Start responsive Documentation ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive Documentation ----*/

/*---------------------------

End Documentation

---------------------------*/