/*---------------------------

Start Draggable Grid

---------------------------*/

.grid-stack{
  > .grid-stack-item{
    > .grid-stack-item-content {
      border: 1px solid $main-site-color;
      text-align: $text-center;
    }
  }
}
.grid-stack-item-content{
  .fa {
    font-size: 64px;
    display: block;
    margin: $gaping-20 $gaping-0 $gaping-10;
  }
}
/*---- Start responsive Draggable Grid ----*/
@media (max-width: 1366px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}

/*---- End responsive Draggable Grid ----*/

/*---------------------------

End Draggable Grid

---------------------------*/