/*---------------------------

Start Dropdowns

---------------------------*/

.dropdown-page-section {
  .section-body {
    overflow: visible;
    .btn-group {
      margin-bottom: 8px;
      margin-right: $gaping-5;
    }
  }
}
.btn-group {
  > .dropdown-toggle {
    &.float-button-light {
      padding: 6px 8px;
      &.btn-lg {
        padding: $gaping-10 8px;
      }
      &.btn-sm {
        padding: $gaping-5 8px;
      }
      &.btn-xs {
        padding: 1px 8px;
      }
    }
  }
  > .btn:first-child {
    margin-right: $gaping-0;
  }
}
.dropdown-menu{
  li {
    padding: $gaping-0;
    background: $white-light-color;
    a {
      &.float-button-light.waves-button {
        padding: 8px $gaping-10;
        line-height: $gaping-20;
      }
    }
  }
  &.dropdown-menu-primary{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $main-site-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-success{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $success-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-info{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $info-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-warning{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $warning-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-danger{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $danger-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-purple{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $purple-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-pink{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $pink-background-color;
          color: $white-text-color;
        }
      }
    }
  }
  &.dropdown-menu-inverse{
    > li{
      > a{
        &:focus, &:hover {
          background-color: $inverse-background-color;
          color: $white-text-color;
        }
      }
    }
  }
}
.open {
  > .dropdown-menu {
    background: transparent;
    margin: $gaping-0;
    padding: $gaping-0;
    z-index: 3;
    box-shadow: none;
    border: none;
  }
}
.icon-dropdown {
  li {
    i {
      margin-right: $gaping-10;
    }
  }
}
.effect-delay {
  > li {
    &:nth-child(1) {
      animation-delay: 0ms;
    }
    &:nth-child(2) {
      animation-delay: 50ms;
    }
    &:nth-child(3) {
      animation-delay: 100ms;
    }
    &:nth-child(4) {
      animation-delay: 150ms;
    }
  }
}
.dropdown-section {
  .contain-inner-section {
    &.dropdown-body {
      overflow: visible;
    }
  }
}
.show-dropdown {
  width: auto;
  position: static;
  clear: both;
  display: block;
  margin: $gaping-0 $gaping-10 $gaping-0 $gaping-0;
  padding: $gaping-0;
  background: transparent;
  border: none;
  box-shadow: none;
  z-index: 3;
}
.open {
  > .show-dropdown {
    margin-right: $gaping-10;
  }
}
.dropdown-menu.dropdown-icon {
  li {
    a {
      i {
        float: $right-division;
        margin-top: $gaping-5 - 2;
      }
    }
  }
}
.badge-primary, .label-primary{
  background: $main-site-color;
}
.badge-info{
  background: $info-background-color;
}
.badge, .label{
  border-radius: $border-radius-0;
}

/*---- Start responsive grids ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive grids ----*/

/*---------------------------

End Dropdowns

---------------------------*/