/*---------------------------

Start font

---------------------------*/

.icon-size {
  padding: $gaping-10 $gaping-10 $gaping-10 $gaping-15;
  font-size: 15px;
  border-radius: $border-radius-4;
  i{
    margin-right: $gaping-10;
  }
  &:hover {
    color: $white-text-color;
    background: $main-site-color;
    a{
      color: $white-text-color;
    }
  }
  .icon-name{
    margin-left: $gaping-10;
  }
}
.flag-icon{
  font-size: 25px;
  vertical-align: middle;
}
/*---- Start responsive font ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive font ----*/

/*---------------------------

End font

---------------------------*/