/*---------------------------

Start gallery

---------------------------*/

.gallery-section {
  #portfolio {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
  .tile {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    overflow: hidden;
    margin-bottom: $gaping-15;
  }
  .scale-anm {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .tile{
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      box-shadow: 0 1px 2px transparent, 0 1px 4px rgba(0, 0, 0, 0.3);
      /*-ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);*/
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    &:hover{
      img{
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }
  .gallery-button {
    text-align: $text-center;
    margin-bottom: $gaping-20;
  }
}
/*---- Start responsive gallery ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive gallery ----*/

/*---------------------------

End gallery

---------------------------*/