/*---------------------------

Start grids

---------------------------*/
.list-typography{
  ul,ol{
    li{
      padding: 0;
      line-height: inherit;
    }
  }
}
.drop-cap{
  float: $left-division;
  margin-right: $gaping-5;
  font-size: 40px;
  line-height: $gaping-50;
}
.show-grid [class^="col-"] {
  padding-top: $gaping-10;
  padding-bottom: $gaping-10;
  background-color: #eee;
  border: 1px solid $normal-gray-text-color;
  margin-bottom: $gaping-10;
}

/*---- Start responsive grids ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive grids ----*/

/*---------------------------

End grids

---------------------------*/