/*---------------------------

Start invoice

---------------------------*/

.invoice-section {
  .invoice-left {
    .logo {
      width: 100px;
    }
  }
  .invoice-bill-title{
    font-size: 18px;
    font-weight: $semi-bold-text;
  }
}

/*---- Start responsive invoice ----*/
@media (max-width: 1366px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}

/*---- End responsive invoice ----*/

/*---------------------------

End invoice

---------------------------*/