/*---------------------------

Start vector map

---------------------------*/

.vector-map{
  .jqvmap-zoomin, .jqvmap-zoomout {
    background-color: $main-site-color;
    width: 22px;
    height: 22px;
    line-height: $gaping-15;
  }
  .jqvmap-zoomout{
    top: $gaping-40;
  }
}

/*---- Start responsive vector map ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive vector map ----*/

/*---------------------------

End vector map

---------------------------*/