/*---------------------------

Start modals

---------------------------*/
.modal-button{
  .btn{
    margin-bottom: 8px;
  }
}
.modal-content{
  border-radius: 0;
}
.modal-footer{
  .btn{
    margin-bottom: $gaping-0;
  }
}
.modal-header{
  .close {
    margin-top: 4px;
  }
  .modal-title{
    font-size: 20px;
  }
}
.primary-modal{
  background: $main-site-color;
  .modal-title{
    color: $white-text-color;
  }
}
.info-modal{
  background: $info-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.success-modal{
  background: $success-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.warning-modal{
  background: $warning-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.danger-modal{
  background: $danger-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.purple-modal{
  background: $purple-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.pink-modal{
  background: $pink-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
.inverse-modal{
  background: $inverse-background-color;
  .modal-title{
    color: $white-text-color;
  }
}
/*---- Start responsive modals ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {

}
/*---- End responsive modals ----*/

/*---------------------------

End modals

---------------------------*/