/*---------------------------

Start Progressbar

---------------------------*/

.progress-bar-vertical {
  min-height: 250px;
  height: 250px;
  position: $position-relative;
  display: inline-block;
  margin-bottom: $gaping-0;
  margin-right: $gaping-20;
}

.progress-bottom-vertical {
  min-height: 250px;
  height: 250px;
  position: $position-relative;
  display: inline-block;
  margin-bottom: $gaping-0;
  margin-right: $gaping-20;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.progress{
  border-radius: $border-radius-0;
}
.progress-bar-primary{
  background-color: $main-site-color;
}

.progress-bar-purple{
  background-color: $purple-background-color;
}

.progress-bar-pink{
  background-color: $pink-background-color;
}

/*---- Start responsive Progressbar ----*/
@media (max-width:1366px) {

}

@media (max-width:1199px) {

}

@media (max-width:991px) {

}

@media (max-width:767px) {

}

@media (max-width:479px) {
  .progress {
    height: 18px;
    margin-bottom: 12px;
  }
  .progress-bar-vertical, .progress-bottom-vertical{
    margin-right: 12px;
  }
}
/*---- End responsive Progressbar ----*/

/*---------------------------

End Progressbar

---------------------------*/