/*==============================

START WAVES

================================*/

a{
  &.float-button-light{
   &.waves-button {
     padding:$gaping-0;
     box-shadow: none;
     border-radius: $gaping-0;
     white-space: normal;
     text-align: $text-left;
   }
  }
}

/*---- RIGHT SIDE BAR TAB ----*/
.right-message-box {
  .nav-pills {
    a{
      &.float-button-light{
        &.waves-button {
          text-align: $text-center;
          padding:$gaping-15 $gaping-0;
        }
      }
    }
  }
}

/*---- GLOBAL CSS ----*/
.btn{
  &.float-button-light{
    padding:$gaping-5 + 1 $gaping-15;
    box-shadow: none;
    border-radius: $gaping-0;
    white-space: normal;
    line-height:$gaping-20;
    margin-right: $gaping-5;
    &:last-child {
      margin-right: $gaping-0;
    }
    &:hover, &:active, &:focus  {
      padding:$gaping-5 + 1 $gaping-15;
      line-height:$gaping-20;
      border-style:solid;
      border-width:1px;
    }
  }
}



/*---- BUTTON PAGE CSS ----*/
.main_container {
  .float-button-light.btn-lg {
    font-size: 18px;
    line-height: 1.33333;
    padding: $gaping-10 16px;
  }
  .float-button-light.btn-sm {
    font-size: 12px;
    line-height: 1.5;
    padding: $gaping-5 $gaping-10;
  }
  .float-button-light.btn-xs {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px $gaping-5
  }
}
/*==============================

END WAVES

================================*/