$main_color:                $brand-primary;
$dark_bg:                   #263237;
$bg_section_features:       #f5f5f5;
$bg_section_faq:            #f5f5f5;
$material_animation:        cubic-bezier(.4,0,.2,1);
