body {
	padding-top: 40px;
	font-family: Helvetica,Arial,sans-serif;
	background-color: #F5F5F5;
}

#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 15px;
}

.navbar a {
	outline: 0;
}

.navbar .fa, .navbar .glyphicon {
    margin-right: 2px;
    min-width: 18px;
}

/* side nav colors */
.navbar-default .side-nav {
	background-color: #67A9CE;
}
.navbar-inverse .side-nav {
	background-color: #DDDDDD;
}
.panel .panel-title {
	font-size: 13px;
	font-weight: bold;
}
.panel .panel-heading {
	border-radius: 0;
}

.nav-list > a {
	cursor: pointer;
}
.nav-list .navbar-nav li {
	display: block;
	width: 100%;
}
.nav-list .navbar-nav li > a {
	padding-left: 30px;
}

.nav-list-expandable .navbar-nav {
	display: none;
}
.nav-list-expandable.nav-list-expanded > a .caret {
	
}
.nav-list-expandable:not(.nav-list-expanded) > a .caret {
	border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    width: 0;
}

/* nav messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}
.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}
.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
}
.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}

/* nav announcements */
.alerts-heading {
    font-size: 50px;
    margin: 0;
}
.alerts-text {
    margin: 0;
}

.side-nav {
	overflow: hidden;
}

/* ShieldUI-related styles */
.pbd-switch.sui-switch-checked .sui-switch-inner {
	background-color: transparent;
}

/* edit below to customize widths < 768px */
@media (max-width: 767px) {
}

/* edit below to customize widths > 768px */
@media (min-width:768px) {
    /* wrappers */
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 25px;
    }

    /* side nav */
    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 41px;
        height: 100%;
        border-radius: 0;
        border: none;
        overflow-y: auto;
    }

    /*menu overrides*/
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        padding: 15px 15px 15px 25px;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
		
    }
    .side-nav>li>a {
        width: 225px;
    }

    /* nav messages */
    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }
    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }
    .navbar-collapse {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
