
$slim-header-height:              75px;
$slim-navbar-height:              46px;

$slim-primary:                    #4662D4;

// social color
$facebook-color:                  #4267B2;
$twitter-color:                   #329CC3;
$google-color:                    #D64937;
