.dashboard-flot-chart {
    height:199px;
}

.dashboard-donut-chart {
    height: 265px;
}

.dashboard-line-chart {
    height: 250px;
}

.dashboard-stat-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;

    li {
        padding: 15px 0 0 0;

        small {
            font-size: 8px;
        }
    }
}

.top-report{

    h3{
        margin:0;
        color:#3d4c5a;
        font-weight:400;
    }
    
    .progress{
        height:5px;
        margin-bottom:10px;
    }
}

@media only screen and (max-width: 767px) {
    
    
}

@media only screen and (max-width: 414px) {
    
}