<div class="page-content">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <h2>Title here</h2>
                <ol class="breadcrumb breadcrumb-simple">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            </div>
        </header>

        <div class="row">
            <div class="col-sm-6">
                <ul style="font-size: 1rem">
                    <li><a href="side-menu-full.html">side-menu-full.html</a></li>
                    <li><a href="side-menu-big-icon.html">side-menu-big-icon.html</a></li>
                    <li><a href="side-menu-avatar.html">side-menu-avatar.html</a></li>
                    <li><a href="side-menu-compact.html">side-menu-compact.html</a></li>
                    <li><a href="side-menu-compact-full.html">side-menu-compact-full.html</a></li>
                    <li><a href="side-menu-compact-divider.html">side-menu-compact-divider.html</a></li>
                    <li><a href="side-menu-compact-avatar.html">side-menu-compact-avatar.html</a></li>
                    <li><a href="side-menu-compact-addl.html">side-menu-compact-addl.html</a></li>
                    <li><a href="side-menu-addl.html">side-menu-addl.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="dashboard.html">dashboard.html</a></li>
                    <li><a href="dashboard-compact-menu.html">dashboard-compact-menu.html</a></li>
                    <li><a href="dashboard-addl-menu.html">dashboard-addl-menu.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="ui-checkboxes.html">ui-checkboxes.html</a></li>
                    <li><a href="ui-buttons.html">ui-buttons.html</a></li>
                    <li><a href="ui-form.html">ui-form.html</a></li>
                    <li><a href="ui-form-validation.html">ui-form-validation.html</a></li>
                    <li><a href="ui-form-extras.html">ui-form-extras.html</a></li>
                    <li><a href="ui-select.html">ui-select.html</a></li>
                    <li><a href="ui-datepicker.html">ui-datepicker.html</a></li>
                    <li><a href="tables.html">tables.html</a></li>
                    <li><a href="datatables.html">datatables.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="typography.html">typography.html</a></li>
                    <li><a href="elements.html">elements.html</a></li>
                    <li><a href="contacts.html">contacts.html</a></li>
                    <li><a href="activity.html">activity.html</a></li>
                    <li><a href="tabs.html">tabs.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="sign-in.html">sign-in.html</a></li>
                    <li><a href="sign-up.html">sign-up.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="faq.html">faq.html</a></li>
                    <li><a href="documentation.html">documentation.html</a></li>
                    <li><a href="empty.html">empty.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="prices.html">prices.html</a></li>
                    <li><a href="panels.html">panels.html</a></li>
                    <li><a href="range-slider.html">range-slider.html</a></li>
                    <li><a href="gallery.html">gallery.html</a></li>
                    <li><a href="editor.html">editor.html</a></li>
                    <li><a href="contacts-page.html">contacts-page.html</a></li>
                    <li><a href="files.html">files.html</a></li>
                    <li><a href="mail.html">mail.html</a></li>
                    <li><a href="list-tasks.html">list-tasks.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="profile-2.html">profile-2.html</a></li>
                    <li><a href="profile-2-bg.html">profile-2-bg.html</a></li>
                    <li><a href="profile-2-bg-light.html">profile-2-bg-light.html</a></li>
                    <li><a href="helpers.html">helpers.html</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul style="font-size: 1rem">
                    <li><a href="profile.html">profile.html</a></li>
                    <li><a href="profile-edit.html">profile-edit.html</a></li>
                    <li><a href="scheduler.html">scheduler.html</a></li>
                    <li><a href="avatars.html">avatars.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="chat.html">chat.html</a></li>
                    <li><a href="chat-write.html">chat-write.html</a></li>
                    <li><a href="chat-index.html">chat-index.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="#" class="swal-btn-basic">alert basic</a></li>
                    <li><a href="#" class="swal-btn-text">alert text</a></li>
                    <li><a href="#" class="swal-btn-success">alert success</a></li>
                    <li><a href="#" class="swal-btn-warning">alert warning</a></li>
                    <li><a href="#" class="swal-btn-cancel">alert cancel</a></li>
                    <li><a href="#" class="swal-btn-info">alert info</a></li>
                    <li><a href="#" class="swal-btn-custom-img">alert custom image</a></li>
                    <li>&nbsp;</li>
                    <li><a href="upload-dashboard.html">upload-dashboard.html</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#uploadModal">popup upload</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#upload2Modal">popup upload bottom menu</a></li>
                    <li>&nbsp;</li>
                    <li><a href="error-404.html">error-404.html</a></li>
                    <li><a href="error-500.html">error-500.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="notice-notie.js.html">notice-notie.js.html</a></li>
                    <li><a href="notice-bootstrap-notify.html">notice-bootstrap-notify.html</a></li>
                    <li><a href="notice-pnotify.html">notice-pnotify.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="dark-menu.html">dark-menu.html</a></li>
                    <li><a href="dark-menu-blue.html">dark-menu-blue.html</a></li>
                    <li><a href="dark-menu-green.html">dark-menu-green.html</a></li>
                    <li><a href="dark-menu-green-compact.html">dark-menu-green-compact.html</a></li>
                    <li><a href="dark-menu-ultramarine.html">dark-menu-ultramarine.html</a></li>
                    <li><a href="asphalt-menu.html">asphalt-menu.html</a></li>
                    <li><a href="light-menu.html">light-menu.html</a></li>
                    <li>&nbsp;</li>
                    <li><a href="nestable.html">nestable.html</a></li>
                    <li><a href="range-slider-2.html">range-slider-2.html</a></li>
                    <li><a href="alerts.html">alerts.html</a></li>
                    <li><a href="player.html">player.html</a></li>
                    <li><a href="faq-search.html">faq-search.html</a></li>
                    <li><a href="steps.html">steps.html</a></li>
                    <li><a href="widgets.html">widgets.html</a></li>
                    <li><a href="cards.html">cards.html</a></li>
                    <li><a href="project.html">project.html</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#upload3Modal">popup upload big icons</a></li>
                    <li>&nbsp;</li>
                    <li><a href="theme-side-ebony-clay.html">theme-side-ebony-clay.html</a></li>
                    <li><a href="theme-side-madison-caribbean.html">theme-side-madison-caribbean.html</a></li>
                    <li><a href="theme-side-caesium-dark-caribbean.html">theme-side-caesium-dark-caribbean.html</a></li>
                    <li><a href="theme-side-tin.html">theme-side-tin.html</a></li>
                    <li><a href="theme-side-litmus-blue.html">theme-side-litmus-blue.html</a></li>
                    <li><a href="theme-rebecca-purple.html">theme-rebecca-purple.html</a></li>
                    <li><a href="theme-picton-blue.html">theme-picton-blue.html</a></li>
                    <li><a href="theme-picton-blue-white-ebony.html">theme-picton-blue-white-ebony.html</a></li>
                </ul>
            </div>
        </div>
        <br/>
    </div><!--.container-fluid-->
</div><!--.page-content-->
