<div class="modal fade" id="upload3Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
            </div>
            <div class="modal-upload menu-big-icons">
                <div class="modal-upload-cont">
                    <div class="modal-upload-cont-in">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-upload-3-1">
                                Content 1
                            </div><!--.tab-pane-->
                            <div role="tabpanel" class="tab-pane" id="tab-upload-3-2">
                                Content 2
                            </div><!--.tab-pane-->
                            <div role="tabpanel" class="tab-pane" id="tab-upload-3-3">
                                Content 3
                            </div><!--.tab-pane-->
                            <div role="tabpanel" class="tab-pane" id="tab-upload-3-4">
                                Yandex Disk
                            </div><!--.tab-pane-->
                            <div role="tabpanel" class="tab-pane" id="tab-upload-3-5">
                                Box
                            </div><!--.tab-pane-->
                            <div role="tabpanel" class="tab-pane" id="tab-upload-3-6">
                                One drive
                            </div><!--.tab-pane-->
                        </div><!--.tab-content-->
                    </div><!--.modal-upload-cont-in-->
                </div><!--.modal-upload-cont-->
                <div class="modal-upload-side">
                    <ul class="upload-list" role="tablist">
                        <li class="nav-item">
                            <a href="#tab-upload-3-1" role="tab" data-toggle="tab" class="active">
                                <i class="font-icon font-icon-comp"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab-upload-3-2" role="tab" data-toggle="tab">
                                <i class="font-icon font-icon-link"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab-upload-3-3" role="tab" data-toggle="tab">
                                <i class="font-icon font-icon-fb-fill"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab-upload-3-4" role="tab" data-toggle="tab">
                                <i class="font-icon font-icon-dropbox"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab-upload-3-5" role="tab" data-toggle="tab">
                                <i class="font-icon font-icon-google-drive"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab-upload-3-6" role="tab" data-toggle="tab">
                                <i class="font-icon font-icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--.modal-->