/*    Font Variable
----------------------*/
/*    Color Variable
-----------------------*/
/*    Solid Color
------------------*/
/*    Brand color
----------------------*/
.booking-system-feedback {
  top: 5px !important;
  right: 15px;
}
.booking-system-top {
  padding-top: 15px;
}
.media-body {
  vertical-align: middle;
}
.media-body span {
  font-size: 10px;
  color: #03a9f5;
}
.media-body p {
  color: #252525;
  line-height: 15px;
}
