.search-box .kv-item{
	float: left;
}

.search-box .kv-item input{
	width: 130px;
}



.search-box .query-btn{
	float: left;
	margin-left: 30px;
}


.iselect-wrapper{

	width: 45px;
}

.iselect-wrapper .iselect{
	width:72px;
}