<div class="file-storage__photos">
  {% include "./partials/album-header.html" %}
  <div class="file-storage__photos-body file-storage__albums-body">
    <div class="file-storage__albums-scrollpane js-scrollable">
      <div class="file-storage__albums-container">
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch1" value="1" checked>
              <label class="custom-control-label" for="ch1"></label>
            </div>
            <img src="img/demo/11.png" alt="" class="file-storage__albums-album-preview-image">
            <img src="img/27.png" alt="" class="file-storage__albums-album-shared-image">
          </div>
          <div class="file-storage__albums-album-name">2019 Croatia</div>
          <div class="file-storage__albums-album-desc">20 photos</div>
        </div>
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch2" value="1" checked>
              <label class="custom-control-label" for="ch2"></label>
            </div>
            <img src="img/demo/13.png" alt="" class="file-storage__albums-album-preview-image">
          </div>
          <div class="file-storage__albums-album-name">2019 Croatia</div>
          <div class="file-storage__albums-album-desc">20 photos</div>
        </div>
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch3" value="1" checked>
              <label class="custom-control-label" for="ch3"></label>
            </div>
            <img src="img/demo/14.png" alt="" class="file-storage__albums-album-preview-image">
          </div>
          <div class="file-storage__albums-album-name">2019 Italy</div>
          <div class="file-storage__albums-album-desc">103 photos – shared by Jean (read only)</div>
        </div>
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch4" value="1" checked>
              <label class="custom-control-label" for="ch4"></label>
            </div>
            <img src="img/demo/20.png" alt="" class="file-storage__albums-album-preview-image">
          </div>
          <div class="file-storage__albums-album-name">Family</div>
          <div class="file-storage__albums-album-desc">9 photos</div>
        </div>
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch4" value="1" checked>
              <label class="custom-control-label" for="ch4"></label>
            </div>
            <img src="img/demo/21.png" alt="" class="file-storage__albums-album-preview-image">
          </div>
          <div class="file-storage__albums-album-name">Screenshots</div>
          <div class="file-storage__albums-album-desc">15 photos</div>
        </div>
        <div class="file-storage__albums-album">
          <div class="file-storage__albums-album-preview">
            <div class="custom-control custom-checkbox file-storage__albums-album-checkbox">
              <input type="checkbox" class="custom-control-input" id="ch4" value="1" checked>
              <label class="custom-control-label" for="ch4"></label>
            </div>
            <img src="img/demo/26.png" alt="" class="file-storage__albums-album-preview-image">
          </div>
          <div class="file-storage__albums-album-name">Weekends Hiking</div>
          <div class="file-storage__albums-album-desc">26 photos</div>
        </div>
      </div>
    </div>
  </div>
</div>
