<div class="file-storage__upload">
  <div class="file-storage__upload-header">
    Uploading 6 files to App
  </div>
  <div class="file-storage__upload-body">
    <div class="file-storage__upload-scrollpane js-scrollable">
      <div class="file-storage__upload-item">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="iconfont-check-mark file-storage__upload-item-status-icon file-storage__upload-item-success"></div>
        </div>
      </div>
      <div class="file-storage__upload-item has-error">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="iconfont-warning file-storage__upload-item-status-icon file-storage__upload-item-warning"></div>
        </div>
      </div>
      <div class="file-storage__upload-item">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="file-storage__upload-item-action">Cancel</div>
        </div>
      </div>
      <div class="file-storage__upload-item">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="iconfont-close file-storage__upload-item-status-icon file-storage__upload-item-close"></div>
        </div>
      </div>
      <div class="file-storage__upload-item">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="file-storage__upload-item-action">Cancel</div>
        </div>
      </div>
      <div class="file-storage__upload-item">
        <div class="file-storage__upload-item-preview">
          <img src="img/34.png" alt="" class="file-storage__upload-item-image">
        </div>
        <div class="file-storage__upload-item-name">Screenshot 2016-11-09<span class="file-storage__upload-item-extension">.jpg</span></div>
        <div class="file-storage__upload-item-status">
          <div class="file-storage__upload-item-action">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
