<div class="file-storage__header">
  <div class="file-storage__header-panel">
    <div class="file-storage__header-panel-amount">1 selected</div>
    <div class="file-storage__header-panel-body">
      <div class="file-storage__header-panel-controls">
        <span class="file-storage__header-panel-control">
          <span class="iconfont-share file-storage__header-panel-control-icon"></span>
          <span class="file-storage__header-panel-control-text">Share</span>
        </span>
        <span class="file-storage__header-panel-control">
          <span class="iconfont-download file-storage__header-panel-control-icon"></span>
          <span class="file-storage__header-panel-control-text">Download</span>
        </span>
        <span class="file-storage__header-panel-control">
          <span class="iconfont-trash file-storage__header-panel-control-icon"></span>
          <span class="file-storage__header-panel-control-text">Delete</span>
        </span>
        <span class="file-storage__header-panel-control">
          <span class="iconfont-pencil file-storage__header-panel-control-icon"></span>
          <span class="file-storage__header-panel-control-text">Rename</span>
        </span>
        <span class="file-storage__header-panel-control">
          <span class="iconfont-move file-storage__header-panel-control-icon"></span>
          <span class="file-storage__header-panel-control-text">Add to album</span>
        </span>
      </div>
      <span class="file-storage__header-panel-control">
        <span class="ua-icon-alert-close file-storage__header-panel-control-icon"></span>
      </span>
    </div>
  </div>
</div>
