<div class="file-storage__photos">
  {% include "./partials/photos-header.html" %}
  <div class="file-storage__photos-body">
    <div class="file-storage__photos-body-scrollpane js-scrollable">
      <div class="file-storage__photos-heading">Nov 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo is-selected">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch1" value="1" checked>
            <label class="custom-control-label" for="ch1"></label>
          </div>
          <img src="img/demo/11.png" alt="" class="file-storage__photos-photo-image">
          <img src="img/27.png" alt="" class="file-storage__albums-album-shared-image">
        </div>
        <div class="file-storage__photos-photo is-selected">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch2" value="1" checked>
            <label class="custom-control-label" for="ch2"></label>
          </div>
          <img src="img/demo/12.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch3" value="1">
            <label class="custom-control-label" for="ch3"></label>
          </div>
          <img src="img/demo/13.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch4" value="1">
            <label class="custom-control-label" for="ch4"></label>
          </div>
          <img src="img/demo/14.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch5" value="1">
            <label class="custom-control-label" for="ch5"></label>
          </div>
          <img src="img/demo/15.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch6" value="1">
            <label class="custom-control-label" for="ch6"></label>
          </div>
          <img src="img/demo/16.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch7" value="1">
            <label class="custom-control-label" for="ch7"></label>
          </div>
          <img src="img/demo/17.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch8" value="1">
            <label class="custom-control-label" for="ch8"></label>
          </div>
          <img src="img/demo/18.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
      <div class="file-storage__photos-heading">Oct 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch9" value="1">
            <label class="custom-control-label" for="ch9"></label>
          </div>
          <img src="img/demo/19.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch10" value="1">
            <label class="custom-control-label" for="ch10"></label>
          </div>
          <img src="img/demo/20.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch11" value="1">
            <label class="custom-control-label" for="ch11"></label>
          </div>
          <img src="img/demo/21.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch12" value="1">
            <label class="custom-control-label" for="ch12"></label>
          </div>
          <img src="img/demo/26.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
      <div class="file-storage__photos-heading">Oct 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch15" value="1">
            <label class="custom-control-label" for="ch15"></label>
          </div>
          <img src="img/demo/21.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch13" value="1">
            <label class="custom-control-label" for="ch13"></label>
          </div>
          <img src="img/demo/19.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <div class="custom-control custom-checkbox file-storage__photos-photo-checkbox">
            <input type="checkbox" class="custom-control-input" id="ch14" value="1">
            <label class="custom-control-label" for="ch14"></label>
          </div>
          <img src="img/demo/20.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
    </div>
  </div>
</div>
