<div class="file-storage__photos">
  {% include "./partials/photos-header.html" %}
  <div class="file-storage__photos-body">
    <div class="file-storage__photos-empty">
      <img src="img/photos-empty.png" alt="" class="file-storage__photos-empty-image">
      <div class="file-storage__photos-empty-heading">You don't have any photos yet</div>
      <div class="file-storage__photos-empty-desc">Start by clicking on «Upload Photo» on the header to upload your first photo.</div>
    </div>
  </div>
</div>
