<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/rickshaw/css/rickshaw.min.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body class="dashboard-5">
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

          <div class="search-box">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div><!-- search-box -->
        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-a">
            <a href="" class="header-notification" data-toggle="dropdown">
              <i class="icon ion-ios-bolt-outline"></i>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title">Activity Logs</h6>
                <div>
                  <a href="">Filter List</a>
                  <a href="">Settings</a>
                </div>
              </div><!-- dropdown-menu-header -->
              <div class="dropdown-activity-list">
                <div class="activity-label">Today, December 13, 2017</div>
                <div class="activity-item">
                  <div class="row no-gutters">
                    <div class="col-2 tx-right">10:15am</div>
                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                    <div class="col-8">Purchased christmas sale cloud storage</div>
                  </div><!-- row -->
                </div><!-- activity-item -->
                <div class="activity-item">
                  <div class="row no-gutters">
                    <div class="col-2 tx-right">9:48am</div>
                    <div class="col-2 tx-center"><span class="square-10 bg-danger"></span></div>
                    <div class="col-8">Login failure</div>
                  </div><!-- row -->
                </div><!-- activity-item -->
                <div class="activity-item">
                  <div class="row no-gutters">
                    <div class="col-2 tx-right">7:29am</div>
                    <div class="col-2 tx-center"><span class="square-10 bg-warning"></span></div>
                    <div class="col-8">(D:) Storage almost full</div>
                  </div><!-- row -->
                </div><!-- activity-item -->
                <div class="activity-item">
                  <div class="row no-gutters">
                    <div class="col-2 tx-right">3:21am</div>
                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                    <div class="col-8">1 item sold <strong>Christmas bundle</strong></div>
                  </div><!-- row -->
                </div><!-- activity-item -->
                <div class="activity-label">Yesterday, December 12, 2017</div>
                <div class="activity-item">
                  <div class="row no-gutters">
                    <div class="col-2 tx-right">6:57am</div>
                    <div class="col-2 tx-center"><span class="square-10 bg-success"></span></div>
                    <div class="col-8">Earn new badge <strong>Elite Author</strong></div>
                  </div><!-- row -->
                </div><!-- activity-item -->
              </div><!-- dropdown-activity-list -->
              <div class="dropdown-list-footer">
                <a href="page-activity.html"><i class="fa fa-angle-down"></i> Show All Activities</a>
              </div>
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-b">
            <a href="" class="header-notification" data-toggle="dropdown">
              <i class="icon ion-ios-bell-outline"></i>
              <span class="indicator"></span>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-menu-header">
                <h6 class="dropdown-menu-title">Notifications</h6>
                <div>
                  <a href="">Mark All as Read</a>
                  <a href="">Settings</a>
                </div>
              </div><!-- dropdown-menu-header -->
              <div class="dropdown-list">
                <!-- loop starts here -->
                <a href="" class="dropdown-link">
                  <div class="media">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <div class="media-body">
                      <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                      <span>October 03, 2017 8:45am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <!-- loop ends here -->
                <a href="" class="dropdown-link">
                  <div class="media">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <div class="media-body">
                      <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                      <span>October 02, 2017 12:44am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="dropdown-link read">
                  <div class="media">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <div class="media-body">
                      <p>20+ new items added are for sale in your <strong>Sale Group</strong></p>
                      <span>October 01, 2017 10:20pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="dropdown-link read">
                  <div class="media">
                    <img src="http://via.placeholder.com/500x500" alt="">
                    <div class="media-body">
                      <p><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                      <span>October 01, 2017 6:08pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <div class="dropdown-list-footer">
                  <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All Notifications</a>
                </div>
              </div><!-- dropdown-list -->
            </div><!-- dropdown-menu-right -->
          </div><!-- dropdown -->
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Katherine</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
      <div class="container">
        <ul class="nav">
          <li class="nav-item with-sub active">
            <a class="nav-link" href="#">
              <i class="icon ion-ios-home-outline"></i>
              <span>Dashboard</span>
            </a>
            <div class="sub-item">
              <ul>
                <li><a href="index.html">Dashboard 01</a></li>
                <li><a href="index2.html">Dashboard 02</a></li>
                <li><a href="index3.html">Dashboard 03</a></li>
                <li><a href="index4.html">Dashboard 04</a></li>
                <li><a href="index5.html">Dashboard 05</a></li>
              </ul>
            </div><!-- sub-item -->
          </li>
          <li class="nav-item with-sub mega-dropdown">
            <a class="nav-link" href="#">
              <i class="icon ion-ios-filing-outline"></i>
              <span>UI Elements</span>
            </a>
            <div class="sub-item">
              <div class="row">
                <div class="col-lg-5">
                  <label class="section-label">Basic Elements</label>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li><a href="elem-accordion.html">Accordion</a></li>
                        <li><a href="elem-alerts.html">Alerts</a></li>
                        <li><a href="elem-buttons.html">Buttons</a></li>
                        <li><a href="elem-cards.html">Cards</a></li>
                        <li><a href="elem-carousel.html">Carousel</a></li>
                        <li><a href="elem-dropdowns.html">Dropdown</a></li>
                        <li><a href="elem-icons.html">Icons</a></li>
                        <li><a href="elem-images.html">Images</a></li>
                        <li><a href="elem-lists.html">Lists</a></li>
                      </ul>
                    </div><!-- col -->
                    <div class="col-lg">
                      <ul>
                        <li><a href="elem-modal.html">Modal</a></li>
                        <li><a href="elem-media.html">Media Object</a></li>
                        <li><a href="elem-navigation.html">Navigation</a></li>
                        <li><a href="elem-pagination.html">Pagination</a></li>
                        <li><a href="elem-tooltip.html">Tooltip</a></li>
                        <li><a href="elem-popover.html">Popover</a></li>
                        <li><a href="elem-progress.html">Progress</a></li>
                        <li><a href="elem-spinner.html">Spinner</a></li>
                        <li><a href="elem-typography.html">Typography</a></li>
                      </ul>
                    </div><!-- col -->
                  </div><!-- row -->
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label">Charts</label>
                  <ul>
                    <li><a href="chart-morris.html">Morris Charts</a></li>
                    <li><a href="chart-flot.html">Flot Charts</a></li>
                    <li><a href="chart-chartjs.html">ChartJS</a></li>
                    <li><a href="chart-echarts.html">ECharts</a></li>
                    <li><a href="chart-chartist.html">Chartist</a></li>
                    <li><a href="chart-rickshaw.html">Rickshaw</a></li>
                    <li><a href="chart-sparkline.html">Sparkline</a></li>
                    <li><a href="chart-peity.html">Peity</a></li>
                  </ul>
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label">Maps</label>
                  <ul>
                    <li><a href="map-google.html">Google Maps</a></li>
                    <li><a href="map-leaflet.html">Leaflet Maps</a></li>
                    <li><a href="map-vector.html">Vector Maps</a></li>
                  </ul>

                  <label class="section-label mg-t-20">Tables</label>
                  <ul>
                    <li><a href="table-basic.html">Basic Table</a></li>
                    <li><a href="table-datatable.html">Data Table</a></li>
                  </ul>
                </div><!-- col -->
                <div class="col-lg mg-t-30 mg-lg-t-0">
                  <label class="section-label">Helper / Utilities</label>
                  <ul>
                    <li><a href="util-background.html">Background</a></li>
                    <li><a href="util-border.html">Border</a></li>
                    <li><a href="util-height.html">Height</a></li>
                    <li><a href="util-margin.html">Margin</a></li>
                    <li><a href="util-padding.html">Padding</a></li>
                    <li><a href="util-position.html">Position</a></li>
                    <li><a href="util-typography.html">Typography</a></li>
                    <li><a href="util-width.html">Width</a></li>
                  </ul>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item with-sub">
            <a class="nav-link" href="#">
              <i class="icon ion-ios-book-outline"></i>
              <span>Pages</span>
            </a>
            <div class="sub-item">
              <ul>
                <li><a href="page-profile.html">Profile Page</a></li>
                <li><a href="page-invoice.html">Invoice</a></li>
                <li><a href="page-contact.html">Contact Manager</a></li>
                <li><a href="page-file-manager.html">File Manager</a></li>
                <li><a href="page-calendar.html">Calendar</a></li>
                <li><a href="page-timeline.html">Timeline</a></li>
                <li class="sub-with-sub">
                  <a href="#">Pricing</a>
                  <ul>
                    <li><a href="page-pricing.html">Pricing 01</a></li>
                    <li><a href="page-pricing2.html">Pricing 02</a></li>
                    <li><a href="page-pricing3.html">Pricing 03</a></li>
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="page-signin.html">Sign In</a>
                  <ul>
                    <li><a href="page-signin.html">Signin Simple</a></li>
                    <li><a href="page-signin2.html">Signin Split</a></li>
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="page-signup.html">Sign Up</a>
                  <ul>
                    <li><a href="page-signup.html">Signup Simple</a></li>
                    <li><a href="page-signup2.html">Signup Split</a></li>
                  </ul>
                </li>
                <li class="sub-with-sub">
                  <a href="#">Error Pages</a>
                  <ul>
                    <li><a href="page-404.html">404 Not Found</a></li>
                    <li><a href="page-505.html">505 Forbidden</a></li>
                    <li><a href="page-500.html">500 Internal Server</a></li>
                    <li><a href="page-503.html">503 Service Unavailable</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item with-sub">
            <a class="nav-link" href="#" data-toggle="dropdown">
              <i class="icon ion-ios-gear-outline"></i>
              <span>Forms</span>
            </a>
            <div class="sub-item">
              <ul>
                <li><a href="form-elements.html">Form Elements</a></li>
                <li><a href="form-layouts.html">Form Layouts</a></li>
                <li><a href="form-validation.html">Form Validation</a></li>
                <li><a href="form-wizards.html">Form Wizards</a></li>
                <li><a href="form-editor.html">WYSIWYG Editor</a></li>
                <li><a href="form-select2.html">Select2</a></li>
                <li><a href="form-rangeslider.html">Range Slider</a></li>
                <li><a href="form-datepicker.html">Datepicker</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page-messages.html">
              <i class="icon ion-ios-chatboxes-outline"></i>
              <span>Messages</span>
              <span class="square-8"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Widgets</span>
            </a>
          </li>
        </ul>
      </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container pd-t-30">
        <div class="dash-headline-two">
          <div>
            <h4 class="tx-inverse mg-b-5">Good morning, Katherine!</h4>
            <p class="mg-b-0">Today is March 20, 2018</p>
          </div>
          <div class="d-h-t-right">
            <div class="summary-item">
              <h1>$1,433</h1>
              <span>Earnings<br>for today</span>
            </div>
            <div class="summary-item">
              <h1>$296</h1>
              <span>Expenses<br>for today</span>
            </div>
          </div>
        </div><!-- dash-headline-two -->

        <div class="nav-statistics-wrapper">
          <nav class="nav">
            <a href="" class="nav-link active">Overview</a>
            <a href="" class="nav-link">Employee</a>
            <a href="" class="nav-link">Products</a>
            <a href="" class="nav-link">Misc</a>
          </nav>
          <nav class="nav">
            <a href="" class="nav-link">Today</a>
            <a href="" class="nav-link active">This Week</a>
            <a href="" class="nav-link">This Month</a>
          </nav>
        </div><!-- nav-statistics-wrapper -->

        <div class="row row-statistics mg-b-30">
          <div class="col-5">
            <h1 class="tx-inverse tx-56 tx-lato tx-bold">34,100</h1>
            <h6 class="tx-15 tx-inverse tx-bold mg-b-20">Total hours spent (7 days)</h6>
            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem</p>
            <p class="tx-12">
              <a href="">View Details</a>
              <a href="">Edit Settings</a>
            </p>
          </div><!-- col-5 -->
          <div class="col-7">
            <canvas id="chartBar1" height="280"></canvas>
          </div><!-- col-7 -->
        </div><!-- row -->

        <hr>

        <div class="report-summary-header">
          <div>
            <h4 class="tx-inverse mg-b-3">Overall Report Summary</h4>
            <p class="mg-b-0"><i class="icon ion-calendar mg-r-3"></i> January 01, 2018 - January 31, 2018</p>
          </div>
          <div>
            <a href="" class="btn btn-secondary"><i class="icon ion-ios-clock-outline tx-22"></i> Activity Logs</a>
            <a href="" class="btn btn-secondary"><i class="icon ion-ios-gear-outline tx-24"></i> Edit Settings</a>
          </div>
        </div><!-- d-flex -->

        <div class="row no-gutters dashboard-chart-one">
          <div class="col">
            <div class="card card-total">
              <div>
                <h1>420</h1>
                <p>Total Employee</p>
              </div>
              <div>
                <div class="tx-24 mg-b-10 tx-center op-5">
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-600"></i>
                  <i class="icon ion-man tx-gray-400"></i>
                  <i class="icon ion-man tx-gray-400"></i>
                  <i class="icon ion-man tx-gray-400"></i>
                  <i class="icon ion-man tx-gray-400"></i>
                </div>
                <label>Female (66%)</label>
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-primary progress-bar-xs wd-65p" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->

                <label>Male (34%)</label>
                <div class="progress">
                  <div class="progress-bar bg-danger progress-bar-xs wd-35p" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->
              </div>
            </div><!-- card -->
          </div><!-- col -->
          <div class="col">
            <div class="card card-total">
              <div>
                <h1>55</h1>
                <p>Total Products</p>
              </div>
              <div>
                <div class="tx-16 mg-b-15 tx-center op-5">
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-600"></i>
                  <i class="icon ion-cube tx-gray-400"></i>
                  <i class="icon ion-cube tx-gray-400"></i>
                </div>
                <label>Digital products (85%)</label>
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-success progress-bar-xs wd-85p" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->

                <label>Non-digital products (15%)</label>
                <div class="progress">
                  <div class="progress-bar bg-warning progress-bar-xs wd-15p" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->
              </div>
            </div><!-- card -->
          </div><!-- col -->
          <div class="col">
            <div class="card card-total">
              <div>
                <h1>30</h1>
                <p>Total Franchise</p>
              </div>
              <div>
                <div class="tx-22 mg-b-10 tx-center op-5">
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-600"></i>
                  <i class="icon ion-location tx-gray-400"></i>
                  <i class="icon ion-location tx-gray-400"></i>
                  <i class="icon ion-location tx-gray-400"></i>
                </div>
                <label>Local (75%)</label>
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-purple progress-bar-xs wd-75p" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->

                <label>International (25%)</label>
                <div class="progress">
                  <div class="progress-bar bg-pink progress-bar-xs wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->
              </div>
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-4">
            <div class="card card-revenue">
              <h6>Monthly Revenue</h6>
              <p>Calculated every 15th of the month</p>
              <h1>$32,500 <span class="tx-success">1.4% up</span></h1>
              <div id="rs3" class="ht-50 ht-sm-70 mg-r--1"></div>
              <label>Last month: <span>$79,554</span></label>
            </div><!-- card -->
          </div><!-- col-4 -->
        </div><!-- row -->

        <hr>

        <div class="report-summary-header">
          <div>
            <h4 class="tx-inverse mg-b-3">Most Popular Products</h4>
            <p class="mg-b-0"><i class="icon ion-calendar mg-r-3"></i> January 01, 2018 - January 31, 2018</p>
          </div>
          <div>
            <a href="" class="btn btn-secondary">Top Rated Products</a>
            <a href="" class="btn btn-secondary">View All Products</a>
          </div>
        </div><!-- d-flex -->

        <div class="row row-sm">
          <div class="col-4">
            <div class="card card-popular-product">
              <label class="prod-id">Product ID: #PD-1754</label>
              <h5 class="prod-name"><a href="">US 360 Home Security IP Camera Night</a></h5>
              <p class="prod-by">By: <a href="">ThmPxls Security</a></p>
              <div class="row">
                <div class="col-5">
                  <h1>1885</h1>
                  <p>Total Sales</p>
                </div><!-- col -->
                <div class="col-7">
                  <h1>$12,056</h1>
                  <p>Earnings</p>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-4">
            <div class="card card-popular-product">
              <label class="prod-id">Product ID: #PD-1753</label>
              <h5 class="prod-name"><a href="">US KS-5 Junior Lite DVD Karaoke 9500</a></h5>
              <p class="prod-by">By: <a href="">ThmPxls Security</a></p>
              <div class="row">
                <div class="col-5">
                  <h1>1862</h1>
                  <p>Total Sales</p>
                </div><!-- col -->
                <div class="col-7">
                  <h1>$13,113</h1>
                  <p>Earnings</p>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-4">
            <div class="card card-popular-product">
              <label class="prod-id">Product ID: #PD-1754</label>
              <h5 class="prod-name"><a href="">US 360 Home Security IP Camera Night</a></h5>
              <p class="prod-by">By: <a href="">ThmPxls Digital</a></p>
              <div class="row">
                <div class="col-5">
                  <h1>1799</h1>
                  <p>Total Sales</p>
                </div><!-- col -->
                <div class="col-7">
                  <h1>$11,091</h1>
                  <p>Earnings</p>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card -->
          </div><!-- col-4 -->
        </div><!-- row -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
        <p>Designed by: <a href="">ThemePixels</a></p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="../lib/d3/js/d3.js"></script>
    <script src="../lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="../lib/chart.js/js/Chart.js"></script>

    <script src="../js/slim.js"></script>
    <script src="../js/ResizeSensor.js"></script>
    <script>
      $(function(){
        'use strict'

        var rs3 = new Rickshaw.Graph({
          element: document.querySelector('#rs3'),
          renderer: 'line',
          series: [{
            data: [
              { x: 0, y: 5 },
              { x: 1, y: 7 },
              { x: 2, y: 10 },
              { x: 3, y: 11 },
              { x: 4, y: 12 },
              { x: 5, y: 10 },
              { x: 6, y: 9 },
              { x: 7, y: 7 },
              { x: 8, y: 6 },
              { x: 9, y: 8 },
              { x: 10, y: 9 },
              { x: 11, y: 10 },
              { x: 12, y: 7 },
              { x: 13, y: 10 }
            ],
            color: '#1B84E7',
          }]
        });
        rs3.render();

        // Responsive Mode
        new ResizeSensor($('.slim-mainpanel'), function(){
          rs3.configure({
            width: $('#rs3').width(),
            height: $('#rs3').height()
          });
          rs3.render();
        });


        var ctx1 = document.getElementById('chartBar1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
          type: 'bar',
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: '# of Votes',
              data: [12, 39, 20, 10, 25, 18, 12, 39, 20, 10, 25, 18],
              backgroundColor: '#27AAC8'
            }]
          },
          options: {
            maintainAspectRatio: false,
            legend: {
              display: false,
                labels: {
                  display: false
                }
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true,
                  fontSize: 10,
                  max: 80
                }
              }],
              xAxes: [{
                ticks: {
                  beginAtZero:true,
                  fontSize: 11
                }
              }]
            }
          }
        });

      });
    </script>
  </body>
</html>
