@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/apps/crm/roles-permissions.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>CRM / Roles &amp; Permissions</h3>

                <button class="btn btn-outline-primary ks-light ks-crm-contacts-user-view-column-toggle" data-block-toggle=".ks-crm-contacts-user-view-column">User Panel</button>
            </section>
        </div>
        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="dm-roles-permissions-wrap">
                    <div class="ks-navigation ks-browse ks-scrollable ks-roles-permissions-roles" data-auto-height>
                        <div class="ks-wrapper">
                            <div class="ks-separator">
                                Roles
                            </div>
                            <ul class="ks-menu">
                                <li>
                                    <a href="#" class="ks-menu-item ks-active">
                                        <span class="ks-text">
                                            Administrator
                                        </span>
                                        <span class="ks-badge badge badge-pill badge-pink">15</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="ks-menu-item">
                                        <span class="ks-text">
                                            Moderator
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="ks-menu-item">
                                        <span class="ks-text">
                                            Editor
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="ks-menu-item">
                                        <span class="ks-text">
                                            Client
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ks-navigation ks-browse ks-scrollable ks-roles-permissions-modules" data-auto-height>
                        <div class="ks-wrapper">
                            <div class="ks-roles-permissions-block-header">
                                Modules
                            </div>
                            <div class="ks-nav">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Tasks

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Blog

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Calendar

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Tickets

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Files

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Chat

                                            <label class="ks-checkbox-switch ks-success">
                                                <input type="checkbox" value="1">
                                                <span class="ks-wrapper"></span>
                                                <span class="ks-indicator"></span>
                                                <span class="ks-on">On</span>
                                                <span class="ks-off">Off</span>
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dm-permissions-list">
                        <table class="table table-hover dm-permissions-list-table">
                            <thead>
                                <tr>
                                    <th width="1">Permission</th>
                                    <th>Read</th>
                                    <th>Write</th>
                                    <th>Create</th>
                                    <th>Delete</th>
                                    <th>Import</th>
                                    <th>Export</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Statistics</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c1" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c1"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c2" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c2"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c3" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c3"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c4" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c4"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c5" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c5"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c6" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c6"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Content</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c7" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c7"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c8" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c8"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input type="checkbox" class="custom-control-input">
                                            <label id="c9" class="custom-control-label" for="c9"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c10" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c10"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c11" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c11"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c12" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c12"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Statistics</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c13" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c13"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c14" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c14"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c15" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c15"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c16" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c16"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c17" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c17"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c18" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c18"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Statistics</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c19" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c19"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c20" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c20"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c21" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c21"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c22" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c22"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c23" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c23"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c24" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c24"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Statistics</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c25" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c25"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c26" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c26"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c27" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c27"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c28" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c28"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c29" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c29"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c30" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c30"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dm-permissions-list-table-module-name">Statistics</td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c31" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c31"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c32" type="checkbox" class="custom-control-input" checked="">
                                            <label class="custom-control-label" for="c32"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c33" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c33"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c34" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c34"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c35" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c35"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                                            <input id="c36" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c36"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
<script>
    (function ($) {
        $('.ks-checkbox-switch :checkbox').on('change', function (e) {
            var checkbox = $(this);

            $('.dm-permissions-list-table :checkbox').each(function () {
                $(this).get(0).checked = checkbox.is(':checked');
            });

            return false;
        });
    })(jQuery);
</script>
@@include('./_partials/footer.html')