@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/misc/documentation.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Documentation (Example of documentation), Navigation not fixed</h3>

                <button class="btn btn-outline-primary ks-light ks-content-nav-toggle" data-block-toggle=".ks-content-nav > .ks-nav">Menu</button>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body ks-content-nav ks-documentation-page">
                <div class="ks-nav ks-scrollable" data-auto-height data-scrollable-if-has-class="ks-fixed">
                    <div class="ks-scroll-wrapper">
                        <div class="ks-separator">Section 1</div>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    Page 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 2
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 3
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 4
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 5
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 6
                                </a>
                            </li>
                        </ul>

                        <div class="ks-separator">Section 2</div>

                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 7
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 8
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 9
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Page 10
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ks-nav-body">
                    <h3>Getting started</h3>

                    <div class="alert alert-danger ks-solid-light ks-active-border" role="alert">
                        This is example of documentation page.
                    </div>

                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

                    <h4>Type of polls</h4>
                    <p>There are many variations of passages of Lorem Ipsum available:</p>
                    <ul>
                        <li>
                            <p>
                                <strong>There are many variations </strong> of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                            </p>
                            <p>
                                <img src="assets/img/placeholders/placeholder-512x512.png" class="img-fluid">
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>There are many variations </strong> of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                            </p>
                            <p>
                                <img src="assets/img/placeholders/placeholder-512x512.png" class="img-fluid">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')