@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/misc/faq.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>FAQ</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body ks-body-wrap">
                <div class="ks-body-wrap-container">
                    <div class="container-fluid ks-faq-container">
                        <div class="ks-faq-header">
                            <h3>Frequently asked questions</h3>
                            <div class="ks-description">Get help. Find answers.</div>
                            <div class="ks-search">
                                <div class="input-icon icon-right icon icon-lg">
                                    <input id="input-group-icon-text" type="text" class="form-control" placeholder="Search">
                                <span class="icon-addon">
                                    <span class="la la-search"></span>
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="ks-faq-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h5>General</h5>

                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>

                                    <h5>General</h5>

                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <h5>Pricing</h5>

                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>
                                    <h5>Pricing</h5>

                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <h5>Account Management</h5>
                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>

                                    <h5>Technical</h5>

                                    <ul class="ks-questions-container">
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">How do people vote, respond or otherwise send in comments or questions?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                        <li>
                                            <a class="ks-question-block">What is poll everywhere?</a>
                                            <div class="ks-answer-block">
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
<script type="application/javascript">
(function ($) {
    $(document).ready(function () {
        $('.ks-faq-container').on('click', '.ks-question-block', function() {
            var $parent = $(this).parent();
            if ($parent.hasClass('ks-opened')) {
                $parent.removeClass('ks-opened');
            } else {
                $('.ks-faq-container .ks-opened').removeClass('ks-opened');
                $parent.addClass('ks-opened');
            }
        });
    });
})(jQuery);
</script>
@@include('./_partials/footer.html')