@@include('./_partials/header_start.html')
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-content">
            <div class="ks-page-content-body ks-error-page">
                <div class="ks-error-code">500</div>
                <div class="ks-error-description">Sorry, something has gone wrong</div>
                <a href="index.html" class="btn btn-primary ks-light">Go to the main page</a>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')