@@include('./_partials/auth/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/pages/auth.min.css">
@@include('./_partials/auth/header_end.html')

<div class="ks-page">
    <div class="ks-page-header">
        <a href="#" class="ks-logo">KOSMO</a>
    </div>
    <div class="ks-page-content">
        <div class="ks-logo">KOSMO</div>

        <div class="card panel panel-default light ks-panel ks-forgot-password">
            <div class="card-block">
                <form class="form-container">
                    <h4 class="ks-header">
                        Forgot Password
                        <span>Don't worry, this happens sometimes.</span>
                    </h4>

                    <div class="form-group">
                        <div class="input-icon icon-left icon-lg icon-color-primary">
                            <input type="text" class="form-control" placeholder="Email">
                        <span class="icon-addon">
                            <span class="la la-at"></span>
                        </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <div class="ks-text-center">
                        <span class="text-muted">Remember It?</span> <a href="pages-login.html">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ks-footer">
        <span class="ks-copyright">&copy; 2016 Kosmo</span>
        <ul>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>

@@include('./_partials/auth/scripts.html')
@@include('./_partials/auth/footer.html')