@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="libs/stacktable/stacktable.css">
<link rel="stylesheet" type="text/css" href="assets/styles/payment/billing.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Billing</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body ks-billing ks-body-wrap">
                <div class="ks-body-wrap-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="ks-log-table">
                                    <h3 class="ks-header">
                                        <span>History</span>
                                        <a href="#">View All</a>
                                    </h3>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Date submitted</th>
                                            <th>Order number</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Invoice</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-info">Processing</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-success">Paid</span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sep 29, 2016 12:26 PM</td>
                                            <td>VSR000000001221</td>
                                            <td class="ks-status"><span class="ks-color-danger">Failed <span class="la la-warning ks-icon"></span></span></td>
                                            <td>$1,119.00</td>
                                            <td class="ks-download">
                                                <a href="#"><span class="la la-file-pdf-o ks-icon"></span> Download</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="ks-col-info">
                                    <div class="card panel panel-default ks-no-border ks-solid ks-bg-light-gray">
                                        <h5 class="card-header">
                                            Your Plan
                                        </h5>
                                        <div class="card-block">
                                            <table class="ks-plan-details">
                                                <tr>
                                                    <td>
                                                        <div class="ks-amount">$119</div>
                                                        <div class="ks-plan">
                                                            <div class="ks-name">Light (8GB)</div>
                                                            <div class="ks-datetime">Since April 12, 2016</div>
                                                        </div>

                                                        <a href="#" class="btn btn-primary">Change Plan</a>
                                                    </td>
                                                    <td>
                                                        <ul class="ks-description">
                                                            <li>&mdash; Total Price</li>
                                                            <li>&mdash; Billed Monthly</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card panel panel-default ks-light ks-solid">
                                        <h5 class="card-header">
                                            Billing Details
                                        </h5>
                                        <div class="card-block">
                                            <table class="ks-billing-details">
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Charles Gillbert</td>
                                                </tr>
                                                <tr>
                                                    <td>Country</td>
                                                    <td>USA</td>
                                                </tr>
                                                <tr>
                                                    <td>State/Province</td>
                                                    <td>New York</td>
                                                </tr>
                                                <tr>
                                                    <td>Address/Street</td>
                                                    <td>874 Wisoky Estate Suite 050</td>
                                                </tr>
                                                <tr>
                                                    <td>Zip Code</td>
                                                    <td>3126</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone Number</td>
                                                    <td>+1 (417) 555-555-555</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td><a href="#">charles_gillbert@example.com</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card panel panel-default ks-light ks-solid">
                                        <h5 class="card-header">
                                            Payment card details
                                        </h5>
                                        <div class="card-block">
                                            <table class="ks-payment-details">
                                                <tr>
                                                    <td>Card Type</td>
                                                    <td>VISA</td>
                                                </tr>
                                                <tr>
                                                    <td>Name on Card</td>
                                                    <td>CHARLES GILLBERT</td>
                                                </tr>
                                                <tr>
                                                    <td>State/Province</td>
                                                    <td>New York</td>
                                                </tr>
                                                <tr>
                                                    <td>Card Number</td>
                                                    <td>444*********6666</td>
                                                </tr>
                                                <tr>
                                                    <td>Expiration</td>
                                                    <td>03.2017</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
<script src="libs/stacktable/stacktable.js"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        $('table').stacktable();
    });
})(jQuery);
</script>
@@include('./_partials/footer.html')