@@include('./_partials/header_start.html')
    <link rel="stylesheet" type="text/css" href="assets/styles/pricing/plans.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Pricing Plans</h3>

                <div class="ks-controls">
                    <nav class="breadcrumb ks-default">
                        <a class="breadcrumb-item ks-breadcrumb-icon" href="#">
                            <span class="la la-home ks-icon"></span>
                        </a>
                        <a class="breadcrumb-item" href="#">Pricing</a>
                        <span class="breadcrumb-item active" href="#">Plans</span>
                    </nav>
                </div>
            </section>
        </div>
        <div class="ks-page-content">
            <div class="ks-page-content-body ks-full-height">
                <div class="ks-nav-body-wrapper">
                    <div class="container-fluid">
                        <div class="ks-pricing-plans-page">
                            <div class="ks-header">
                                <h3 class="ks-name">Pricing</h3>
                                <div class="ks-description">Choose your plan</div>
                            </div>
                            <div class="ks-plans">
                                <div class="ks-plan">
                                    <div class="ks-header">
                                        <h5 class="ks-name">Forever Free</h5>
                                        <div class="ks-price">
                                            <div class="ks-currency">$</div>
                                            <div class="ks-amount">0</div>
                                            <div class="ks-period">forever</div>
                                        </div>
                                    </div>
                                    <div class="ks-body">
                                        <ul class="ks-list">
                                            <li>Minimalistic resume template</li>
                                            <li>Full customization</li>
                                            <li>Exporting to PDF</li>
                                            <li>Online preview</li>
                                        </ul>

                                        <a href="#" class="btn btn-primary btn-block ks-light">Sign up</a>
                                    </div>
                                </div>
                                <div class="ks-plan ks-info">
                                    <div class="ks-header">
                                        <h5 class="ks-name">Premium</h5>
                                        <div class="ks-price">
                                            <div class="ks-currency">$</div>
                                            <div class="ks-amount">15</div>
                                            <div class="ks-period">/month</div>
                                        </div>
                                    </div>
                                    <div class="ks-body">
                                        <ul class="ks-list ks-success">
                                            <li>Access to all templates</li>
                                            <li>Full customization</li>
                                            <li>Exporting to PDF</li>
                                            <li>Custom URL online preview</li>
                                            <li>Color themes</li>
                                        </ul>

                                        <a href="#" class="btn btn-info btn-block">Get premium</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')