@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/pricing/subscriptions.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Pricing Subscriptions</h3>

                <div class="ks-controls">
                    <nav class="breadcrumb ks-default">
                        <a class="breadcrumb-item ks-breadcrumb-icon" href="#">
                            <span class="la la-home ks-icon"></span>
                        </a>
                        <a class="breadcrumb-item" href="#">Pricing</a>
                        <span class="breadcrumb-item active" href="#">Subscriptions</span>
                    </nav>
                </div>
            </section>
        </div>
        <div class="ks-page-content">
            <div class="ks-page-content-body ks-full-height">
                <div class="ks-nav-body-wrapper">
                    <div class="ks-pricing-subscriptions-page">
                        <div class="ks-header">
                            <h3 class="ks-name">Pricing</h3>
                            <div class="ks-description">Plans that cater to everyone</div>
                        </div>
                        <div class="ks-subscriptions">
                            <div class="subscription-toggle">
                                <div class="ks-checkbox-text-slider">
                                    <span class="ks-text ks-color-info">Monthly</span>
                                    <label class="ks-checkbox-slider ks-info">
                                        <input type="checkbox" value="1">
                                        <span class="ks-indicator"></span>
                                    </label>
                                    <span class="ks-text">Annual</span>
                                </div>
                                <div class="ks-description">
                                    SAVE 20% ON ANNUAL SUBSCRIPTIONS!
                                </div>
                            </div>
                            <div class="ks-subscription">
                                <div class="ks-header">
                                    <span class="ks-name">Startup</span>
                                    <span class="ks-price">
                                        <span class="ks-amount">$49</span>/month
                                    </span>
                                </div>
                                <div class="ks-body">
                                    <ul>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-briefcase"></span>
                                            <span class="ks-text">Leads</span>
                                            <span class="ks-amount">50,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-users"></span>
                                            <span class="ks-text">Customers</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-paper-plane"></span>
                                            <span class="ks-text">Emails</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-bell"></span>
                                            <span class="ks-text">Notifications</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-comments"></span>
                                            <span class="ks-text">Chat Agents</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-ticket"></span>
                                            <span class="ks-text">Support Tickets Replies</span>
                                            <span class="ks-amount">500</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-male"></span>
                                            <span class="ks-text">Team Members</span>
                                            <span class="ks-amont">3</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-outline-info btn-block">Start free trial</a>
                                </div>
                            </div>
                            <div class="ks-subscription ks-active">
                                <div class="ks-header">
                                    <span class="ks-name">Growth</span>
                                    <span class="ks-price">
                                        <span class="ks-amount">$99</span>/month
                                    </span>
                                </div>
                                <div class="ks-body">
                                    <ul>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-briefcase"></span>
                                            <span class="ks-text">Leads</span>
                                            <span class="ks-amount">50,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-users"></span>
                                            <span class="ks-text">Customers</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-paper-plane"></span>
                                            <span class="ks-text">Emails</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-bell"></span>
                                            <span class="ks-text">Notifications</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-comments"></span>
                                            <span class="ks-text">Chat Agents</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-ticket"></span>
                                            <span class="ks-text">Support Tickets Replies</span>
                                            <span class="ks-amount">500</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-male"></span>
                                            <span class="ks-text">Team Members</span>
                                            <span class="ks-amont">3</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-info btn-block ks-active">Start free trial</a>
                                </div>
                            </div>
                            <div class="ks-subscription">
                                <div class="ks-header">
                                    <span class="ks-name">Startup</span>
                                    <span class="ks-price">
                                        <span class="ks-amount">$199</span>/month
                                    </span>
                                </div>
                                <div class="ks-body">
                                    <ul>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-briefcase"></span>
                                            <span class="ks-text">Leads</span>
                                            <span class="ks-amount">50,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-users"></span>
                                            <span class="ks-text">Customers</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-paper-plane"></span>
                                            <span class="ks-text">Emails</span>
                                            <span class="ks-amount">25,000</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-bell"></span>
                                            <span class="ks-text">Notifications</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-comments"></span>
                                            <span class="ks-text">Chat Agents</span>
                                            <span class="ks-amount">3</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-ticket"></span>
                                            <span class="ks-text">Support Tickets Replies</span>
                                            <span class="ks-amount">500</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="ks-icon la la-male"></span>
                                            <span class="ks-text">Team Members</span>
                                            <span class="ks-amont">3</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-outline-info btn-block">Start free trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')