{% extends "./common/layout.html" %}

{% block title %}500 Page / Universe Admin{% endblock %}

{% block content %}
<div class="container-fluid p-error-page p-error-page--500">
  <div class="p-error-page__wrap">
    <div class="p-error-page__error">
      <h3 class="p-error-page__code">500</h3>
      <div class="p-error-page__desc">Internal Server Error</div>
      <a href="#" class="btn btn-info p-error-page__home-link">Main page</a>
    </div>
    <div class="p-error-page__image-container">
      <img src="img/robot.png" alt="" class="p-error-page__image embed-responsive">
    </div>
  </div>
</div>
{% endblock %}


