{% extends "./common/layout.html" %}

{% block title %}Form Wizard (C) / Universe Admin{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="main-container container-heading-bordered">
    <h2 class="container-heading">Example 1</h2>
    <div id="form-wizard-c" class="container-body form-wizard-c">
      <div class="form-wizard-c__steps">
        <span class="form-wizard-c__step is-current" data-step="1">
          <span class="form-wizard-c__step-point">1</span> <span class="form-wizard-c__step-text">Account setup</span>
        </span>
        <span class="form-wizard-c__step" data-step="2">
          <span class="form-wizard-c__step-point">2</span> <span class="form-wizard-c__step-text">Profile setup</span>
        </span>
        <span class="form-wizard-c__step" data-step="3">
          <span class="form-wizard-c__step-point">3</span> <span class="form-wizard-c__step-text">Billing setup</span>
        </span>
        <span class="form-wizard-c__step" data-step="4">
          <span class="form-wizard-c__step-point">4</span> <span class="form-wizard-c__step-text">Agreement</span>
        </span>
      </div>
      <div class="form-wizard-c__body">
        <div class="form-wizard-c__body-content">
          <div class="form-wizard-c__step-content is-current" data-step-content="1">
            <h2 class="form-wizard-c__step-content-heading">Provide your account details</h2>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="form-group">
                  <label for="settings-form-email">Email address</label>
                  <input type="text" class="form-control" id="settings-form-email" placeholder="Enter your email address" value="">
                </div>
                <div class="form-group">
                  <label for="settings-form-password">Password</label>
                  <input type="password" class="form-control" id="settings-form-password" placeholder="Enter your password" value="">
                </div>
                <div class="form-group">
                  <label for="settings-form-again">Password again</label>
                  <input type="password" class="form-control" id="settings-form-again" placeholder="Repeat your password" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="form-wizard-c__step-content" data-step-content="2">Step 2</div>
          <div class="form-wizard-c__step-content" data-step-content="3">Step 3</div>
          <div class="form-wizard-c__step-content" data-step-content="4">Step 4</div>
        </div>
        <div class="form-wizard-c__controls">
          <a href="#" class="btn btn-secondary form-wizard-c__control-prev disabled" data-step-control-prev>
            <span class="form-wizard-c__control-prev-icon ua-icon-step-arrow-left"></span>Back
          </a>
          <a href="#" class="btn btn-info form-wizard-c__control-next" data-step-control-next>
            Next <span class="form-wizard-c__control-next-icon ua-icon-step-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="js/form-wizard/form-wizard.js"></script>
<script src="js/preview/form-wizard-c.min.js"></script>
{% endblock %}
