<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu side-menu-compact">
    <ul class="side-menu-list">
        <li class="divider brown">
            <a href="#">
                <i class="font-icon font-icon-home"></i>
                <span class="lbl">Overview</span>
            </a>
        </li>
        <li class="divider green">
            <a href="#">
                <i class="font-icon font-icon-cart"></i>
                <span class="lbl">Marketplace</span>
            </a>
        </li>
        <li class="divider gold">
            <a href="#">
                <i class="font-icon font-icon-speed"></i>
                <span class="lbl">Performance</span>
            </a>
        </li>
        <li class="divider blue">
            <a href="#">
                <i class="font-icon font-icon-users"></i>
                <span class="lbl">Community</span>
            </a>
        </li>
        <li class="divider purple opened">
            <a href="#">
                <i class="font-icon font-icon-comments active"></i>
                <span class="lbl">Messages</span>
            </a>
        </li>
        <li class="divider orange-red">
            <a href="#">
                <i class="font-icon font-icon-help"></i>
                <span class="lbl">Support</span>
            </a>
        </li>
        <li class="divider grey">
            <a href="#">
                <i class="font-icon font-icon-dots"></i>
                <span class="lbl">More</span>
            </a>
        </li>
        <li class="divider blue-dirty">
            <a href="#">
                <i class="font-icon font-icon-edit"></i>
                <span class="lbl">Forms</span>
            </a>
        </li>
        <li class="divider coral">
            <a href="#">
                <i class="font-icon font-icon-chart"></i>
                <span class="lbl">Reports</span>
            </a>
        </li>
        <li class="divider pink-red">
            <a href="#">
                <i class="font-icon font-icon-zigzag"></i>
                <span class="lbl">Activity</span>
            </a>
        </li>
        <li class="divider gold">
            <a href="#">
                <i class="font-icon font-icon-tablet"></i>
                <span class="lbl">Tables</span>
            </a>
        </li>
        <li class="divider magenta">
            <a href="#">
                <i class="font-icon font-icon-widget"></i>
                <span class="lbl">Widges</span>
            </a>
        </li>
        <li class="divider pink">
            <a href="#">
                <i class="font-icon font-icon-map"></i>
                <span class="lbl">Maps</span>
            </a>
        </li>
        <li class="divider blue-darker">
            <a href="#">
                <i class="font-icon font-icon-chart-2"></i>
                <span class="lbl">Charts</span>
            </a>
        </li>
        <li class="divider grey">
            <a href="#">
                <i class="font-icon font-icon-doc"></i>
                <span class="lbl">Documents</span>
            </a>
        </li>
        <li class="divider blue-sky">
            <a href="#">
                <i class="font-icon font-icon-question"></i>
                <span class="lbl">Help</span>
            </a>
        </li>
        <li class="divider coral">
            <a href="#">
                <i class="font-icon font-icon-cogwheel"></i>
                <span class="lbl">Settings</span>
            </a>
        </li>
        <li class="divider magenta">
            <a href="#">
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Profile</span>
            </a>
        </li>
        <li class="divider blue-dirty">
            <a href="#">
                <i class="font-icon font-icon-notebook"></i>
                <span class="lbl">Tasks</span>
            </a>
        </li>
        <li class="divider aquamarine">
            <a href="#">
                <i class="font-icon font-icon-mail"></i>
                <span class="lbl">Contact form</span>
            </a>
        </li>
        <li class="divider pink">
            <a href="#">
                <i class="font-icon font-icon-users-group"></i>
                <span class="lbl">Group</span>
            </a>
        </li>
        <li class="divider gold">
            <a href="#">
                <i class="font-icon font-icon-picture-2"></i>
                <span class="lbl">Gallery</span>
            </a>
        </li>
        <li class="divider brown">
            <a href="#">
                <i class="font-icon font-icon-event"></i>
                <span class="lbl">Event</span>
            </a>
        </li>
        <li class="divider red">
            <a href="#">
                <i class="font-icon font-icon-case-2"></i>
                <span class="lbl">Project</span>
            </a>
        </li>
    </ul>
</nav><!--.side-menu-->


