/** BEGIN: colors */
.color {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 28px;
  font-size: 14px;
  line-height: 1.429;
  color: $color-white;
  border-radius: $border-radius;
}

.marengo-light {
  background-color: $color-marengo-light;
}

.marengo {
  background-color: $color-marengo;
}

.marengo-dark {
  background-color: $color-marengo-dark;
}

.blue-dodger {
  background-color: $color-blue-dodger;
}

.blue-curious {
  background-color: $color-blue-curious;
}

.blue-denim {
  background-color: $color-blue-denim;
}

.orange-tango {
  background-color: $color-orange-tango;
}

.orange-zest {
  background-color: $color-orange-zest;
}

.orange-christine {
  background-color: $color-orange-christine;
}

.green-apple {
  background-color: $color-green-apple;
}

.green-lapalma {
  background-color: $color-green-lapalma;
}

.green-laurel {
  background-color: $color-green-laurel;
}

.coral-amaranth {
  background-color: $color-coral-amaranth;
}

.coral-crimson {
  background-color: $color-coral-crimson;
}

.coral-cardinal {
  color: $color-white;
  background-color: $color-coral-cardinal;
}

.gray-athens {
  color: $color-black;
  background-color: $color-gray-athens;
}

.gray-athens-dark {
  color: $color-black;
  background-color: $color-gray-athens-dark;
}

.white {
  color: $color-black;
  border: 1px solid $color-gray-light;
}

.black {
  background-color: $color-black;
}
/** END: colors */
