.jp-card-container {
  width: 100% !important; // Redefine inline styles
  max-width: 360px !important; // Redefine inline styles
}

.jp-card {
  &-identified {
    box-shadow: none !important; // Redefine inline styles
  }
}
