div#driver-popover-item {
  border-radius: 4px;
  box-shadow: 1px -1px 3px rgba($color-gray, 0.1);
  padding: 15px 17px;
  color: #000;
}

div#driver-highlighted-element-stage {
  border-radius: 3px;
}

div#driver-popover-item .driver-popover-tip {
  border: 7px solid #fff;
}

div#driver-popover-item .driver-popover-tip.top {
  top: -14px;
}

div#driver-popover-item .driver-popover-tip.bottom {
  bottom: -14px;
}

div#driver-popover-item .driver-popover-tip.right {
  right: -14px;
}

div#driver-popover-item .driver-popover-tip.left {
  left: -14px;
}

div#driver-popover-item .driver-popover-title {
  font-family: $font-base;
  font-size: 17px;
  font-weight: normal;
  color: #000;
  margin-top: -1px;
}

div#driver-popover-item .driver-popover-footer button {
  border-color: #d3d9dd;
  background: #fff;
  font-size: 14px;
  color: $color-gray;

  &:hover {
    background: rgba(#d3d9dd, .3);
  }
}

div#driver-popover-item .driver-popover-footer .driver-btn-group {
  button + button {
    margin-left: 8px;
  }
}

div#driver-popover-item .driver-popover-footer .driver-close-btn {
  margin-right: 8px;
}

div#driver-popover-item .driver-popover-footer .driver-next-btn {
  background-color: #269af1;
  border-color: #269af1;
  color: #fff;
  font-weight: normal;
  text-shadow: none;

  &:hover {
    background-color: $color-info-hover;
    border-color: $color-info-hover;
  }
}
