/** BEGIN: sparkline */
.jqstooltip {
  background: rgba(#000, .8) !important;
  border-radius: 2px !important;
  padding: 6px 10px !important;
  border: none !important;
  width: auto !important;
  height: auto !important;
}

.jqsfield {
  font-family: $font-base;
  position: relative;
}
/** END: sparkline */
