/** BEGIN: text avatar */
.textavatar {
  display: table;
  border-radius: 50%;

  abbr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    font-size: 20px;

    /* Avoid Bootstrap css*/
    border-bottom: 0 !important;
    cursor: default !important;
  }

  &--settings {
    background: rgba(#0094f2, .1);

    abbr {
      font-size: 36px;
      color: #0094f2;
      font-weight: 300;
      padding-left: 1px;
      letter-spacing: 3.6px;
    }
  }
}
/** END: text avatar */
