/** BEGIN: typography */
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

html {
  font-size: $font-size;
}

body {
  color: $color-black;
  font-family: $font-base;
  font-weight: 400;
}

a,
.btn-link {
  text-decoration: none;
  color: inherit;
  transition: $transition-hover;

  &:hover,
  &:focus {
    outline: none;
    color: $color-black;
    text-decoration: none;
  }

  &.link-info {
    color: $color-lasur;

    &--bordered {
      border-bottom: 1px solid rgba($color-lasur, .8);
    }

    &:hover,
    &:focus {
      color: darken($color-lasur, 5%);
    }
  }

  &.link-rose {
    color: $color-rose;

    &:hover,
    &:focus {
      color: darken($color-rose, 5%);
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  line-height: normal;

  /*span {
    color: $color-gray-light;
  }*/
}

.h1,
h1 {
  font-size: 24px;
}

.h2,
h2 {
  font-size: 21px;
}

.h3,
h3 {
  font-size: 18px;
}

.h4,
h4 {
  font-size: 16px;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}

p {
  font-size: 14px;

  &.custom-line-height {
    line-height: 2;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
}

strong {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.color-gray {
  color: #939daa !important;
}

.color-info {
  color: $color-info !important;

  &:hover,
  &:focus {
    color: $color-info-hover !important;
  }
}

.color-danger {
  color: $color-danger !important;
}

.color-error {
  color: #ed5564 !important;
}

.color-success {
  color: $color-success !important;
}

.color-warning {
  color: $color-warning !important;
}

.color-golden {
  color: $color-golden !important;
}

.color-facebook {
  color: $color-facebook !important;
}

.color-twitter {
  color: $color-twitter !important;
}

.color-google-plus {
  color: $color-google-plus !important;
}

.color-linkedin {
  color: $color-linkedin !important;
}

.color-rss {
  color: $color-rss !important;
}

.color-coral {
  color: $color-coral !important;
}

.color-puerto-rico {
  color: $color-puerto-rico !important;
}

.color-green-mantis {
  color: $color-green-mantis !important;
}

.color-mandy {
  color: $color-mandy !important;
}

.color-mountain-meadow {
  color: $color-mountain-meadow !important;
}

.color-waterlemon {
  color: $color-waterlemon !important;
}

.color-portage {
  color: $color-portage !important;
}

.color-cerulean {
  color: $color-cerulean !important;
}

.color-keppel {
  color: $color-keppel !important;
}

.color-picton-blue {
  color: $color-picton-blue !important;
}

.color-heliotrope {
  color: $color-heliotrope !important;
}

.bg-primary {
  background: $color-primary !important;
}

.bg-info {
  background-color: ($color-info !important);
}

.bg-warning {
  background-color: ($color-warning !important);
}

.bg-success {
  background-color: ($color-success !important);
}

.bg-purple {
  background-color: ($color-purple !important);
}

.bg-danger {
  background-color: ($color-danger !important);
}

.bg-coral-light {
  background-color: ($color-coral-light !important);
}

.bg-kournikova {
  background-color: ($color-kournikova !important);
}

.bg-emerland {
  background-color: ($color-emerald !important);
}

.bg-lighting-yellow {
  background-color: $color-lighting-yellow !important;
}

pre[class*="language-"] {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 0;
  border-radius: 3px;
}

.text-muted {
  color: #939daa;
}

.text-muted-md {
  font-size: 15px;
  color: #939daa;
}

.text-line-through {
  text-decoration: line-through;
}

.heading-bordered {
  border-bottom: 1px solid rgba($color-gray, .3);
  padding-bottom: 10px;
}

label {
  font-size: 14px;
}

.text-uppercase {
  text-transform: uppercase;
}
/** END: typography */
