<div class="file-storage__menu">
  <ul class="file-storage__nav">
    <li class="file-storage__menu-item is-active">
      <a href="#" class="file-storage__menu-link">
        <span class="iconfont-folder file-storage__menu-link-icon"></span>
        <span class="file-storage__menu-link-text">Files</span>
      </a>
    </li>
    <li class="file-storage__menu-item">
      <a href="#" class="file-storage__menu-link">
        <span class="iconfont-time file-storage__menu-link-icon"></span>
        <span class="file-storage__menu-link-text">Recent</span>
      </a>
    </li>
    <li class="file-storage__menu-item">
      <a href="#" class="file-storage__menu-link">
        <span class="iconfont-share file-storage__menu-link-icon"></span>
        <span class="file-storage__menu-link-text">Shared by me</span>
      </a>
    </li>
    <li class="file-storage__menu-item">
      <a href="#" class="file-storage__menu-link">
        <span class="iconfont-activity file-storage__menu-link-icon"></span>
        <span class="file-storage__menu-link-text">Activity</span>
      </a>
    </li>
    <li class="file-storage__menu-item">
      <a href="#" class="file-storage__menu-link">
        <span class="iconfont-trash file-storage__menu-link-icon"></span>
        <span class="file-storage__menu-link-text">Trash</span>
      </a>
    </li>
  </ul>
  <div class="file-storage__get-app">
    <span class="iconfont-close file-storage__get-app-close"></span>
    <img src="img/09.png" alt="" class="file-storage__get-app-image">
    <div>
      Get app for<br>
      MAC OS
    </div>
  </div>
</div>
