<div class="file-storage__photos">
  {% include "./partials/photos-header.html" %}
  <div class="file-storage__photos-body">
    <div class="file-storage__photos-body-scrollpane js-scrollable">
      <div class="file-storage__photos-heading">Nov 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo">
          <img src="img/demo/11.png" alt="" class="file-storage__photos-photo-image">
          <img src="img/27.png" alt="" class="file-storage__albums-album-shared-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/12.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/13.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/14.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/15.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/16.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/17.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/18.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
      <div class="file-storage__photos-heading">Oct 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo">
          <img src="img/demo/19.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/20.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/21.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/26.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
      <div class="file-storage__photos-heading">Oct 2016</div>
      <div class="file-storage__photos-container">
        <div class="file-storage__photos-photo">
          <img src="img/demo/19.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/20.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/21.png" alt="" class="file-storage__photos-photo-image">
        </div>
        <div class="file-storage__photos-photo">
          <img src="img/demo/26.png" alt="" class="file-storage__photos-photo-image">
        </div>
      </div>
    </div>
  </div>
</div>
