<div id="share-file-modal" class="modal fade file-storage__share-file-modal file-storage__share-file-modal--sharing">
  <div class="modal-dialog modal-dialog-centered file-storage__share-file-modal-dialog">
    <div class="modal-content file-storage__share-file-modal-content">
      <div class="modal-header file-storage__share-file-modal-header">
        <div class="file-storage__share-file-modal-heading">Share with others</div>

        <button type="button" class="close custom-modal__close" data-dismiss="modal">
          <span class="ua-icon-modal-close"></span>
        </button>
      </div>
      <div class="modal-body file-storage__share-file-modal-body">
        <div class="file-storage__share-file-modal-attention">
          <div><strong>These are sharing settings for the folder Documents</strong></div>
          Any action you do here will be saved for the parent folder
        </div>

        <div class="file-storage__share-file-modal-body-heading">Sharing option</div>
        <div class="row">
          <div class="col-lg-10 color-gray">
            Anyone with the provided link can see and download your files.
          </div>
          <div class="col-lg-2 d-flex justify-content-end">
            <label class="switch">
              <input id="sharing-options-change" type="checkbox" checked>
              <span class="switch-slider"></span>
            </label>
          </div>
        </div>
        <div class="file-storage__share-file-modal-options">
          <div class="file-storage__share-file-modal-body-heading">Link to share</div>
          <div class="row mt-3">
            <div class="col-lg-10">
              <input type="text" class="form-control file-storage__share-file-modal-link" value="https://example.com/file/exoshdjy">
            </div>
            <div class="col-lg-2">
              <div class="btn btn-info btn-block">Copy</div>
            </div>
          </div>

          <div class="file-storage__share-file-modal-body-heading mt-4">Permission to write</div>
          <div class="row">
            <div class="col-lg-10 color-gray">
              Allow people with the link to edit, delete and upload to your folder.
            </div>
            <div class="col-lg-2 d-flex justify-content-end">
              <label class="switch">
                <input type="checkbox">
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer file-storage__share-file-modal-footer">
        Create your link...
      </div>
    </div>
  </div>
</div>
