<div class="file-storage__files">
  {% include "./partials/trash-header.html" %}
  <div class="file-storage__files-body">
    <div class="file-storage__files-empty">
      <img src="img/trash-empty.png" alt="" class="file-storage__files-empty-image">
      <div class="file-storage__files-empty-heading">You don't have any files deleted files</div>
      <div class="file-storage__files-empty-desc">Move files you don't need anymore to the <strong>Trash</strong> and permanently delete items to free up storage space.</div>
    </div>
  </div>
</div>
