.contact-card{

	.social-icon{
		@extend .m-b-15;
		margin-top: -38px;
		position: relative;
		z-index: 1;
	}

	.social-links{
		@extend .m-b-10;
	}

	h6{
		font-size: $font18;
		font-weight: $font-weight-600;
		line-height: 20px;		

		small{
			@extend .displayblock;
			font-size: 70%;
		}
	}
}