/* --------------------------------------------- */
/* ############### STICKY HEADER ############### */
/* --------------------------------------------- */

.sticky-header {
  .slim-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
  }

  .slim-navbar {
    position: fixed;
    top: $slim-header-height;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .slim-mainpanel {
    padding-top: 160px;
    min-height: 100vh;
  }
}
