@font-face {
  font-family: 'Libre Barcode 39 Extended Text';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Barcode 39 Extended Text'), local('LibreBarcode39ExtendedText-Regular'), url(../fonts/wjsqk3e245pkdhdhys7mabgp_8dgdh0ujybw4dyg-cuxsxsoytwiawm41ikuc6g0.ttf) format('truetype');
}
