@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Fira Sans Thin'), local('FiraSans-Thin'), url(../fonts/ynpq02vhjlzawszhjoqf050eavxt0g0bientp43qt6e.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(../fonts/h2qtvyrsha1cfy63p7ykz4nf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(../fonts/vtbnrk42eiobncvyqxz7j4nf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(../fonts/ejsrzdkquqcdwsbtlpcvqacwcynf_cdxxwclxiixg1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(../fonts/zm2u8v3cupvwaaxfqcdi4inf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(../fonts/tphesjuyxiezwtby22btfonf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(../fonts/dugpdsljmotoczor2citoonf5ufddttmlvmwujdhhgs.ttf) format('truetype');
}
