.search-box .kv-item{
	float: left;
}
.search-box .query-btn{
	float: left;
	margin-left: 30px;
}

.tab-container{
	background: #fff;
}
.tab-container .tab-content{
	padding: 10px 0;
}

form{
	margin: 0 10px;
}