form{
	margin: 10px 0;
}
form .kv-item {
	float: left;
}
form .kv-item input[type=text]{
	width: 80px;
}
form .sapar-btn{
	float: left;
	margin: 0 0 0 20px;
}
table a{
	display: block;
	color: #1664b1;
}
table .bold{
	font-weight: bold;
}
table .red{
	color: #e30000;
}
table .orange{
	color: #ff4e00;
}