.tab-container{
	background: #fff;
}
.tab-container .tab-content{
	padding: 10px 0;
}

form{
	margin: 10px 0;
}
form .kv-item {
	float: left;
}
form .kv-item input[type=text]{
	width: 80px;
}
form .sapar-btn{
	float: left;
	margin: 0 0 0 20px;
}


