<!DOCTYPE html>
<html lang="en" class="h-100" id="error">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Gleek - Bootstrap Admin Dashboard HTML Template</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    
</head>

<body>
    
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class="comming-soon-wrapper d-flex align-items-center">
        <div class="container text-center">
            <div class="comming-soon__logo">
                <img src="../../assets/images/comming-soon-logo.png" alt=""> Gleek
            </div>
            <div class="comming-soon__content">
                <h1>COMMING SOON</h1>
                <h3>Be ready, There is Just</h3>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring <br> which I enjoy with my whole heart.</p>
            </div>
            <!-- <ul class="comming-soon__countdown d-flex justify-content-between">
                <li>
                    <h3>Days</h3>
                    <h2>212</h2>
                </li>
                <li>
                    <h3>Hours</h3>
                    <h2>42</h2>
                </li>
                <li>
                    <h3>Minutes</h3>
                    <h2>21</h2>
                </li>
                <li>
                    <h3>Seconds</h3>
                    <h2>59</h2>
                </li>
            </ul> -->
            <div class="counter counter-one">
                <div class="row">
                    <div class="col-6 col-md-3 pb-5 pb-md-0">
                        <div class="counter-one">
                            <div class="counter-content" data-count="212">
                                <h1 class="counter-number">Days</h1><span>212</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pb-5 pb-md-0">
                        <div class="counter-one">
                            <div class="counter-content" data-count="42">
                                <h1 class="counter-number">Hours</h1><span>42</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pb-5 pb-md-0">
                        <div class="counter-one">
                            <div class="counter-content" data-count="21">
                                <h1 class="counter-number">Minutes</h1><span>21</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pb-5 pb-md-0">
                        <div class="counter-one">
                            <div class="counter-content" data-count="59">
                                <h1 class="counter-number">Seconds</h1><span>59</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="comming-soon__footer">
                <h2>Get in Touch</h2>
                <form class="comming-soon__form mt-4 mb-5">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter your Email Address">
                            <div class="input-group-append"><span class="input-group-text"><i class="ti-email"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="list-inline comming-soon__social">
                    <li class="list-inline-item"><a href="javascript:void()" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void()" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void()" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void()" class="btn btn-google-plus"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- #/ container -->
    <!-- Common JS -->
    <script src="../../assets/plugins/common/common.min.js"></script>
    <!-- Custom script -->
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
</body>

</html>