<div class="ks-comments-section @@commentsClass">
    <div class="ks-comment">
        <div class="ks-body">
            <a href="#" class="ks-avatar">
                <img src="assets/img/avatars/avatar-7.jpg" width="36" height="36">
            </a>
            <div class="ks-comment-box">
                <div class="ks-name">
                    <a href="#">Eric George</a>
                    <span class="ks-time">just now</span>
                </div>
                <div class="ks-message">Why didn't he come and talk to me himself?</div>
                <div class="ks-controls">
                    <a href="#" class="ks-control">Reply</a>
                    <a href="#" class="ks-control">Hide Replies</a>
                </div>
            </div>
        </div>
        <div class="ks-replies">
            <div class="ks-reply">
                <a href="#" class="ks-avatar">
                    <img src="assets/img/avatars/avatar-3.jpg" width="36" height="36">
                </a>
                <div class="ks-reply-box">
                    <div class="ks-name">
                        <a href="#">Eric George</a>
                        <span class="ks-time">04:01 pm</span>
                    </div>
                    <div class="ks-message"><a href="#" class="ks-reply-to">@a.frolov</a>, Why didn't he come and talk to me himse...</div>
                    <div class="ks-controls">
                        <a href="#" class="ks-control">Edit</a>
                        <a href="#" class="ks-control">Delete</a>
                    </div>
                </div>
            </div>
            <div class="ks-reply">
                <a href="#" class="ks-avatar">
                    <img src="assets/img/avatars/avatar-11.jpg" width="36" height="36">
                </a>
                <div class="ks-reply-box">
                    <div class="ks-name">
                        <a href="#">Eric George</a>
                        <span class="ks-time">just now</span>
                    </div>
                    <div class="ks-message">Why didn't he come and talk to me himse...</div>
                    <div class="ks-controls">
                        <a href="#" class="ks-control">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ks-comment">
        <div class="ks-body">
            <a href="#" class="ks-avatar">
                <img src="assets/img/avatars/avatar-7.jpg" width="36" height="36">
            </a>
            <div class="ks-comment-box">
                <div class="ks-name">
                    <a href="#">Eric George</a>
                    <span class="ks-time">just now</span>
                </div>
                <div class="ks-message"><a href="#" class="ks-reply-to">@a.frolov</a>, Perhaps you'll take me out one day - or do I have to make an appointment?</div>
                <div class="ks-controls">
                    <a href="#" class="ks-control">Reply</a>
                    <a href="#" class="ks-control">View 36 Replies</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ks-new-comment">
        <textarea type="text" class="form-control" placeholder="Type something..." rows="1"></textarea>
    </div>
</div>