.group-help img{
	display: block;
	margin: 10px auto 10px;
}
form{
	margin: 10px 0;
}
.add-box .kv-item{
	float: left;
}
.add-box .add-btn{
	float: left;
	margin-left: 30px;
}
.kv-item input[type=text]{
	width: 80px;
}
.buttons{
	padding-left: 80px;
}