<!--Accordion Starts-->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Accordion</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Components</a>
        </li>
        <li class="breadcrumb-item active">Accordion
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="content-body">
<section id="accordion">
  <div class="row">
    <div class="col-12">
      <h4 class="mt-3">Collapsible Accordion</h4>
      <!--Collapsible Accordion Starts-->
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Simple">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>&#9733;
              <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <!--Collapsible Accordion Ends-->
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="mt-3">One open panel at a time</h4>
      <!--One open panel at a time Starts-->
      <ngb-accordion [closeOthers]="true" activeIds="1">
        <ngb-panel id="1" title="Simple">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="2">
          <ng-template ngbPanelTitle>
            <span>&#9733;
              <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="3" title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <!--One open panel at a time Ends-->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="mt-5">Toggle panels</h4>
      <!--Toggle panels Starts-->
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="1" title="First panel">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="2" title="Second">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <p class="mt-2">
        <button class="btn btn-secondary" (click)="acc.toggle('1')">Toggle first</button>
        <button class="btn btn-secondary" (click)="acc.toggle('2')">Toggle second</button>
      </p>
      <!--Toggle panels Ends-->
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="mt-5">Prevent panel toggle</h4>
      <!--Prevent panel toggle starts-->
      <ngb-accordion (panelChange)="beforeChange($event)">
        <ngb-panel id="1" title="Simple">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="2" title="I can't be toggled...">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="3" title="I can be opened, but not closed...">
          <ng-template ngbPanelContent>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
              tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
              of them accusamus labore sustainable VHS.</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <!--Prevent panel toggle ends-->
    </div>
  </div>
</section>
</div>
<!--Accordion Ends-->