// -------------------------------------------------------------------------------------------------
// FONTS ............................ Fonts
// COLORS ........................... Colors
// BUTTONS .......................... Buttons background-color
// SIZE ............................. Size
// TRANSITIONS ...................... TRANSITIONS
// ICONS ............................ Icons
// -------------------------------------------------------------------------------------------------

// -------------------------------------------------------------------------------------------------
// FONTS
// -------------------------------------------------------------------------------------------------
$font-size: 14px;
$font-size-text: 14px;
$font-size-text-rem: 14px;
$font-base: 'Open Sans';
$font-icon: 'universe-admin';
$fonts-iconfont: 'Material Design Icons';

// -------------------------------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------------------------------
$color-red: #e74c3c;
$color-white: #fff;
$color-black: #111;
$color-black-medium: #222;
$color-black-light: #939daa;
$color-gray: #939daa;
$color-gray-light: #EBF2F6;
$color-gray-medium: #d3d9dd;
$color-gray-dark: #455161;
$color-lasur: #0094f2;
$color-lasur-hover: darken(#0094f2, 3.5%);
$color-purple: #7552e0;
$color-purple-hover: #6b49d1;
$color-purple-focus: #613dd1;
$color-coral: #f84646;
$color-coral-light: #fe7645;
$color-marengo-light: #445464;
$color-marengo: #394656;
$color-marengo-dark: #2c3846;
$color-blue-dodger: #269af1;
$color-blue-curious: #1d84d1;
$color-blue-denim: #0b75c1;
$color-orange: #ff5720;
$color-orange-tango: #f48221;
$color-orange-zest: #e77c1a;
$color-orange-christine: #e56b08;
$color-green-apple: #35ae47;
$color-mountain-meadow: #24bf78;
$color-green-lapalma: #1f9a0e;
$color-green-laurel: #1a7808;
$color-green-jungle: #229e8f;
$color-shamrock: #24c79f;
$color-coral-amaranth: #eb3b48;
$color-coral-crimson: #e02b34;
$color-coral-cardinal: #cb2529;
$color-gray-athens: #f4f5f8;
$color-gray-athens-dark: #e9ecf1;
$color-green-mantis: #82c250;
$color-amarath: #e62265;
$color-java: #14b8d2;
$color-chambray: #395b95;
$color-chambray-hover: darken($color-chambray, 2%);
$color-chambray-active: darken($color-chambray-hover, 4%);
$color-kournikova: #ffd875;
$color-buttercup: #f0b71e;
$color-lighting-yellow: #FFB940;
$color-emerald: #5fd47e;
$color-mantis: #89c053;
$color-facebook: #3a589b;
$color-twitter: #598dca;
$color-google-plus: #d6492f;
$color-linkedin: #007ab9;
$color-rss: #e19126;
$color-bittersweet: #fe6f60;
$color-carissma: #eb86be;
$color-rose: #eb48ba;
$color-tapestry: #b557a1;
$color-scooter: #38c5d8;
$color-coral: #f87f52;
$color-puerto-rico: #3bbeb0;
$color-mandy: #ed5564;
$color-deep-blush: #e560b1;
$color-golden: #ffcd56;
$color-waterlemon: #ff6384;
$color-fountain-blue: #4bc0c0;
$color-fountain-blue-light: #54c3b4;
$color-heliotrope: #ad7cf9;
$color-medium-purple: #9579DA;
$color-yellow-orange: #ff9f40;
$color-vista-green: #84d7b8;
$color-cornflower-blue: #5d97f9;
$color-success: #82c250;
$color-success-hover: darken(#82c250, 6%);
$color-success-active: darken(#82c250, 12%);
$color-info: #269af1;
$color-info-hover: #1d84d1;
$color-info-active: #0b75c1;
$color-secondary: darken($color-gray-medium, 8%);
$color-secondary-hover: darken($color-gray-medium, 12%);
$color-secondary-active: darken($color-gray-medium, 14%);
$color-purple: #7552e0;
$color-purple-hover: #6b49d1;
$color-purple-active: #613dd1;
$color-portage: #965bf1;
$color-cerulean: #03a9f4;
$color-purple-mountain: #8f81c2;
$color-danger: #eb3b48;
$color-danger-hover: #e02b34;
$color-danger-active: #cb2529;
$color-primary: #445464;
$color-primary-hover: #394656;
$color-primary-active: #2c3846;
$color-warning: #f48221;
$color-warning-hover: #e77c1a;
$color-warning-active: #e56b08;
$color-send: #269af1;
$color-send-hover: #1d84d1;
$color-send-active: #0b75c1;
$color-delete: #eb3b48;
$color-delete-hover: #e02b34;
$color-delete-active: #cb2529;
$color-apricot: #ef937e;
$color-casper: #aabfd0;
$color-au-chico: #9a605c;
$color-dandelion: #ffe066;
$color-mandys-pink: #f4d0b5;
$color-french-lilac: #e2c4ed;
$color-keppel: #3bb99a;
$color-picton-blue: #4fc0e8;
$color-apple: #38b135;

// -------------------------------------------------------------------------------------------------
// SHADOWS
// -------------------------------------------------------------------------------------------------
$box-shadow: 0 2px 5px 0 rgba(147, 157, 170, .03);
$box-shadow-a: 0 2px 3px 0 rgba(147, 157, 170, .08);

// -------------------------------------------------------------------------------------------------
// TRANSITIONS
// -------------------------------------------------------------------------------------------------
$transition: .2s;
$transition-hover: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out !default;

$dropdown-icon-code: '\e914';
$icon-search: '\e9ab';
$icon-checkbox-check-code: '\e926';
$icon-switcher-close-code: '\e92c';
$icon-switcher-check-code: '\e925'; // select check
$icon-arrow-up: '\e914';
$icon-arrow-down: '\e913';
$icon-scheduler-left-arrow: '\e980';
$icon-scheduler-right-arrow: '\e9aa';
$icon-close: '\e90b';
$icon-circle-close: '\e92a';
$icon-nav-item-active-arrow-right: '\e9aa';
$icon-tree-plus: '\e9d9';
$icon-tree-minus: '\e9d7';
$icon-date: '\e93f';
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "phablet":      560px,
  "tablet-small": 640px,
  "tablet":       768px,
  "screen-lg":    998px,
  "tablet-wide":  1024px,
  "desktop":      1200px,
  "desktop-wide": 1440px,
  "screen-wide-xl": 1600px
);

// -------------------------------------------------------------------------------------------------
// SIZE
// -------------------------------------------------------------------------------------------------
$navbar: 52px;
$input: 36px;
$input-height: 36px;
$border-color: #e9ebee !default;
$border-radius: 3px !default;
$navbar-height: 52px !default;

$progress-bg-color: #e0e5e8 !default;

$sidebar-bg-color: #455161 !default;
$sidebar-scrollbar-color: #aeb5bf !default;
$sidebar-separator-color: rgba(#fff, .7) !default;
$sidebar-user-avatar-placeholder-bg-color: rgba(#939daa, .4) !default;
$sidebar-user-avatar-placeholder-color: #939daa !default;
$sidebar-user-dropdown-bg-color: #f3f5f6 !default;
$sidebar-user-dropdown-item-color: #455161 !default;
$sidebar-user-dropdown-item-bg-hover-color: #b5bcc5 !default;
$sidebar-user-dropdown-item-hover-color: #fff !default;
$sidebar-user-dropdown-menu-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) !default;
$sidebar-badge-hover-color: #e74c3c !default;
$sidebar-badge-bg-color: #e74c3c !default;
$sidebar-badge-bg-hover-color: #fff !default;
$sidebar-user-dropdown-color: #939daa !default;
$sidebar-user-dropdown-hover-color: #fff !default;
$sidebar-collapse-bg-color: #374451 !default;
$sidebar-collapse-color: #939daa !default;
$sidebar-nav-link-color: #939daa !default;
$sidebar-nav-item-border-color: lighten($sidebar-bg-color, 8%) !default;
$sidebar-nav-item-hover-bg-color: $color-lasur !default;
$sidebar-nav-item-hover-color: $color-white !default;
$sidebar-subnav-bg-color: darken($sidebar-bg-color, 2.5%) !default;
$sidebar-subnav-link-color: #939daa !default;
$sidebar-section-nav-item-hover-color: #fff !default;
$sidebar-subnav-link-hover-color: $color-white !default;
$sidebar-subnav-link-hover-bg-color: darken($sidebar-bg-color, 5%) !default;
$sidebar-collapse-bg-border-color: $color-lasur !default;
$sidebar-user-separator-color: rgba(#fff, .1) !default;
$sidebar-section-badge-color: $sidebar-bg-color !default;
$sidebar-section-badge-bg-color: #939daa !default;
$sidebar-section-badge-hover-color: $sidebar-bg-color;
$sidebar-section-badge-bg-hover-color: #fff;

// -------------------------------------------------------------------------------------------------
// FORMS
// -------------------------------------------------------------------------------------------------
$input-border-color: $color-gray-medium;
$input-border-color-active: $color-lasur;
