/*
Version 2.0[Table of contents]
-------------------------------------------------------------------------
1. Globally Applied Styles
2. Header Top
3. Navigation Desktop
4. Navigation Mobile
5. Footer
6. Box Content
7. Data Tables
8. Inbox List
9. Menu Mobile Button
10. Notice
11. Search Form
12. Mail
13. Login, Register, ... Form
14. Pricing Plan
15. Gallery
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
1. Globally Applied Styles
*/
a {
  color: #673ab7;
}
a:hover,
a:active,
a:focus {
  color: #5027a7;
}
.fa-hover:hover {
  background: #673ab7;
  color: #ffffff;
}
.fa-hover:hover .ico,
.fa-hover:hover .fa {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
2. Header Top
*/
.header-top {
  height: 55px;
  background: #673ab7;
  color: #ffffff;
}
.header-top .ico-item {
  color: #ffffff;
}
.header-top .ico-item:hover {
  color: #ffffff;
}
@media (max-width: 479px) {
  .header-top .searchform {
    border-bottom-color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
3. Navigation Desktop
*/
@media (min-width: 1025px) {
  .nav-horizontal {
    background: #ffffff;
  }
  .nav-horizontal .menu > li:hover > a {
    color: #673ab7;
  }
  .nav-horizontal .menu > li.current > a {
    color: #673ab7;
  }
  .nav-horizontal .menu .sub-menu {
    background: #ffffff;
  }
  .nav-horizontal .menu .sub-menu.single a {
    color: #435966;
  }
  .nav-horizontal .menu .sub-menu.single a:hover {
    background: #673ab7;
    color: #ffffff;
  }
  .nav-horizontal .menu .sub-menu.mega > li a {
    color: #435966;
  }
  .nav-horizontal .menu .sub-menu.mega > li a:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
4. Navigation Mobile
*/
@media (max-width: 1024px) {
  .nav-horizontal .menu > li > a.active {
    color: #ffffff;
    background: #673ab7;
  }
  .nav-horizontal .menu > li.current > a {
    color: #ffffff;
    background: #673ab7;
  }
  .nav-horizontal .menu .sub-menu .title.active,
  .nav-horizontal .menu .child-list .title.active,
  .nav-horizontal .menu .sub-menu a.active,
  .nav-horizontal .menu .child-list a.active {
    color: #ffffff;
    background: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
5. Footer
*/
.footer {
  color: rgba(0, 0, 0, 0.7);
}
.footer a {
  color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 1025px) {
  .footer a:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
6. Box Content
*/
.box-content .dropdown.js__drop_down .sub-menu {
  background: #ffffff;
}
.box-content .dropdown.js__drop_down .sub-menu a {
  color: #435966;
}
@media (min-width: 1025px) {
  .box-content .dropdown.js__drop_down .sub-menu a:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
7. Data Tables
*/
.dataTables_wrapper .dataTable .group {
  background-color: #673ab7 !important;
  color: #ffffff !important;
}
table.focus-on tbody tr.focused th,
table.focus-on tbody tr.focused td {
  background: #673ab7 !important;
  color: #ffffff !important;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
8. Inbox List
*/
.inbox-list .name {
  color: #673ab7;
}
@media (min-width: 1025px) {
  .inbox-list .name:hover {
    color: #5027a7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
9. Menu Mobile Button
*/
.menu-mobile-button {
  color: #ffffff;
  background: #7f4fd5;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
10. Notice
*/
/* Notice List */
.notice-list .name {
  color: #212121;
}
@media (min-width: 1025px) {
  .notice-list .name:hover {
    color: #673ab7;
  }
}
/* Notice Popup */
.notice-popup {
  background: #ffffff;
}
.notice-popup .notice-read-more {
  color: #212121;
}
.notice-popup .notice-read-more:hover {
  color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
11. Search Form
*/
@media (min-width: 1025px) {
  .searchform .button-search:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
12. Mail
*/
.box-body .nav li.active a {
  background: #ffffff;
  color: #673ab7;
}
.box-body .nav a {
  color: #212121;
}
.box-body .nav a:hover {
  background: #ffffff;
  color: #673ab7;
}
.mailbox-messages .unread > td:first-of-type {
  border-left-color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
13. Login, Register, ... Form
*/
.frm-single .frm-input .frm-inp:focus {
  border-color: #673ab7;
}
.frm-single .frm-submit {
  background: #673ab7;
  color: #ffffff;
}
@media (min-width: 1025px) {
  .frm-single .frm-submit:hover {
    background: #5027a7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
14. Pricing Plan
*/
.pricing-table .thead {
  background: #673ab7;
  color: #fff;
}
.pricing-table .thead.bg-main-2 {
  background-color: #673ab7;
}
.pricing-table .thead.bg-blue-1 {
  background-color: #2444f9;
}
.pricing-table .thead.bg-blue-2 {
  background-color: #1e3def;
}
.pricing-table .thead.bg-blue-3 {
  background-color: #673ab7;
}
.pricing-table .td .fa-check {
  color: #673ab7;
}
.pricing-table .col-featured .td .btn-order {
  background: #673ab7;
}
@media (min-width: 1025px) {
  .pricing-table .td .btn-order:hover {
    background: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
15. Gallery
*/
.isotope-filter .filter-controls a {
  color: #435966;
}
@media (min-width: 1025px) {
  .isotope-filter .filter-controls a:hover {
    color: #673ab7;
  }
}
.isotope-filter .filter-controls .js__active {
  color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
16. User Info
*/
.user-info a {
  color: #673ab7;
}
.user-info a:hover {
  color: #5027a7;
}
/*---------------------------------------------------------------------*/
