$main-site-color:        #4390ff !default;
$main-site-dark-color:   #0554C8 !default;
$main-bg-color:          #eceff4 !default;
//Background
$dark-black-color:                  #263238 !default;
$dark-gray-background-color:        #333 !default;
$white-backgournd-color:            #fff !default;
$success-background-color:          #4caf50 !default;
$info-background-color:             #5bc0de !default;
$warning-background-color:          #f0ad4e !default;
$danger-background-color:           #d9534f !default;
$purple-background-color:           #a32cc4 !default;
$pink-background-color:             #fc46aa !default;
$inverse-background-color:          #434343 !default;
$black-background-color:            #000 !default;
$light-gray-background-color:       #f5f5f5 !default;
$dark-green-color:                  #348c37 !default;
$scroll-backgorund-color:           #666 !default;
$scroll-hover-backgorund-color:     #919191 !default;

//Text-color
$success-text-color:                #4caf50 !default;
$info-text-color:                   #5bc0de !default;
$warning-text-color:                #f0ad4e !default;
$danger-text-color:                 #d9534f !default;
$purple-text-color:                 #a32cc4 !default;
$pink-text-color:                   #fc46aa !default;
$inverse-text-color:                #434343 !default;
$white-text-color:                  #fff !default;
$dark-gray-text-color:              #333 !default;
$black-text-color:                  #000 !default;
$light-gray-color:                  #5e5e5e !default;
$normal-dark-text-color:            #777 !default;
$dark-black-text-color:             #263238 !default;
$normal-gray-text-color:            #ddd !default;
$normal-light-text-color:           #ccc !default;
$light-gray-text-color:             #999 !default;
$white-light-color:                 #ebebeb !default;

//Social background color
$social-facebook-background-color: #3b5998 !default;
$social-twitter-background-color:  #55acee !default;
$social-googleplus-background-color:#dd4b39 !default;
$social-flickr-background-color:   #ff0084 !default;
$social-amazon-background-color:   #f90 !default;
$social-android-background-color:  #9C0 !default;
$social-dribbble-background-color: #E24D87 !default;
$social-edge-background-color:     #0272BA !default;
$social-html5-background-color:    #F16528 !default;
$social-instagram-background-color:#8843BD !default;
$social-opera-background-color:    #F5182A !default;
$social-skype-background-color:    #00AFF0 !default;
$social-snapchat-background-color: #EFE200 !default;
$social-google-background-color:    #dd4b39 !default;
$social-pinterest-background-color: #cb2027 !default;
$social-tumblr-background-color:    #2c4762 !default;

//Text
$text-left: left;
$text-center: center;
$text-right: right;

//Position
$position-absolute: absolute;
$position-relative: relative;
$position-fixed: fixed;
$position-static: static;

//left
$left-division: left;
$right-division: right;


//Text-Weight
$light-text:  100;
$normal-text: normal;
$semi-bold-text: 500;
$semi-font-weight: 400;
$bold-text:   700;

//text-link
$text-link: pointer !default;

//Text-Capitalize
$text-uppercase:uppercase !default;

//Border Radius
$border-radius-0: 0;
$border-radius-4: 4px;
$border-radius-circle: 50%;
$border-radius-full-circle: 100%;

//margin
$gaping-0: 0px;
$gaping-5: 5px;
$gaping-10: 10px;
$gaping-15: 15px;
$gaping-20: 20px;
$gaping-25: 25px;
$gaping-30: 30px;
$gaping-35: 35px;
$gaping-40: 40px;
$gaping-45: 45px;
$gaping-50: 50px;
$gaping-60: 60px;
$gaping-65: 65px;
$gaping-70: 70px;
$gaping-90: 90px;