/** BEGIN: form inputs */
.form {
  &__col-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 !important;

    label {
      margin-bottom: 0;
      margin-right: 20px;
      position: relative;
      top: -1px;
    }
  }
}

.form-group {
  margin-bottom: 15px;

  > .form-label,
  > label:not(.custom-control) {
    color: #000;
    margin-bottom: 10px;
    line-height: 14px;
    display: inline-block;
  }

  .form-label {
    &__desc {
      font-size: 13px;
      color: $color-gray;
      display: inline-block;
      margin-left: 5px;
      position: relative;
      top: 1px;
    }
  }

  &.row {
    > .form-label,
    > label:not(.custom-control) {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}

.form-group-no-label {
  margin-top: 24px;
}

.form-labels-light {
  label {
    color: #939daa;
  }
}

.form-text-inline {
  margin-top: 5px;
}

input,
select,
textarea,
input[type=radio],
input[type=checkbox] {
  resize: none;
  outline: none;
  font-family: $font-base;
}


.input-group-text {
  font-size: 14px;
  padding: 6.50px 10px;
  background: rgba($color-gray, .1);
}

.form-control {
  display: inline-flex;
  width: 100%;
  padding: 6.50px 10px;
  font-size: 14px;
  background: $color-white;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  color: #000;

  &::placeholder {
    color: #939daa;
  }

  &:focus {
    border-color: $color-lasur;
    color: #000;
    box-shadow: none;
    outline: none;
  }

  &:disabled,
  &:disabled:focus {
    background: #e9ecf1;
    border: 1px solid #d3d9dd;
  }

  &:read-only {
    border: 1px solid rgba(#d3d9dd, .6);
    background: rgba(#e9ecf1, .5);

    &:focus {
      border-color: $color-lasur;
    }
  }

  &--rounded {
    border-radius: 36px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

textarea {
  &.form-control {
    height: auto;
  }
}

.has-danger {
  .form-control {
    border-color: $color-danger;
  }

  .form-control-danger {
    background-image: none;

    &:focus {
      border-color: $color-danger;
    }
  }
}

.has-success {
  .form-control {
    border-color: $color-success;
  }

  .form-control-danger {
    background-image: none;

    &:focus {
      border-color: $color-success;
    }
  }
}

.has-warning {
  .form-control {
    border-color: $color-warning;
  }

  .form-control-danger {
    background-image: none;

    &:focus {
      border-color: $color-warning;
    }
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 998;
  color: #c9ced4;
  font-size: 17px;
  line-height: 17px;
  right: 10px;
  width: 17px;

  &.mdi {
    font-size: 22px;
  }
}

.input-group {
  position: relative;
  margin-bottom:20px;

  &.input-group-icon {
    .form-control {
      border-radius: $border-radius;

      &--rounded {
        border-radius: 36px;
      }
    }
  }

  &.icon-right {
    .form-control {
      padding-right: 35px;
    }

    .input-icon {
      right: 10px;
    }

    .form-control--rounded + .input-icon {
      right: 15px;
    }
  }

  &.icon-left {
    .form-control {
      padding-left: 35px;
    }

    .input-icon {
      left: 10px;
    }
  }
}

.input-group-addon {
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
  line-height: 1;
  color: $color-black-light;
  background: none;
  border-radius: $border-radius;
}

@mixin input-group-sm {
  font-size: (14px !important);
  padding: 4px 10px;
}

.input-group-sm {
  & >.input-group-prepend {
    & > .input-group-text {
      padding: .4rem 10px;
      font-size: 14px;
    }
  }

  .input-icon {
    font-size: 15px;
    line-height: 15px;
    width: 15px;
  }

  & > .input-group-addon {
    @include input-group-sm;
  }

  & > .input-group-btn {
    & > .input-group-addon {
      &.btn {
        @include input-group-sm;
      }
    }

    & > .btn {
      @include input-group-sm;
    }
  }

  & > .form-control {
    @include input-group-sm;
  }
}

.form-control-sm {
  @include input-group-sm;
}

@mixin input-group-lg {
  font-size: (14px !important);
  padding: 11px 15px;
}

.input-group-lg {
  .input-icon {
    font-size: 20px;
    line-height: 20px;
    width: 20px;
  }

  & >.input-group-prepend {
    & > .input-group-text {
      padding: 11px 15px;
      font-size: 14px;
    }
  }

  &.icon-right {
    .form-control {
      padding-right: 42px;
    }

    .input-icon {
      right: 15px;
    }
  }

  &.icon-left {
    .form-control {
      padding-left: 42px;
    }

    .input-icon {
      left: 15px;
    }
  }

  & > .input-group-addon {
    @include input-group-lg;
  }

  & > .input-group-btn {
    & > .input-group-addon {
      &.btn {
        @include input-group-lg;
      }
    }

    & > .btn {
      @include input-group-lg;
    }
  }

  & > .form-control {
    @include input-group-lg;
  }
}

.form-control-lg {
  /*padding: 0 15px;*/
}

.form-control-md {
  height: 40px;
}

.form-text {
  font-size: 14px;
  margin-top: 8px;
}

.input-control {
  display: flex;
  align-items: center;
  position: relative;

  &-item {
    color: $color-lasur;
    margin-left: 10px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    right: -26px;
    top: calc(50% - 8px);
    &:hover,
    &:focus {
      color: $color-lasur-hover;
    }
  }
}

.custom-control-extra-description {
  .custom-control {
    margin-bottom: 0;
  }

  .form-text {
    margin-top: 0;
    margin-left: 22px;
  }
}

.input-group-sm {
  .btn {

  }

  .input-group-prepend,
  .input-group-append {
    .dropdown-toggle-split {
      min-height: 31px;
    }
  }
}

.form-controls-rounded {
  .input-group-prepend {
    .input-group-text {
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px;
      padding-left: 13px;
    }
  }

  .input-group-append {
    .input-group-text {
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px;
      padding-right: 13px;
    }
  }

  .input-group-icon {
    .form-control {
      border-radius: 21px;

      &-lg {
        border-radius: 30px;
      }
    }

    &.icon-right {
      .input-icon {
        right: 15px;
      }
    }
  }

  .form-control {
    border-radius: 21px;
    padding-left: 13px;
    padding-right: 13px;

    &-lg {
      border-radius: 30px;
    }
  }

  .btn {
    border-radius: 21px;

    &-lg {
      border-radius: 30px;
    }
  }
}
/** END: form inputs */
