/** BEGIN: global settings */
.global-settings {
  font-size: 15px;

  &__block {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block-heading {
    font-size: 20px;
    color: #000;
    margin-bottom: 12px;
  }

  &__block-desc {
    max-width: 365px;
    color: #939daa;
    margin-bottom: 10px;
  }

  &__block-links {
    display: flex;
    flex-direction: column;
  }

  &__block-link {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-heading {
    font-size: 17px;
    color: #000;
    margin-top: -3px;
  }

  &__form-actions {
    margin-bottom: 0;
    padding-top: 5px;
  }

  &__form-row {
    margin-bottom: 20px;
  }

  &__form-ads-account {
    label {
      margin-bottom: 2px;
    }
  }
}
/** END: global settings */
