/** BEGIN: progress */
.progress {
  background-color: $progress-bg-color;
}

.progress-bar {
  background: $color-info;
}

.progress-lg {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 700;
}

.progress-md {
  height: 12px;
  font-size: 10px;
}

.progress-sm {
  height: 8px;

  .progress-bar {
    height: 8px;
  }
}

.progress-xs {
  height: 4px;

  .progress-bar {
    height: 4px;
  }
}

.progress-rounded {
  border-radius: 20px;

  .progress-bar {
    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &.progress-xs {
    border-radius: 4px;

    .progress-bar {
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  &.progress-sm {
    border-radius: 8px;

    .progress-bar {
      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  &.progress-md {
    border-radius: 12px;

    .progress-bar {
      &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  &.progress-lg {
    border-radius: 30px;

    .progress-bar {
      &:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }

      &:last-child {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }
  }
}
/** END: progress */
