#header-panel .navbar {
  background-color: #FDCD0C; }
#header-panel #navbar-header .navbar-brand.short {
  background-color: #e3b80a; }
#header-panel .reports .badge {
  background-color: #FE5050; }
#header-panel .message .badge {
  background-color: #4EB152; }
#header-panel .message .all-mails:hover i {
  color: #FDCD0C; }
#header-panel .message .item:hover .icon, #header-panel .message .item:hover div, #header-panel .reports .item:hover .icon, #header-panel .reports .item:hover div {
  color: #FDCD0C; }
#header-panel .form-control {
  background-color: #fdd224; }
#header-panel .btn-search {
  background-color: #fdd224; }
  #header-panel .btn-search i {
    color: #ffffff; }
#header-panel .navbar-form input::-webkit-input-placeholder {
  color: #ffffff; }
#header-panel .navbar-form input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff; }
#header-panel .navbar-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff; }
#header-panel .navbar-form input:-ms-input-placeholder {
  color: #ffffff; }
#header-panel .user-menu .dropdown-menu li .badge {
  background-color: #FDCD0C; }
#header-panel .user-menu .dropdown-menu li:hover a, #header-panel .user-menu .dropdown-menu li:hover span, #header-panel .user-menu .dropdown-menu li:hover i {
  color: #FDCD0C; }
#header-panel .user-menu .dropdown-menu li:hover .badge {
  color: #ffffff; }

#navigation-panel .sidebar li a:hover {
  color: #FDCD0C; }
  #navigation-panel .sidebar li a:hover span, #navigation-panel .sidebar li a:hover i {
    color: #FDCD0C; }
#navigation-panel .sidebar li a.active {
  color: #FDCD0C; }
  #navigation-panel .sidebar li a.active span, #navigation-panel .sidebar li a.active i {
    color: #FDCD0C; }
#navigation-panel .sidebar li.active {
  color: #FDCD0C; }
  #navigation-panel .sidebar li.active span, #navigation-panel .sidebar li.active i {
    color: #FDCD0C; }
  #navigation-panel .sidebar li.active > .chevron:after {
    color: #FDCD0C; }
  #navigation-panel .sidebar li.active > a:focus {
    color: #FDCD0C; }
    #navigation-panel .sidebar li.active > a:focus span, #navigation-panel .sidebar li.active > a:focus i {
      color: #FDCD0C; }

#content-panel .note-editor.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }
#content-panel .breadcrumb li a:hover, #content-panel .breadcrumb li a:focus {
  color: #FDCD0C; }
#content-panel .breadcrumb li a.active {
  color: #FDCD0C; }
#content-panel .panel .dropdown-menu > li > a:hover, #content-panel .panel .dropdown-menu > li > a:focus {
  color: #FDCD0C; }
#content-panel .stat-item .panel-body {
  background-color: #FDCD0C; }
  #content-panel .stat-item .panel-body h2 {
    color: #ffffff; }
#content-panel .stat-item .panel-footer {
  background-color: #e3b80a; }
  #content-panel .stat-item .panel-footer h5 {
    color: #ffffff; }
#content-panel #vmap .jqvmap-zoomin:hover, #content-panel #vmap .jqvmap-zoomout:hover {
  background-color: #FDCD0C; }
#content-panel .btn-to-do, #content-panel .btn-chat, #content-panel .btn-table {
  background-color: #FDCD0C; }
  #content-panel .btn-to-do:hover, #content-panel .btn-chat:hover, #content-panel .btn-table:hover {
    background-color: #e3b80a; }
  #content-panel .btn-to-do:focus, #content-panel .btn-chat:focus, #content-panel .btn-table:focus {
    background-color: #e3b80a; }

.fontawesome-icon-list a:hover, .fontawesome-icon-list a:focus {
  color: #FDCD0C; }

.inbox .right .inbox-body {
  padding: 0px; }
  .inbox .right .inbox-body .btn-group:hover a, .inbox .right .inbox-body .btn-group:hover i, .inbox .right .inbox-body .btn-group:focus a, .inbox .right .inbox-body .btn-group:focus i {
    color: #FDCD0C; }
  .inbox .right .inbox-body .btn-group.open .dropdown-menu a:hover, .inbox .right .inbox-body .btn-group.open .dropdown-menu a:focus {
    color: #FDCD0C; }
  .inbox .right .inbox-body .refresh a:hover i, .inbox .right .inbox-body .refresh:focus i {
    color: #FDCD0C; }
  .inbox .right .inbox-body .inbox-pagination a.np-btn:hover, .inbox .right .inbox-body .inbox-pagination a.np-btn:focus {
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8; }
    .inbox .right .inbox-body .inbox-pagination a.np-btn:hover i, .inbox .right .inbox-body .inbox-pagination a.np-btn:focus i {
      color: #FDCD0C; }

#message-detalis .media .text-primary {
  color: #FDCD0C; }
#message-detalis .reply a {
  color: #FDCD0C; }

.link:hover, .link:focus, .link:active {
  color: #FDCD0C; }

.btn-group .dropdown-menu li:hover a {
  color: #FDCD0C; }
.btn-group .btn.dash-button:focus span {
  color: #FDCD0C; }
.btn-group .btn.dash-button:hover span {
  color: #FDCD0C; }

.btn-group.open .btn.dash-button span {
  color: #FDCD0C; }

.list-group-item.active {
  background-color: #fdd224;
  border: 1px solid #fdd224;
  color: #ffffff; }
  .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #fdd224;
    border: 1px solid #fdd224; }
    .list-group-item.active:hover .list-group-item-heading,
    .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-heading,
    .list-group-item.active:focus .list-group-item-text {
      color: #ffffff; }
  .list-group-item.active .list-group-item-text {
    color: #ffffff; }
  .list-group-item.active .list-group-item-heading {
    color: #ffffff; }

.list-group.link .list-group-item:hover, .list-group.link .list-group-item:focus,
.list-group.button .list-group-item:hover,
.list-group.button .list-group-item:focus {
  background-color: #FDCD0C; }
  .list-group.link .list-group-item:hover .list-group-item-heading, .list-group.link .list-group-item:focus .list-group-item-heading,
  .list-group.button .list-group-item:hover .list-group-item-heading,
  .list-group.button .list-group-item:focus .list-group-item-heading {
    color: #ffffff; }
  .list-group.link .list-group-item:hover .list-group-item-text, .list-group.link .list-group-item:focus .list-group-item-text,
  .list-group.button .list-group-item:hover .list-group-item-text,
  .list-group.button .list-group-item:focus .list-group-item-text {
    color: #ffffff; }

.list-group-item.disabled {
  background-color: #FDCD0C; }
  .list-group-item.disabled:hover, .list-group-item.disabled:focus {
    background-color: #e3b80a; }

.nav-tabs > li a:hover, .nav-tabs > li a:focus {
  background-color: #FDCD0C; }
.nav-tabs li.active a {
  background-color: #FDCD0C; }
  .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    background-color: #FDCD0C; }

.nav-stacked li a:hover, .nav-stacked li a:focus {
  background-color: #FDCD0C; }

.nav-pills li a:hover, .nav-pills li a:focus {
  background-color: #FDCD0C; }
.nav-pills li.active > a {
  background-color: #FDCD0C; }
  .nav-pills li.active > a:hover, .nav-pills li.active > a:focus {
    background-color: #FDCD0C; }

.form-control:focus {
  border-color: #FDCD0C; }

.input-group-addon {
  background-color: #FDCD0C; }

.bootstrap-tagsinput.focus {
  border: 1px solid #FDCD0C; }

.note-editor .btn-default {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }
  .note-editor .btn-default:hover {
    background-color: #e3b80a;
    border: 1px solid #e3b80a; }
.note-editor .btn-group {
  margin-top: 0px; }
.note-editor .open > .btn-default.dropdown-toggle {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }

.bootstrap-touchspin .bootstrap-touchspin-up,
.bootstrap-touchspin .bootstrap-touchspin-down {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }
  .bootstrap-touchspin .bootstrap-touchspin-up:hover,
  .bootstrap-touchspin .bootstrap-touchspin-down:hover {
    background-color: #e3b80a;
    border: 1px solid #e3b80a; }

.dt-buttons a.dt-button:hover, .dt-buttons a.dt-button:active {
  background-color: #e3b80a; }

.dataTables_wrapper .dataTables_filter input:focus {
  border: 1px solid #FDCD0C; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }
.dataTables_wrapper .dataTables_paginate .current {
  background: #FDCD0C;
  border: 1px solid #FDCD0C; }

.daterangepicker .daterangepicker_input input:focus {
  border: 1px solid #FDCD0C; }
.daterangepicker .ranges li:hover {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }
.daterangepicker .ranges li:active, .daterangepicker .ranges li:focus {
  background-color: #FDCD0C;
  border: 1px solid #FDCD0C; }
.daterangepicker .input-mini.active {
  border: 1px solid #FDCD0C; }
.daterangepicker td.active {
  background-color: #FDCD0C;
  border: 0px;
  color: #ffffff; }
.daterangepicker td.active.end-date {
  background-color: #FDCD0C; }
.daterangepicker .prev.available:hover,
.daterangepicker .next.available:hover {
  color: #FDCD0C; }

#button-settings {
  background-color: #FDCD0C; }

#button-settings.active {
  background-color: #e3b80a; }

#theme-settings {
  background-color: #FDCD0C; }
  #theme-settings .header {
    background-color: #e3b80a; }
