.customizer.border-left-blue-grey.border-left-lighten-4.d-none.d-xl-block
	a.customizer-close(href="#")
		i.ft-x.font-medium-3
	a.customizer-toggle.bg-danger(href="#")
		i.ft-settings.font-medium-3.fa-spin.fa.fa-spin.fa-fw.white
	include ../contents/customizer-content.html