@import "../base/common/variables";

$sidebar-bg-color: #2e4057;
$sidebar-scrollbar-color: rgba(#fff, .5);
$sidebar-separator-color: rgba(#fff, .5);
$sidebar-user-avatar-placeholder-bg-color: rgba(#fff, .15);
$sidebar-user-avatar-placeholder-color: #fff;
$sidebar-user-dropdown-bg-color: #fff;
$sidebar-user-dropdown-item-color: #455161;
$sidebar-user-dropdown-item-bg-hover-color: rgba(#2e4057, .15);
$sidebar-user-dropdown-item-hover-color: #455161;
$sidebar-badge-hover-color: #fff;
$sidebar-badge-bg-color: #ff6384;
$sidebar-badge-bg-hover-color: #ff6384;
$sidebar-user-dropdown-color: #fff;
$sidebar-user-dropdown-hover-color: #fff;
$sidebar-collapse-bg-color: #243446;
$sidebar-collapse-color: #fff;
$sidebar-nav-link-color: rgba(#fff, .6);
$sidebar-nav-item-border-color: rgba(#fff, .15);
$sidebar-nav-item-hover-bg-color: #fff;
$sidebar-nav-item-hover-color: #455161;
$sidebar-subnav-bg-color: #243446;
$sidebar-subnav-link-color: rgba(#fff, .7);
$sidebar-subnav-link-hover-color: #fff;
$sidebar-subnav-link-hover-bg-color: rgba(#fff, .05);
$sidebar-section-badge-bg-color: rgba(#fff, .8);

@import '../base/style';
