@import "../base/common/variables";

$sidebar-bg-color: #fff;
$sidebar-user-avatar-placeholder-bg-color: rgba(#0094f2, .15);
$sidebar-user-avatar-placeholder-color: #0094f2;
$sidebar-separator-color: #0094f2;
$sidebar-user-dropdown-menu-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
$sidebar-user-dropdown-bg-color: #fff;
$sidebar-user-dropdown-item-color: #0094f2;
$sidebar-user-dropdown-item-bg-hover-color: #0094f2;
$sidebar-user-dropdown-item-hover-color: #fff;
$sidebar-badge-hover-color: #ff6384;
$sidebar-badge-bg-color: #ff6384;
$sidebar-badge-bg-hover-color: #fff;
$sidebar-user-dropdown-color: #0094f2;
$sidebar-user-dropdown-hover-color: darken($sidebar-user-dropdown-color, 8%);
$sidebar-collapse-bg-color: rgba(#0094f2, .15);
$sidebar-collapse-color: #0094f2;
$sidebar-nav-link-color: #0094f2;
$sidebar-nav-item-border-color: #E3E6E9;
$sidebar-nav-item-hover-bg-color: #0094f2;
$sidebar-nav-item-hover-color: #fff;
$sidebar-section-nav-item-hover-color: #0094f2;
$sidebar-subnav-bg-color: #D9F0FC;
$sidebar-subnav-link-color: #0094f2;
$sidebar-subnav-link-hover-color: #0094f2;
$sidebar-subnav-link-hover-bg-color: rgba($sidebar-nav-link-color, .1);
$sidebar-user-separator-color: rgba(#000, .1);

@import '../base/style';

.sidebar {
  box-shadow: 0 3px 5px 0 rgba(147, 157, 170, .03);
  border-top: 1px solid rgba(#939daa, .05);
}
