/*------------------------------------*\
    SWEET ALERT
\*------------------------------------*/
.sweet-alert {
    padding: 50px 20px;
    border-radius: 4px;
}

.sweet-alert h2 {
    margin-top: -10px;
    margin-bottom: 16px;
}

.sweet-alert .sa-icon {
    margin-top: 0;
    margin-bottom: 30px;
}

.sweet-alert button {
    margin-top: 25px;
}
