<div class="menu-a">
  <h3 class="menu-a__heading">Tui Charts</h3>
  <ul class="menu-a__items">
    <li class="menu-a__item {% if tuiChartType == 'bar'%}is-active{% endif %}">
      <a href="tui-charts.html" class="menu-a__link">Bar Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'column'%}is-active{% endif %}">
      <a href="tui-column-charts.html" class="menu-a__link">Column Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'line'%}is-active{% endif %}">
      <a href="tui-line-charts.html" class="menu-a__link">Line Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'area'%}is-active{% endif %}">
      <a href="tui-area-charts.html" class="menu-a__link">Area Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'bubble'%}is-active{% endif %}">
      <a href="tui-bubble-charts.html" class="menu-a__link">Bubble Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'pie'%}is-active{% endif %}">
      <a href="tui-pie-charts.html" class="menu-a__link">Pie Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'combo'%}is-active{% endif %}">
      <a href="tui-combo-charts.html" class="menu-a__link">Combo Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'map'%}is-active{% endif %}">
      <a href="tui-map-charts.html" class="menu-a__link">Map Charts</a>
    </li>
    <li class="menu-a__item {% if tuiChartType == 'radial'%}is-active{% endif %}">
      <a href="tui-radial-charts.html" class="menu-a__link">Radial Charts</a>
    </li>
  </ul>
</div>
