<div class="m-nav">
  <div class="m-nav__side-top">
    <h5 class="m-nav__heading">HTML Editors</h5>
    <ul class="m-nav__menu">
      <li class="m-nav__menu-item is-active">
        <a href="wysiwyg-jodit-editor.html" class="m-nav__menu-link">Jodit Editor</a>
      </li>
      <li class="m-nav__menu-item">
        <a href="wysiwyg-alloy-editor.html" class="m-nav__menu-link">
          Alloy Editor
        </a>
      </li>
    </ul>
    <!--<h5 class="m-nav__heading">Markdown Editors</h5>
    <ul class="m-nav__menu">
      <li class="m-nav__menu-item">
        <a href="#" class="m-nav__menu-link">
          <span class="ua-icon-company-outline m-nav__menu-icon"></span>Companies
        </a>
      </li>
      <li class="m-nav__menu-item">
        <a href="#" class="m-nav__menu-link">
          <span class="ua-icon-individual m-nav__menu-icon"></span>Individuals
        </a>
      </li>
    </ul>-->
  </div>
</div>
