@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/apps/crm/contacts.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>CRM / Contacts</h3>

                <button class="btn btn-outline-primary ks-light ks-crm-contacts-user-view-column-toggle" data-block-toggle=".ks-crm-contacts-user-view-column">User Panel</button>
            </section>
        </div>
        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="ks-crm-contacts-container">
                    <div class="ks-crm-contacts-users-list-column">
                        <div class="ks-crm-contacts-users-list-column-header">
                            <h3>Work Group</h3>
                            <div class="ks-controls">
                                <button class="btn btn-success">
                                    <span class="la la-plus ks-icon"></span>
                                    <span class="ks-text">Add contact</span>
                                </button>
                                <div class="btn btn-outline-secondary">Create Group</div>
                            </div>
                        </div>
                        <div class="ks-crm-contacts-users-list-column-table-container">
                            <div class="ks-crm-contacts-users-list-column-table-header">A <span class="ks-text-light">(4)</span></div>
                            <table class="table table-hover ks-table-cells-vertical-align-middle ks-crm-contacts-users-list-column-table">
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-7.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Adam Fulton</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Senior Developer
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-6.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Angela Johnston</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Graphic Designer
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-4.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Adam Fulton</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Lab Administrator
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-11.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Amy Berry</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        UI/UX Designer
                                    </td>
                                </tr>
                            </table>

                            <div class="ks-crm-contacts-users-list-column-table-header">B <span class="ks-text-light">(2)</span></div>
                            <table class="table table-hover ks-table-cells-vertical-align-middle ks-crm-contacts-users-list-column-table">
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Barry Hayton</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Assistant Property Manager
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-2.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Becka Woody</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Lab Administrator
                                    </td>
                                </tr>
                            </table>

                            <div class="ks-crm-contacts-users-list-column-table-header">C <span class="ks-text-light">(6)</span></div>
                            <table class="table table-hover ks-table-cells-vertical-align-middle ks-crm-contacts-users-list-column-table">
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Catherine Flores</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Assistant Property Manager
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-2.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Carlos Sanchez</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Lab Administrator
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Cheryl Russell</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Assistant Property Manager
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-2.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Christine Williams</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Lab Administrator
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Carol Newman</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Assistant Property Manager
                                    </td>
                                </tr>
                                <tr>
                                    <td width="1">
                                        <img src="assets/img/avatars/avatar-2.jpg" class="ks-avatar rounded-circle" width="36" height="36">
                                    </td>
                                    <td width="200">
                                        <div class="ks-name">Cheryl Castillo</div>
                                        <div class="ks-email">
                                            <a href="#" class="ks-color-info">hello.fulton@example.com</a>
                                        </div>
                                    </td>
                                    <td>
                                        Lab Administrator
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ks-crm-contacts-user-view-column">
                        <div class="ks-crm-contacts-user-view-column-user-info-container">
                            <section class="ks-crm-contacts-user-view-column-user-info">
                                <img src="assets/img/avatars/avatar-10.jpg" class="ks-avatar rounded-circle" width="64" height="64">
                                <section>
                                    <div class="ks-crm-contacts-user-view-column-user-info-name">Anna Vlasova</div>
                                    <div class="ks-crm-contacts-user-view-column-user-info-description">Graphic Designer</div>
                                    <div class="badge badge-success">Design</div>

                                    <section class="ks-crm-contacts-user-view-column-user-info-controls">
                                        <a href="#" class="btn btn-outline-secondary ks-no-text">
                                            <span class="la la-facebook ks-icon"></span>
                                        </a>
                                        <a href="#" class="btn btn-outline-secondary ks-no-text">
                                            <span class="la la-twitter ks-icon"></span>
                                        </a>
                                        <a href="#" class="btn btn-outline-secondary ks-no-text">
                                            <span class="la la-linkedin ks-icon"></span>
                                        </a>
                                    </section>
                                </section>
                            </section>
                        </div>
                        <div class="ks-crm-contacts-user-view-column-user-contact-container">
                            <section class="ks-crm-contacts-user-view-column-user-contact-section">
                                <div class="ks-column-user-contact-section-header">
                                    Phone Number
                                </div>
                                <div class="ks-column-user-contact-section-item">
                                    <span class="ks-icon la la-phone"></span> +7 (911) 555-35-35
                                </div>
                                <div class="ks-column-user-contact-section-item">
                                    <span class="ks-icon la la-phone"></span> +7 (911) 555-35-35
                                </div>
                            </section>

                            <section class="ks-crm-contacts-user-view-column-user-contact-section">
                                <div class="ks-column-user-contact-section-header">
                                    Email Address
                                </div>
                                <div class="ks-column-user-contact-section-item">
                                    <span class="ks-icon la la-envelope-o"></span> <a href="#">a.vlasova@example.com</a>
                                </div>
                            </section>

                            <section class="ks-crm-contacts-user-view-column-user-contact-section">
                                <div class="ks-column-user-contact-section-header">
                                    Website
                                </div>
                                <div class="ks-column-user-contact-section-item">
                                    <span class="ks-icon la la-external-link"></span> <a href="#">www.example.com</a>
                                </div>
                            </section>

                            <section class="ks-crm-contacts-user-view-column-user-contact-section">
                                <div class="ks-column-user-contact-section-header">
                                    Location
                                </div>
                                <div class="ks-column-user-contact-section-item">
                                    <span class="ks-icon la la-map-marker"></span>
                                    <span>2205 Ethels Lane <br> Winter Haven, FL 33830</span>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')