@@include('./_partials/header_start.html')
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Email Templates</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Info</h5>
                                <img src="assets/img/email-templates/basic.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Newsletter</h5>
                                <img src="assets/img/email-templates/newsletter.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Newsletter</h5>
                                <img src="assets/img/email-templates/drip.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Success Message</h5>
                                <img src="assets/img/email-templates/success.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/action-message-success.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Receipt</h5>
                                <img src="assets/img/email-templates/receipt.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/receipt.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Hero</h5>
                                <img src="assets/img/email-templates/hero.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/hero.html" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Newsletter v2</h5>
                                <img src="assets/img/email-templates/newsletter-2.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Plain Text</h5>
                                <img src="assets/img/email-templates/plain-text.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/action-message.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Warning Message</h5>
                                <img src="assets/img/email-templates/warning.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/action-message-warning.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Order</h5>
                                <img src="assets/img/email-templates/order.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/order.html" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Sidebar</h5>
                                <img src="assets/img/email-templates/sidebar.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Newsletter v3</h5>
                                <img src="assets/img/email-templates/newsletter-3.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Reset Password</h5>
                                <img src="assets/img/email-templates/password-reset.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/password-reset.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Danger Message</h5>
                                <img src="assets/img/email-templates/danger.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/action-message-danger.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Marketing</h5>
                                <img src="assets/img/email-templates/marketing.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Sidebar Hero</h5>
                                <img src="assets/img/email-templates/sidebar-hero.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Welcome</h5>
                                <img src="assets/img/email-templates/welcome.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <a href="../../emails/welcome_message.html" target="_blank" class="btn btn-primary btn-block ks-light">Live Preview</a>
                                </div>
                            </div>
                            <div class="card ks-card-image">
                                <h5 class="ks-header">Welcome v2</h5>
                                <img src="assets/img/email-templates/welcome-2.png" alt="" class="embed-responsive">
                                <div class="ks-info">
                                    <button class="btn btn-primary btn-block ks-light" disabled>Coming Soon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')