@@include('./_partials/header_start.html')
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Buttons</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="ks-nav-body-wrapper">
                <div class="container-fluid ks-rows-section">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Default buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary">Primary</button>
                                        <button class="btn btn-success">Success</button>
                                        <button class="btn btn-info">Info</button>
                                        <button class="btn btn-warning">Warning</button>
                                        <button class="btn btn-danger">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary" disabled>Disabled</button>
                                        <button class="btn btn-success" disabled>Disabled</button>
                                        <button class="btn btn-info" disabled>Disabled</button>
                                        <button class="btn btn-warning" disabled>Disabled</button>
                                        <button class="btn btn-danger" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Default buttons (light)</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-light">Primary</button>
                                        <button class="btn btn-success ks-light">Success</button>
                                        <button class="btn btn-info ks-light">Info</button>
                                        <button class="btn btn-warning ks-light">Warning</button>
                                        <button class="btn btn-danger ks-light">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-light" disabled>Disabled</button>
                                        <button class="btn btn-success ks-light" disabled>Disabled</button>
                                        <button class="btn btn-info ks-light" disabled>Disabled</button>
                                        <button class="btn btn-warning ks-light" disabled>Disabled</button>
                                        <button class="btn btn-danger ks-light" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Default rounded buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-rounded">Primary</button>
                                        <button class="btn btn-success ks-rounded">Success</button>
                                        <button class="btn btn-info ks-rounded">Info</button>
                                        <button class="btn btn-warning ks-rounded">Warning</button>
                                        <button class="btn btn-danger ks-rounded">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-success ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-info ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-warning ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-danger ks-rounded" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Default rounded buttons (light)</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-light ks-rounded">Primary</button>
                                        <button class="btn btn-success ks-light ks-rounded">Success</button>
                                        <button class="btn btn-info ks-light ks-rounded">Info</button>
                                        <button class="btn btn-warning ks-light ks-rounded">Warning</button>
                                        <button class="btn btn-danger ks-light ks-rounded">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-success ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-info ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-warning ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-danger ks-light ks-rounded" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary">Primary</button>
                                        <button class="btn btn-outline-success">Success</button>
                                        <button class="btn btn-outline-info">Info</button>
                                        <button class="btn btn-outline-warning">Warning</button>
                                        <button class="btn btn-outline-danger">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary" disabled>Disabled</button>
                                        <button class="btn btn-outline-success" disabled>Disabled</button>
                                        <button class="btn btn-outline-info" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline buttons (light)</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light">Primary</button>
                                        <button class="btn btn-outline-success ks-light">Success</button>
                                        <button class="btn btn-outline-info ks-light">Info</button>
                                        <button class="btn btn-outline-warning ks-light">Warning</button>
                                        <button class="btn btn-outline-danger ks-light">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light" disabled>Disabled</button>
                                        <button class="btn btn-outline-success ks-light" disabled>Disabled</button>
                                        <button class="btn btn-outline-info ks-light" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning ks-light" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger ks-light" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline buttons with solid background</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-solid">Primary</button>
                                        <button class="btn btn-outline-success ks-solid">Success</button>
                                        <button class="btn btn-outline-info ks-solid">Info</button>
                                        <button class="btn btn-outline-warning ks-solid">Warning</button>
                                        <button class="btn btn-outline-danger ks-solid">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-success ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-info ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger ks-solid" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline buttons with solid background (light)</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light ks-solid">Primary</button>
                                        <button class="btn btn-outline-success ks-light ks-solid">Success</button>
                                        <button class="btn btn-outline-info ks-light ks-solid">Info</button>
                                        <button class="btn btn-outline-warning ks-light ks-solid">Warning</button>
                                        <button class="btn btn-outline-danger ks-light ks-solid">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-success ks-light ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-info ks-light ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning ks-light ks-solid" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger ks-light ks-solid" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline Rounded Buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-rounded">Primary</button>
                                        <button class="btn btn-outline-success ks-rounded">Success</button>
                                        <button class="btn btn-outline-info ks-rounded">Info</button>
                                        <button class="btn btn-outline-warning ks-rounded">Warning</button>
                                        <button class="btn btn-outline-danger ks-rounded">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-success ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-info ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger ks-rounded" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Outline Rounded Buttons (light)</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light ks-rounded">Primary</button>
                                        <button class="btn btn-outline-success ks-light ks-rounded">Success</button>
                                        <button class="btn btn-outline-info ks-light ks-rounded">Info</button>
                                        <button class="btn btn-outline-warning ks-light ks-rounded">Warning</button>
                                        <button class="btn btn-outline-danger ks-light ks-rounded">Danger</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-success ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-info ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-warning ks-light ks-rounded" disabled>Disabled</button>
                                        <button class="btn btn-outline-danger ks-light ks-rounded" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Theme Buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-dark-tan">Dark Tan</button>
                                        <button class="btn btn-persian-green">Persian Green</button>
                                        <button class="btn btn-royal-blue">Royal Blue</button>
                                        <button class="btn btn-crusta">Crusta</button>
                                        <button class="btn btn-medium-purple">Medium Purple</button>
                                        <button class="btn btn-cerise-red">Cerise Red</button>
                                        <button class="btn btn-fuchsia-pink">Fuchsia Pink</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-dark-tan" disabled>Dark Tan</button>
                                        <button class="btn btn-persian-green" disabled>Persian Green</button>
                                        <button class="btn btn-royal-blue" disabled>Royal Blue</button>
                                        <button class="btn btn-crusta" disabled>Crusta</button>
                                        <button class="btn btn-medium-purple" disabled>Medium Purple</button>
                                        <button class="btn btn-cerise-red" disabled>Cerise Red</button>
                                        <button class="btn btn-fuchsia-pink" disabled>Fuchsia Pink</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Icon Buttons v1</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-split">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Split ks-icon left</span>
                                        </button>
                                        <button class="btn btn-primary ks-split">
                                            <span class="ks-text">Split ks-icon button right</span>
                                            <span class="la la-check ks-icon"></span>
                                        </button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Icon button left</span>
                                        </button>
                                        <button class="btn btn-primary">
                                            <span class="ks-text">Icon button right</span>
                                            <span class="la la-check ks-icon"></span>
                                        </button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-split">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Split icon button left</span>
                                        </button>
                                        <button class="btn btn-outline-primary ks-split">
                                            <span class="ks-text">Split icon button right</span>
                                            <span class="la la-check ks-icon"></span>
                                        </button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Icon button left</span>
                                        </button>
                                        <button class="btn btn-outline-primary">
                                            <span class="ks-text">Icon button right</span>
                                            <span class="la la-check ks-icon"></span>
                                        </button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-outline-primary ks-no-text">
                                            <span class="la la-check ks-icon"></span>
                                        </button>
                                        <button class="btn btn-outline-primary ks-no-text">
                                            <span class="la la-trash-o ks-icon"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Sizes</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary btn-lg">Large button</button>
                                        <button class="btn btn-outline-primary btn-lg">Large button</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary">Default button</button>
                                        <button class="btn btn-outline-primary">Default button</button>
                                    </div>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary btn-sm">Small button</button>
                                        <button class="btn btn-outline-primary btn-sm">Small button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 ks-panels-column-section">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Icon Buttons v2</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary ks-icon ks-icon-block">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Button</span>
                                            <span class="badge badge-pill badge-info ks-label ks-sm">8</span>
                                        </button>
                                        <button class="btn btn-success ks-icon ks-icon-block">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Button</span>
                                            <span class="badge badge-pill badge-primary ks-label ks-sm">22</span>
                                        </button>
                                        <button class="btn btn-info ks-icon ks-icon-block">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Button</span>
                                        </button>
                                        <button class="btn btn-outline-primary ks-light ks-icon-block">
                                            <span class="la la-check ks-icon"></span>
                                            <span class="ks-text">Button</span>
                                            <span class="badge badge-pill badge-pink ks-label ks-sm">3</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Button Secondary</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-secondary">Secondary</button>
                                        <button class="btn btn-secondary" disabled>Disabled</button>
                                        <button class="btn btn-outline-secondary">Secondary</button>
                                        <button class="btn btn-outline-secondary" disabled>Disabled</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Button dropdown</h5>
                                    <div class="ks-items-block">
                                        <div class="btn-group">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success">Action</button>
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info">Action</button>
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning">Action</button>
                                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger">Action</button>
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-primary">Action</button>
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-success">Action</button>
                                            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-info">Action</button>
                                            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-warning">Action</button>
                                            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-danger">Action</button>
                                            <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Block level buttons</h5>
                                    <div class="ks-items-block">
                                        <button class="btn btn-primary btn-lg btn-block">Block level button</button>
                                        <button class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Radio &amp; Checkbox buttons</h5>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 3
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active">
                                                <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                                            </label>
                                            <label class="btn btn-outline-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 2
                                            </label>
                                            <label class="btn btn-outline-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 3
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-outline-primary ks-light active">
                                                <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                                            </label>
                                            <label class="btn btn-outline-primary ks-light">
                                                <input type="checkbox" autocomplete="off"> Checkbox 2
                                            </label>
                                            <label class="btn btn-outline-primary ks-light">
                                                <input type="checkbox" autocomplete="off"> Checkbox 3
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active">
                                                <input type="radio" name="options" id="option4" autocomplete="off" checked> Radio 1 (preselected)
                                            </label>
                                            <label class="btn btn-outline-primary">
                                                <input type="radio" name="options" id="option5" autocomplete="off"> Radio 2
                                            </label>
                                            <label class="btn btn-outline-primary">
                                                <input type="radio" name="options" id="option6" autocomplete="off"> Radio 3
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ks-items-block">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-outline-primary ks-light active">
                                                <input type="radio" name="options" id="option7" autocomplete="off" checked> Radio 1 (preselected)
                                            </label>
                                            <label class="btn btn-outline-primary ks-light">
                                                <input type="radio" name="options" id="option8" autocomplete="off"> Radio 2
                                            </label>
                                            <label class="btn btn-outline-primary ks-light">
                                                <input type="radio" name="options" id="option9" autocomplete="off"> Radio 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')