@@include('./_partials/auth/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/pages/auth.min.css">
@@include('./_partials/auth/header_end.html')

<div class="ks-page">
    <div class="ks-page-header">
        <a href="#" class="ks-logo">KOSMO</a>
    </div>
    <div class="ks-page-content">
        <div class="ks-logo">KOSMO</div>

        <div class="card panel panel-default light ks-panel ks-confirm">
            <div class="card-block">
                <div class="ks-header">Check you email</div>
                <div class="ks-description">
                    Welcome back! It's been a while since you last logged
                    in. To keep your account secure, we've sent an email to confirm
                    it's really you.
                </div>
                <div class="ks-resend">
                    Haven't received yet? <a href="#">Recend</a>
                </div>
            </div>
        </div>

        <div class="ks-panel-extra">
            Don't have an account? <a href="#">Sign Up</a>
        </div>
    </div>
    <div class="ks-footer">
        <span class="ks-copyright">&copy; 2016 Kosmo</span>
        <ul>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</div>

@@include('./_partials/auth/scripts.html')
@@include('./_partials/auth/footer.html')