@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="libs/stacktable/stacktable.css">
<link rel="stylesheet" type="text/css" href="assets/styles/payment/order.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Order</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body ks-body-wrap">
                <div class="ks-body-wrap-container">
                    <div class="container-fluid">
                        <div class="ks-order-page ks-compact">
                            <div class="ks-info">
                                <div class="ks-header">
                                    <img class="ks-logo" src="assets/img/logos/logo-4-blue.png" height="60">
                                    <span class="ks-status-paid"><span class="ks-icon la la-check"></span> Paid</span>
                                </div>
                                <div class="ks-body">
                                    <div class="ks-column">
                                        <h5>Billing</h5>
                                        <span>Thomas Nelson</span>
                                        <span>berezhski@gmail.com</span>
                                        <span>(976) 608 7147</span>
                                    </div>
                                    <div class="ks-column">
                                        <h5>Shipping</h5>
                                        <span>Fruits</span>
                                    </div>
                                </div>
                                <div class="ks-footer">
                                    <div class="ks-column">
                                        <span>4321 102A Ave</span>
                                        <span>Unit 1622</span>
                                        <span>Vancouver, BC,</span>
                                        <span>Canada</span>
                                        <span>V3V3V3</span>
                                    </div>
                                    <div class="ks-column">
                                        <span>525 Seymour St</span>
                                        <span>Unit 912</span>
                                        <span>Vancouver, BC,</span>
                                        <span>Canada</span>
                                        <span>V2V2V2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ks-details">
                                <h4>Order #18</h4>

                                <table class="ks-table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>SKU</th>
                                        <th class="ks-quantity">Quantity</th>
                                        <th>Price</th>
                                        <th class="ks-discounts">Discounts</th>
                                        <th width="100" class="ks-unit-price">Unit Price</th>
                                        <th width="100" class="ks-subtotal">Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Lemons</td>
                                        <td>4567</td>
                                        <td class="ks-quantity">4</td>
                                        <td>$79.68</td>
                                        <td class="ks-discounts">-</td>
                                        <td class="ks-unit-price">$19.99</td>
                                        <td class="ks-subtotal">$79.68</td>
                                    </tr>
                                    <tr>
                                        <td>Lemons</td>
                                        <td>4567</td>
                                        <td class="ks-quantity">4</td>
                                        <td>$79.68</td>
                                        <td class="ks-discounts">-</td>
                                        <td class="ks-unit-price">$19.99</td>
                                        <td class="ks-subtotal">$79.68</td>
                                    </tr>
                                    <tr>
                                        <td>Lemons</td>
                                        <td>4567</td>
                                        <td class="ks-quantity">4</td>
                                        <td>$79.68</td>
                                        <td class="ks-discounts">-</td>
                                        <td class="ks-unit-price">$19.99</td>
                                        <td class="ks-subtotal">$79.68</td>
                                    </tr>
                                    <tr>
                                        <td>Lemons</td>
                                        <td>4567</td>
                                        <td class="ks-quantity">4</td>
                                        <td>$79.68</td>
                                        <td class="ks-discounts">-</td>
                                        <td class="ks-unit-price">$19.99</td>
                                        <td class="ks-subtotal">$79.68</td>
                                    </tr>
                                    <tr>
                                        <td>Lemons</td>
                                        <td>4567</td>
                                        <td class="ks-quantity">4</td>
                                        <td>$79.68</td>
                                        <td class="ks-discounts">-</td>
                                        <td class="ks-unit-price">$19.99</td>
                                        <td class="ks-subtotal">$79.68</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="ks-total">
                                    <div class="ks-shipping-method">
                                        <span class="ks-header">Tracking Number</span>
                                        <span class="ks-text">Canada Post</span>
                                    </div>
                                    <div class="ks-tracking-number">
                                        <span class="ks-header">Tracking Number</span>
                                        <span class="ks-text">1ZAH12444882X</span>
                                    </div>
                                    <table>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td>$400.00</td>
                                        </tr>
                                        <tr>
                                            <td>Savings</td>
                                            <td>$0.00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td>$10.00</td>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <td>$25.00</td>
                                        </tr>
                                        <tr>
                                            <td class="ks-text-info">Total</td>
                                            <td class="ks-text-info">$822.60</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
<script src="libs/stacktable/stacktable.js"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        $('.ks-table').stacktable();
    });
})(jQuery);
</script>
@@include('./_partials/footer.html')