@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="libs/stacktable/stacktable.css">
<link rel="stylesheet" type="text/css" href="assets/styles/payment/orders-history.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Orders History</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="ks-orders-history-page">
                    <div class="ks-header">
                        <h3 class="ks-text">Orders History</h3>

                        <div class="ks-controls">
                            <a href="#" class="btn btn-success">Add new order</a>
                        </div>
                    </div>
                    <div class="ks-body">
                        <div class="ks-header">
                            <span class="ks-date">April 1 — 11 , 2016</span>
                            <span class="ks-price">Total price: <b>$210,978,000.00</b></span>
                        </div>
                        <table class="ks-table">
                            <thead>
                                <th>Info</th>
                                <th>Notes</th>
                                <th>Controls</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x238</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x239</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x240</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x238</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x238</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x238</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ks-info">
                                        <span class="ks-name">Hoodies (Pearl White) x238</span>
                                        <span class="ks-date">Placed on Apr 18, 2016</span>

                                        <span class="ks-price">Price: $11,900.00</span>
                                        <span class="ks-amount"># of items: 238</span>
                                    </td>
                                    <td class="ks-description">
                                        <span>Notes:</span>
                                        <span class="ks-text">200x white, 200x black, 100x red, 50x blue, 40x yellow, 1x green</span>
                                    </td>
                                    <td class="ks-controls">
                                        <a href="#" class="btn btn-outline-primary ks-light">View order details</a>
                                        <a href="#" class="btn btn-outline-primary ks-light">Edit order</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
<script src="libs/stacktable/stacktable.js"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        $('.ks-table').stacktable();
    });
})(jQuery);
</script>
@@include('./_partials/footer.html')