@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/widgets/panels.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')

    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Widgets Panels</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="container-fluid ks-rows-section">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-3 ks-panels-column-section">
                            <div class="ks-widget ks-widget-overview">
                                <div class="ks-body">
                                    <h5 class="ks-header">Account overview</h5>

                                    <ul class="ks-items">
                                        <li class="ks-item">
                                            <span class="la la-building ks-icon"></span>
                                            <span class="ks-text">6 properties</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="la la-users ks-icon"></span>
                                            <span class="ks-text">12 properties</span>
                                        </li>
                                        <li class="ks-item">
                                            <span class="la la-envelope ks-icon"></span>
                                            <span class="ks-text">3 unread</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ks-footer">
                                    <div class="ks-info">
                                        <span class="ks-name">Premium</span>
                                        <div class="ks-datetime">to september 26, 2016</div>
                                    </div>
                                    <a href="#" class="btn btn-outline-primary ks-light ks-no-text"><span class="la la-info ks-icon"></span></a>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-solid ks-widget ks-widget-users">
                                <h5 class="card-header">Who to follow</h5>
                                <div class="card-block">
                                    <div class="ks-user">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Carl Nelson</a>
                                            <span class="ks-occupation">UI/UX Designer</span>
                                        </div>
                                        <a href="#" class="ks-add">+</a>
                                    </div>
                                    <div class="ks-user">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-3.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Kevin Fernandez</a>
                                            <span class="ks-occupation">Front-end Developer</span>
                                        </div>
                                        <a href="#" class="ks-add">+</a>
                                    </div>
                                    <div class="ks-user">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-4.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Gloria Graham</a>
                                            <span class="ks-occupation">Back-end Developer</span>
                                        </div>
                                        <a href="#" class="ks-add">+</a>
                                    </div>
                                    <div class="ks-user">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-5.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Zachary McCoy</a>
                                            <span class="ks-occupation">CTO</span>
                                        </div>
                                        <a href="#" class="ks-add">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-solid ks-widget ks-widget-images-grid">
                                <h5 class="card-header">Followers</h5>
                                <div class="card-block">
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-1.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-2.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-3.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-4.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-5.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-6.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-7.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-8.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-9.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-10.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-11.jpg" width="26" height="26">
                                    </a>
                                    <a href="#" class="ks-image">
                                        <img class="ks-avatar" src="assets/img/avatars/avatar-12.jpg" width="26" height="26">
                                    </a>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-solid ks-widget ks-widget-photos">
                                <h5 class="card-header">Photos</h5>
                                <div class="card-block">
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-1.png" width="62" height="62">
                                    </a>
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-2.png" width="62" height="62">
                                    </a>
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-3.png" width="62" height="62">
                                    </a>
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-4.png" width="62" height="62">
                                    </a>
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-5.png" width="62" height="62">
                                    </a>
                                    <a href="#" class="ks-photo">
                                        <img src="assets/img/profile/ph-6.png" width="62" height="62">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ks-panels-column-section">
                            <div class="card panel ks-widget ks-widget-post">
                                <div class="card-header">
                                    <a href="#" class="ks-text">
                                        Summer Hits You Need For Your 2016 Playlists
                                    </a>
                                    <div class="ks-controls">
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-minus"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-expand"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-close"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="ks-user">
                                        <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Carl Nelson</a>
                                            <span class="ks-description">Project Manager at Universal Music</span>
                                        </div>
                                        <span class="ks-datetime">8 min ago</span>
                                    </div>
                                    <div class="ks-text">Picking the song of summer for 2016 from a pool of proven candidates and promising newcomers</div>
                                    <div class="ks-actions">
                                        <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                            <span class="la la-bullhorn ks-icon"></span>
                                            <span class="ks-amount">1</span>
                                        </span>
                                        <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                                            <span class="la la-heart-o ks-icon"></span>
                                            <span class="ks-amount">3</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card panel ks-widget ks-widget-followers">
                                <div class="card-header">
                                    New Followers

                                    <div class="ks-controls">
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-minus"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-expand"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-close"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block ks-scrollable" data-height="236">
                                    <div class="ks-wrapper">
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-success">Unfollow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-2.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-3.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-4.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-11.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-10.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                        <div class="ks-user">
                                            <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-5.jpg" width="36" height="36">
                                            <div class="ks-info">
                                                <a href="#" class="ks-name">Carl Nelson</a>
                                                <span class="ks-description">@berezhski</span>
                                            </div>
                                            <button class="btn btn-outline-success">Follow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-solid ks-widget ks-widget-videos">
                                <h5 class="card-header">Videos</h5>
                                <div class="card-block">
                                    <div href="#" class="ks-video">
                                        <a href="#" class="ks-thumbnail">
                                            <img src="assets/img/placeholders/placeholder-256x256.png" class="embed-responsive" height="200">
                                        </a>
                                        <a href="#" class="ks-name">Mr. Robot S101</a>
                                        <span class="ks-duration">12:33</span>
                                    </div>
                                    <div href="#" class="ks-video">
                                        <a href="#" class="ks-thumbnail">
                                            <img src="assets/img/placeholders/placeholder-256x256.png" class="embed-responsive" height="200">
                                        </a>
                                        <a href="#" class="ks-name">Walking dead S301</a>
                                        <span class="ks-duration">43:02</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ks-panels-column-section">
                            <div class="card panel ks-widget ks-widget-like-post">
                                <div class="card-header">
                                    <div class="ks-user">
                                        <img class="ks-avatar rounded-circle" src="assets/img/avatars/avatar-1.jpg" width="36" height="36">
                                        <div class="ks-info">
                                            <a href="#" class="ks-name">Carl Nelson</a>
                                            <span class="ks-description">22 min ago near Zagreb</span>
                                        </div>
                                    </div>
                                    <div class="ks-controls">
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-minus"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-expand"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-close"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="ks-text">Picking the song of summer for 2016 from a pool of proven candidates and promising newcomers</div>
                                    <img src="assets/img/placeholders/placeholder-360x230.png" class="ks-thumbnail embed-responsive">
                                    <div class="ks-actions">
                                        <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share">
                                            <span class="la la-comment-o ks-icon"></span>
                                            <span class="ks-amount">1</span>
                                        </span>
                                        <span class="ks-control" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like">
                                            <span class="la la-heart-o ks-icon"></span>
                                            <span class="ks-amount">3</span>
                                        </span>
                                    </div>
                                    <div class="ks-likes-block">
                                        <div class="ks-users">
                                            <a href="#" class="ks-user">
                                                <img class="ks-avatar" src="assets/img/avatars/avatar-1.jpg" width="26" height="26">
                                            </a>
                                            <a href="#" class="ks-user">
                                                <img class="ks-avatar" src="assets/img/avatars/avatar-7.jpg" width="26" height="26">
                                            </a>
                                            <a href="#" class="ks-user">
                                                <img class="ks-avatar" src="assets/img/avatars/avatar-11.jpg" width="26" height="26">
                                            </a>
                                            <a href="#" class="ks-user">
                                                <img class="ks-avatar" src="assets/img/avatars/avatar-2.jpg" width="26" height="26">
                                            </a>
                                            <a href="#" class="ks-user">
                                                <img class="ks-avatar" src="assets/img/avatars/avatar-6.jpg" width="26" height="26">
                                            </a>
                                        </div>
                                        <span class="ks-text">and 103 other like this</span>
                                    </div>
                                    <div class="ks-comments">

                                    </div>
                                </div>
                            </div>
                            <div class="card panel ks-widget ks-widget-to-do-list">
                                <div class="card-header">
                                    To Do List

                                    <div class="ks-controls">
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-minus"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-expand"></span>
                                        </a>
                                        <a href="#" class="ks-control">
                                            <span class="ks-icon la la-close"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="ks-header">
                                        Remaining 3 of 5
                                        <button class="btn btn-primary ks-light">Archive</button>
                                    </div>
                                    <div class="ks-body ks-scrollable" data-height="140">
                                        <ul class="ks-wrapper">
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c1" type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label" for="c1">Android app design</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c2" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c2">iOS app design</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c3" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c3">Need to make a wireframe</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c4" type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label" for="c4">Android app design</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c5" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c5">iOS app design</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c6" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c6">Need to make a wireframe</label>
                                                </div>
                                            </li>
                                            <li class="ks-task">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c7" type="checkbox" class="custom-control-input">
                                                    <label class="custom-control-label" for="c7">Dinner with a kids at 8:30 PM</label>
                                                </div>
                                            </li>
                                            <li class="ks-task ks-completed">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c8" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c8">Grocery shopping</label>
                                                </div>
                                            </li>
                                            <li class="ks-task ks-completed">
                                                <span class="ks-icon la la-bars"></span>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="c9" type="checkbox" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="c9">Need to make a wireframe</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <form class="ks-footer">
                                        <input type="text" class="form-control" placeholder="Add a new task...">
                                        <button class="btn btn-primary">Add</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card panel">
                                <div class="ks-widget-audio ks-audio">
                                    <div class="ks-control">
                                        <span class="la la-play"></span>
                                    </div>
                                    <div class="ks-info">
                                        <div class="ks-header">
                                            <div class="ks-album-name">
                                                Ocean Drive <span>Original Mix</span>
                                            </div>
                                            <div class="ks-song-name">
                                                Duke Dumond
                                            </div>
                                        </div>
                                        <div class="ks-body">
                                            <div class="progress ks-progress-xs">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="ks-time">
                                                <span class="ks-current">1:25</span>
                                                <span class="ks-total">3:06</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 ks-panels-column-section">
                            <div class="card panel panel-default ks-widget ks-widget-progress-list">
                                <div class="card-header">
                                    Property checklists

                                    <div class="ks-controls">
                                        <a href="#" class="ks-control ks-update"><span class="ks-icon la la-refresh"></span></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="ks-item">
                                        <div class="ks-info">
                                            <div class="ks-wrapper">
                                                <span class="ks-header">Quayside apartment</span>
                                                <span class="ks-description">4/12 items input</span>
                                            </div>
                                            <span class="ks-percent">35%</span>
                                        </div>
                                        <div class="progress ks-progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="ks-item">
                                        <div class="ks-info">
                                            <div class="ks-wrapper">
                                                <span class="ks-header">Gateshead studio</span>
                                                <span class="ks-description">8/12 items input</span>
                                            </div>
                                            <span class="ks-percent">50%</span>
                                        </div>
                                        <div class="progress ks-progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="ks-item">
                                        <div class="ks-info">
                                            <div class="ks-wrapper">
                                                <span class="ks-header">Newcastle townhouse</span>
                                                <span class="ks-description">10/12 items input</span>
                                            </div>
                                            <span class="ks-percent">75%</span>
                                        </div>

                                        <div class="progress ks-progress-sm">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-widget ks-widget-events-stream">
                                <div class="card-header">
                                    Team Stream
                                    <div class="ks-controls">
                                        <a href="#" class="ks-control ks-update"><span class="ks-icon la la-refresh"></span></a>
                                    </div>
                                </div>
                                <div class="card-block ks-scrollable" data-height="270">
                                    <table class="ks-table">
                                        <tbody>
                                        <tr>
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-11.jpg" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label">10</span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">Completed SparqWork «Introduction to WildSparq»</div>
                                                <span class="badge badge-primary-outline ks-label ks-sm">Primary</span>
                                            </td>
                                            <td class="ks-datetime">
                                                24 min ago
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-6.jpg" class="ks-avatar" width="55" height="55">
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova <span class="badge badge-default ks-label ks-sm">Admin</span></a>
                                                <div class="ks-description">Added 2 new members to team: Leap Logic Creative. Welcome <a href="#">Igor Kulikov</a> and <a href="#">Alex Frolov</a>.</div>
                                            </td>
                                            <td class="ks-datetime">
                                                24 min ago
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="55" height="55">
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova <span class="badge badge-default ks-label ks-sm">Team Lead</span></a>
                                                <div class="ks-description">Added 2 new members to team: Leap Logic Creative. Welcome <a href="#">Igor Kulikov</a> and <a href="#">Alex Frolov</a>.</div>
                                            </td>
                                            <td class="ks-datetime">
                                                24 min ago
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ks-panels-column-section">
                            <div class="card panel panel-default ks-simple ks-widget-simple-offer">
                                <a href="#" class="ks-close">
                                    <span class="la la-close"></span>
                                </a>
                                <div class="card-block">
                                    <a href="#" class="ks-item">
                                        <div class="ks-preview">
                                            <span class="ks-video-preview">
                                                <span class="la la-play ks-icon"></span>
                                            </span>
                                        </div>
                                        <div class="ks-info">
                                            <h5 class="ks-header">New to WildSparq?</h5>
                                            <span class="ks-text">
                                                Offer to pay back part of the purchase price of a product to customers who send a «Proof of purchase» to the manufacturer
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card panel panel-default ks-widget ks-widget-leader-board">
                                <div class="card-header">
                                    Leader board

                                    <div class="ks-controls">
                                        <a href="#" class="ks-control ks-update"><span class="ks-icon la la-refresh"></span></a>
                                    </div>
                                </div>
                                <div class="card-block ks-scrollable" data-height="270">
                                    <table class="ks-table">
                                        <tbody>
                                        <tr class="ks-first-place">
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-11.jpg" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label"><span>1</span></span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">@anna</div>
                                            </td>
                                        </tr>
                                        <tr class="ks-second-place">
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-1.jpg" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label"><span>2</span></span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">@anna</div>
                                            </td>
                                        </tr>
                                        <tr class="ks-third-place">
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-2.jpg" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label"><span>3</span></span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">@anna</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/avatar-3.jpg" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label"><span>4</span></span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">@anna</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ks-user">
                                                <img src="assets/img/avatars/placeholders/ava-64.png" class="ks-avatar" width="55" height="55">
                                                <span class="badge badge-pill badge-default ks-label"><span>5</span></span>
                                            </td>
                                            <td class="ks-info">
                                                <a href="#" class="ks-name">Anna Vlasova</a>
                                                <div class="ks-description">@anna</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')