@@include('./_partials/header_start.html')
<link rel="stylesheet" type="text/css" href="assets/styles/widgets/upload.min.css">
@@include('./_partials/header_end.html')
@@include('./_partials/navbar/include.html')

<div class="ks-page-container">
    @@include('./_partials/sidebar/include.html')
    <div class="ks-column ks-page">
        <div class="ks-page-header">
            <section class="ks-title">
                <h3>Widgets Upload</h3>
            </section>
        </div>

        <div class="ks-page-content">
            <div class="ks-page-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-5 ks-panels-column-section">
                            <div class="card panel ks-card-tabs">
                                <h5 class="card-header">
                                    Upload anything from anywhere
                                </h5>
                                <div class="card-block">
                                    <div class="ks-tabs-uploader-widget ks-tabs-container ks-tabs-default ks-tabs-with-separator ks-tabs-header-default ks-tabs-vertical ks-tabs-vertical-left">
                                        <ul class="nav ks-nav-tabs ks-nav-tabs-icons">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab-upload-from-computer">
                                                    <span class="ks-icon la la-desktop"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab-upload-from-link">
                                                    <span class="ks-icon la la-link"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab-upload-from-facebook">
                                                    <span class="ks-icon la la-facebook"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab-upload-from-dropbox">
                                                    <span class="ks-icon la la-dropbox"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab-upload-from-instagram">
                                                    <span class="ks-icon la la-instagram"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-upload-from-computer" role="tabpanel">
                                                <div class="ks-tab-upload-content">
                                                    <span class="ks-icon la la-desktop"></span>
                                                    <div class="ks-tab-upload-description">
                                                        Get files from local computer
                                                    </div>
                                                    <button class="btn btn-primary ks-btn-file">
                                                        <span class="la la-cloud-upload ks-icon"></span>
                                                        <span class="ks-text">Choose file</span>
                                                        <input type="file">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-upload-from-link" role="tabpanel">
                                                <div class="ks-tab-upload-content">
                                                    <span class="ks-icon la la-link"></span>
                                                    <div class="ks-tab-upload-description">
                                                        Get files from url
                                                    </div>
                                                    <div class="ks-tab-upload-link">
                                                        <input type="url" class="form-control" placeholder="Paste link">
                                                    </div>
                                                    <button class="btn btn-primary">
                                                        <span class="text">Get file</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-upload-from-facebook" role="tabpanel">
                                                <div class="ks-tab-upload-content">
                                                    <span class="ks-icon la la-facebook"></span>
                                                    <div class="ks-tab-upload-description">
                                                        Get files from Facebook<br>
                                                        We play nice. You just need to login.
                                                    </div>
                                                    <button class="btn btn-primary">
                                                        <span class="text">Connect to Facebook</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-upload-from-dropbox" role="tabpanel">
                                                <div class="ks-tab-upload-content">
                                                    <span class="ks-icon la la-dropbox"></span>
                                                    <div class="ks-tab-upload-description">
                                                        Get files from Dropbox<br>
                                                        We play nice. You just need to login.
                                                    </div>
                                                    <button class="btn btn-primary">
                                                        <span class="text">Connect to Dropbox</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-upload-from-instagram" role="tabpanel">
                                                <div class="ks-tab-upload-content">
                                                    <span class="ks-icon la la-instagram"></span>
                                                    <div class="ks-tab-upload-description">
                                                        Get files from Instagram<br>
                                                        We play nice. You just need to login.
                                                    </div>
                                                    <button class="btn btn-primary">
                                                        Connect to Instagram
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card panel ks-widget-attachments">
                                <div class="card-block">
                                    <h5 class="ks-header">Add an image</h5>

                                    <div class="ks-upload-block">
                                        <span class="ks-icon la la-cloud-upload"></span>
                                        <span class="ks-text">Drag &amp; drop files here</span>
                                        <span class="ks-upload-btn">
                                            <span class="ks-btn-separator">or</span>
                                            <button class="btn btn-primary ks-btn-file">
                                                <span class="la la-cloud-upload ks-icon"></span>
                                                <span class="ks-text">Choose file</span>
                                                <input type="file">
                                            </button>
                                        </span>
                                    </div>

                                    <h5 class="ks-header">Uploading images</h5>

                                    <div class="ks-uploading-progress-block">
                                        <span class="ks-filename">file.jpg</span>
                                        <div class="ks-progress ks-progress-inline">
                                            <div class="progress ks-progress-sm">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="ks-amount">30%</span>
                                        </div>
                                        <div class="ks-cancel-block">
                                            <a class="ks-icon la la-close"></a>
                                        </div>
                                    </div>

                                    <h5 class="ks-header">Uploaded images</h5>

                                    <div class="ks-files">
                                        <ul>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-1.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/placeholders/placeholder-256x256.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-5.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-4.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-3.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-2.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-1.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                            <li class="ks-file">
                                                <img class="ks-thumb" src="assets/img/thumbs/ph-5.png">
                                                <a class="ks-icon la la-trash"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 ks-panels-column-section">
                            <div class="card">
                                <div class="card-block">
                                    <div class="btn-group">
                                        <button class="btn btn-primary ks-btn-file dropdown-toggle"  data-toggle="dropdown">
                                            <span class="la la-paperclip ks-icon"></span>
                                            <span class="ks-text">Attach file</span>
                                        </button>
                                        <div class="dropdown-menu ks-upload-dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <span class="ks-icon la la-paperclip"></span>
                                                Choose a file
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="ks-icon la la-dropbox"></span>
                                                Dropbox
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="ks-icon la la-google"></span>
                                                Google Drive
                                            </a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary ks-btn-file dropdown-toggle"  data-toggle="dropdown">
                                            <span class="la la-paperclip ks-icon"></span>
                                            <span class="ks-text">Upload file</span>
                                        </button>
                                        <div class="dropdown-menu ks-upload-custom-dropdown-menu ks-upload-dropdown-menu">
                                            <div class="ks-body">
                                                <div class="ks-block">
                                                    <span class="ks-icon la la-cloud-upload"></span>
                                                    <div class="ks-description">Drag &amp; drop file to upload</div>
                                                    <div class="ks-info">The total upload can be up to 5MB</div>
                                                </div>

                                                <ul class="ks-uploading-files">
                                                    <li>
                                                        <div class="ks-body">
                                                            <div class="ks-header">
                                                                <span class="ks-icon la la-file-word-o ks-color-info"></span>
                                                                <span class="ks-filename">file.doc</span>
                                                            </div>
                                                            <div class="ks-uploading-progress">
                                                                <div class="progress ks-progress-sm">
                                                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <div class="ks-description">12 KB of 36 KB - About 36 seconds</div>
                                                            </div>
                                                        </div>
                                                        <div class="ks-uploading-cancel">
                                                            <a class="ks-icon la la-close"></a>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="ks-uploaded-files">
                                                    <li>
                                                        <div class="ks-body">
                                                            <div class="ks-header">
                                                                <span class="ks-icon la la-file-word-o ks-color-info"></span>
                                                                <span class="ks-filename">file.doc</span>
                                                            </div>
                                                        </div>
                                                        <div class="ks-remove">
                                                            <a class="ks-icon la la-trash"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ks-footer">
                                                <button class="btn btn-outline-primary ks-light ks-bg-none">Cancel</button>
                                                <button class="btn btn-primary">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card panel ks-attach-files-widget">
                                <h5 class="card-header">Attached files</h5>
                                <div class="card-block">
                                    <ul class="ks-uploading-files">
                                        <li>
                                            <span class="ks-icon la la-file-word-o ks-color-info"></span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-filename">file.doc</span>
                                                </div>
                                                <div class="ks-progress">
                                                    <div class="progress ks-progress-sm">
                                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="ks-description">
                                                        12 KB of 36 KB - About 36 seconds
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ks-cancel">
                                                <a class="ks-icon la la-close"></a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="ks-icon la la-file-audio-o ks-color-pink"></span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-filename">file.doc</span>
                                                </div>
                                                <div class="ks-progress">
                                                    <div class="progress ks-progress-sm">
                                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="ks-description">
                                                        12 KB of 36 KB - About 36 seconds
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ks-cancel">
                                                <a class="ks-icon la la-close"></a>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="ks-uploaded-files">
                                        <li>
                                            <span class="ks-icon la la-file-pdf-o ks-color-danger"></span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-filename">file.pdf</span>
                                                </div>
                                                <div class="ks-description">
                                                    Uploaded by Administrator on April 21, 2016 at 10:28 AM
                                                </div>
                                            </div>
                                            <div class="ks-remove">
                                                <a class="ks-icon la la-trash"></a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="ks-icon la la-file-pdf-o ks-color-danger"></span>
                                            <div class="ks-body">
                                                <div class="ks-header">
                                                    <span class="ks-filename">file.pdf</span>
                                                </div>
                                                <div class="ks-description">
                                                    Uploaded by Administrator on April 21, 2016 at 10:28 AM
                                                </div>
                                            </div>
                                            <div class="ks-remove">
                                                <a class="ks-icon la la-trash"></a>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="ks-upload">
                                        <span class="ks-icon la la-cloud-upload"></span>
                                        <span class="ks-text">Drag &amp; drop files here to attach them or</span>
                                        <span class="ks-upload-btn">
                                            <button class="btn btn-primary ks-btn-file">
                                                <span class="la la-cloud-upload ks-icon"></span>
                                                <span class="ks-text">Choose file</span>
                                                <input type="file">
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/scripts.html')
@@include('./_partials/footer.html')