<div class="ks-column ks-sidebar ks-@@sidebarItemHightlightColor">
    <div class="ks-wrapper ks-sidebar-wrapper">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-item ks-user">
                <a class="nav-link"  href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/avatars/avatar-12.jpg" width="36" height="36" class="ks-avatar rounded-circle">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="index.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="projects-kanban-board.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-flask"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="mail-view.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-envelope"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="tickets-view.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-ticket"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="messenger.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-file-o"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="document-viewer-pdf.html" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-file-pdf-o"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="calendar.html">
                    <span class="ks-icon la la-calendar"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile-social-profile.html">
                    <span class="ks-icon la la-user"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile-settings-general.html">
                    <span class="ks-icon la la-cogs"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="datatables-bootstrap-table.html">
                    <span class="ks-icon la la-table"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="widgets-panels.html">
                    <span class="ks-icon la la-puzzle-piece">
                        <span class="badge badge-pill badge-pink ks-label">3</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="email-templates.html">
                    <span class="ks-icon la la-envelope-o"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="documentation.html">
                    <span class="ks-icon la la-book"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="faq.html">
                    <span class="ks-icon la la-question-circle"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
