/*
Version 2.0[Table of contents]
-------------------------------------------------------------------------
1. Globally Applied Styles
2. Header
3. User Main Menu
4. Navigation
5. Menu Active
6. Fixed Navbar7. Footer
8. Box Content
9. Data Tables
10. Inbox List
11. Menu Mobile Button
12. Notice
13. Search Form
14. Mail
15. Login, Register, ... Form
16. Pricing Plan
17. Gallery
-------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
1. Globally Applied Styles
*/
a {
  color: #673ab7;
}
a:hover,
a:active,
a:focus {
  color: #5027a7;
}
.fa-hover:hover {
  background: #673ab7;
  color: #ffffff;
}
.fa-hover:hover .ico,
.fa-hover:hover .fa {
  color: #ffffff;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
2. Header
*/
.header .logo {
  color: #ffffff;
  background: #5027a7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
3. User Main Menu
*/
.user .control-list a {
  color: #435966;
}
.user .control-list a:hover {
  color: #673ab7;
}
.user .name a {
  color: #435966;
}
.user .name a:hover {
  color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
4. Navigation
*/
@media (min-width: 1025px) {
  .navigation .menu a:hover {
    color: #673ab7;
  }
  .navigation .menu a:hover i {
    color: #673ab7;
  }
}
.navigation .menu a.active,
.navigation .menu a.current {
  color: #673ab7;
}
.navigation .menu > li.current > a {
  background: #673ab7;
  color: #ffffff;
}
.navigation .menu > li.current > a > i {
  color: #ffffff;
}
.navigation .menu > li.current .current > a {
  color: #673ab7;
}
.navigation .menu .waves-ripple {
  background: -webkit-radial-gradient(rgba(103, 58, 183, 0.2) 0, rgba(103, 58, 183, 0.3) 40%, rgba(103, 58, 183, 0.4) 50%, rgba(103, 58, 183, 0.5) 60%, rgba(103, 58, 183, 0) 70%);
  background: -o-radial-gradient(rgba(103, 58, 183, 0.2) 0, rgba(103, 58, 183, 0.3) 40%, rgba(103, 58, 183, 0.4) 50%, rgba(103, 58, 183, 0.5) 60%, rgba(103, 58, 183, 0) 70%);
  background: -moz-radial-gradient(rgba(103, 58, 183, 0.2) 0, rgba(103, 58, 183, 0.3) 40%, rgba(103, 58, 183, 0.4) 50%, rgba(103, 58, 183, 0.5) 60%, rgba(103, 58, 183, 0) 70%);
  background: radial-gradient(rgba(103, 58, 183, 0.2) 0, rgba(103, 58, 183, 0.3) 40%, rgba(103, 58, 183, 0.4) 50%, rgba(103, 58, 183, 0.5) 60%, rgba(103, 58, 183, 0) 70%);
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
5. Menu Active
*/
@media (min-width: 800px) {
  .menu-active .header .logo {
    color: #5027a7;
  }
  .menu-active .header .logo:before {
    background: #5027a7;
  }
  .menu-active .header .logo:after {
    background: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a {
    background: #673ab7;
    color: #ffffff;
  }
  .menu-active .navigation .menu > li:hover > a i {
    color: #ffffff;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
6. Fixed Navbar
*/
.fixed-navbar {
  background: #673ab7;
  color: #ffffff;
}
.fixed-navbar .ico-item {
  color: #ffffff;
}
@media (min-width: 1025px) {
  .fixed-navbar .ico-item:hover {
    color: #ffffff;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
7. Footer
*/
.footer {
  color: rgba(0, 0, 0, 0.7);
}
.footer a {
  color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 1025px) {
  .footer a:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
8. Box Content
*/
.box-content .dropdown.js__drop_down .sub-menu {
  background: #ffffff;
}
.box-content .dropdown.js__drop_down .sub-menu a {
  color: #435966;
}
@media (min-width: 1025px) {
  .box-content .dropdown.js__drop_down .sub-menu a:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
9. Data Tables
*/
.dataTables_wrapper .dataTable .group {
  background-color: #673ab7 !important;
  color: #ffffff !important;
}
table.focus-on tbody tr.focused th,
table.focus-on tbody tr.focused td {
  background: #673ab7 !important;
  color: #ffffff !important;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
10. Inbox List
*/
.inbox-list .name {
  color: #673ab7;
}
@media (min-width: 1025px) {
  .inbox-list .name:hover {
    color: #5027a7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
11. Menu Mobile Button
*/
.menu-mobile-button {
  color: #ffffff;
  background: #7f4fd5;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
12. Notice
*/
/* Notice List */
.notice-list .name {
  color: #212121;
}
@media (min-width: 1025px) {
  .notice-list .name:hover {
    color: #673ab7;
  }
}
/* Notice Popup */
.notice-popup {
  background: #ffffff;
}
.notice-popup .notice-read-more {
  color: #212121;
}
.notice-popup .notice-read-more:hover {
  color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
13. Search Form
*/
@media (min-width: 1025px) {
  .searchform .button-search:hover {
    color: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
14. Mail
*/
.box-body .nav li.active a {
  background: #ffffff;
  color: #673ab7;
}
.box-body .nav a {
  color: #212121;
}
.box-body .nav a:hover {
  background: #ffffff;
  color: #673ab7;
}
.mailbox-messages .unread > td:first-of-type {
  border-left-color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
15. Login, Register, ... Form
*/
.frm-single .frm-input .frm-inp:focus {
  border-color: #673ab7;
}
.frm-single .frm-submit {
  background: #673ab7;
  color: #ffffff;
}
@media (min-width: 1025px) {
  .frm-single .frm-submit:hover {
    background: #5027a7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
16. Pricing Plan
*/
.pricing-table .thead {
  background: #673ab7;
  color: #fff;
}
.pricing-table .thead.bg-main-2 {
  background-color: #673ab7;
}
.pricing-table .thead.bg-blue-1 {
  background-color: #2444f9;
}
.pricing-table .thead.bg-blue-2 {
  background-color: #1e3def;
}
.pricing-table .thead.bg-blue-3 {
  background-color: #673ab7;
}
.pricing-table .td .fa-check {
  color: #673ab7;
}
.pricing-table .col-featured .td .btn-order {
  background: #673ab7;
}
@media (min-width: 1025px) {
  .pricing-table .td .btn-order:hover {
    background: #673ab7;
  }
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
17. Gallery
*/
.isotope-filter .filter-controls a {
  color: #435966;
}
@media (min-width: 1025px) {
  .isotope-filter .filter-controls a:hover {
    color: #673ab7;
  }
}
.isotope-filter .filter-controls .js__active {
  color: #673ab7;
}
/*---------------------------------------------------------------------*/
/*-----------------------------------------------------------------------
18. User Info
*/
.user-info a {
  color: #673ab7;
}
.user-info a:hover {
  color: #5027a7;
}
/*---------------------------------------------------------------------*/
