body,
.fixed section {
    background: #202122;    
}

.logopanel,
.headerbar {
    background-color: #2a6fa8;
}

.logopanel h1,
.menutoggle {
    color: #fff;
}

.logopanel h1 span {
    color: #7bb7eb;
}

.headerbar {
    border-left-color: rgba(255,255,255,0.1);
}

.menutoggle {
    border-right-color: rgba(255,255,255,0.1);
}

.rtl .menutoggle {
    border-left: 1px solid rgba(255,255,255,0.15);
}

.menutoggle:hover {
    background-color: rgba(0,0,0,0.1);
    border-right-color: rgba(255,255,255,0.15);
    color: #fff;
}

.searchform input {
    height: auto;
    padding: 7px 10px;
    margin: 8px 0 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0;
}

.rtl .searchform input {
    margin-left: 0;
    margin-right: 8px;
}

.headermenu .tp-icon {
    background: none;
    border: 0;
    color: #fff;
}

.headermenu > li {
    border-left-color: rgba(255,255,255,0.1);
}

.headermenu .dropdown-toggle:hover,
.headermenu .dropdown-toggle:focus,
.headermenu .dropdown-toggle:active,
.headermenu .dropdown-toggle.active,
.headermenu .open .dropdown-toggle.dropdown-toggle {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

.headermenu .chat-icon:hover {
    background-color: rgba(0,0,0,0.1);
}

.headermenu .dropdown-toggle {
    background: none;
    color: #fff;
}

.headermenu .dropdown-menu-usermenu li a:hover {
    background-color: #2a6fa8;
}

.dropdown-menu-head .title,
.headermenu .dropdown-menu-usermenu {
    background-color: #202122;
}

.headermenu .dropdown-menu:after {
    border-bottom-color: #202122;
}

.leftpanelinner .searchform input {
    background-color: #fff;
}

.headermenu > li:first-child {
  border-color: rgba(255,255,255,0.1);
}

/*** LEFT PANEL ***/

.nav-bracket > li > a > .badge {
    background-color: #2a6fa8;
}

.nav-bracket .children > li > a:hover,
.nav-bracket .children > li > a:active,
.nav-bracket .children > li > a:focus {
    color: #2a6fa8;
}

.nav-bracket > li.active > a,
.nav-bracket > li.active > a:hover,
.nav-bracket > li.active > a:focus {
    background-color: #2a6fa8
}

.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a > span:last-child {
    background-color: #2a6fa8;
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul {
    background-color: #202122;
}

.nav-bracket .children > li.active > a {
    color: #2a6fa8;
}

.headerbar .topnav > ul > li > a {
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.1);
    padding-top: 16px;
    padding-bottom: 16px;
}

.headerbar .topnav > ul > li > a:hover {
    background-color: rgba(0,0,0,0.1);
}

.headerbar .topnav > ul > li > a:hover,
.headerbar .topnav > ul > li > a:focus,
.headerbar .topnav > ul > li.open > a,
.headerbar .topnav > ul > li.active > a {
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.1);
}

.headerbar .topnav > ul > li .dropdown-menu > li > a:hover {
    background-color: #2a6fa8;
}

.headerbar .logopanel {
    border-right-color: rgba(255,255,255,0.1);
}

/*** MAIN PANEL ***/

.mainpanel {
    background-color: #fff;
}

.panel-default {
    border: 1px solid #d7d7d7;
}

.panel-primary .panel-body,
.panel-success .panel-body,
.panel-warning .panel-body,
.panel-info .panel-body,
.panel-danger .panel-body,
.panel-dark .panel-body {
    border: 1px solid #d7d7d7;
    border-top: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.panel-primary .panel-footer {
    border: 1px solid #d7d7d7;
    border-top: 0;
}

.panel-heading p {
    margin-top: 5px;
}

.panel-dark .panel-heading,
.widget-profile .row > div > span,
.widget-weather .panel-body {
    background-color: #202122;
}

/* email */

.table-email > tbody > tr > td {
    border: 1px solid #e3e3e3;
}

/* blog */

.blog-details {
    border: 1px solid #eee;
    border-top: 0;
}

.panel-blog {
    border: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-blog .panel-body {
    padding: 0;
}

/* directory */

.letter-list {
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

.people-item {
    border: 1px solid #e3e3e3;
}


/* signin/signup */

.signin-info .logopanel h1,
.signup-info .logopanel h1 {
    color: #333;
}

.feat-list h4 {
    color: #428bca;
}


/*** RIGHT PANEL ***/

.rightpanel .nav-tabs > li > a:hover,
.rightpanel .nav-tabs > li > a:focus,
.rightpanel .nav-tabs > .active > a,
.rightpanel .nav-tabs > .active > a:hover,
.rightpanel .nav-tabs > .active > a:focus {
    background-color: #202122;
}

.rightpanel .nav-tabs {
    background-color: #141415;
}

.filemanager-options {
    border: 1px solid #d7d7d7;
}

.filemanager .thmb {
    border-color: #d7d7d7;
}

.fm-sidebar .tag-list li a {
    background-color: #eee;
}






