.login-times{
	margin:10px;
	color: #333;
	font-family: '微软雅黑';
	font-size: 13px;
}
.login-times li{
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.login-times li strong{
	padding: 0 5px;
	font-weight: bold;
}
.login-times li span{
	padding: 0 5px;
	color: #e30000;
	font-weight: bold;
}