@@include('./default.html')

<!-- BEGIN NAVBAR HORIZONTAL -->
<div class="ks-navbar-horizontal ks-@@navbarMenuItemHighlight">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="index.html">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Layouts</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="../horizontal_navbar-@@theme/index.html" target="_blank">Horizontal</a>
                <a class="dropdown-item" href="../horizontal_navbar_iconbar-@@theme/index.html" target="_blank">Horizontal Iconbar</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="projects-kanban-board.html">
                <span class="ks-text">Projects</span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Mail
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="mail-empty.html">Mail Empty</a>
                <a class="dropdown-item" href="mail-view.html">Mail View</a>
                <a class="dropdown-item" href="mail-create.html">Mail Create</a>
                <a class="dropdown-item" href="mail-compact.html">Mail Compact</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Tickets <span class="badge badge-pill badge-pink ks-badge ks-sm">3</span>
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="tickets-empty.html">Empty</a>
                <a class="dropdown-item" href="tickets-list.html">List</a>
                <a class="dropdown-item" href="tickets-create.html">Create</a>
                <a class="dropdown-item" href="tickets-view.html">View</a>
            </div>
        </li>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Messenger</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="messenger.html">Default</a>
                <a class="dropdown-item" href="messenger-group.html">Group</a>
            </div>
        </div>

        <li class="nav-item">
            <a class="nav-link" href="calendar.html">
                <span class="ks-text">Calendar</span>
            </a>
        </li>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>File Manager</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="filemanager-grid.html">Grid Default</a>
                <a class="dropdown-item" href="filemanager-grid-selected-items.html">Grid Selected Items</a>
                <a class="dropdown-item" href="filemanager-grid-image.html">Grid Image</a>
                <a class="dropdown-item" href="filemanager-grid-audio.html">Grid Audio</a>
                <a class="dropdown-item" href="filemanager-grid-recent.html">Grid Recent</a>
                <a class="dropdown-item" href="filemanager-list.html">List Default</a>
                <a class="dropdown-item" href="filemanager-list-selected-items.html">List Selected Items</a>
                <a class="dropdown-item" href="filemanager-list-recent.html">List Recent</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Document Viewer</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="document-viewer-image.html">Image Viewer</a>
                <a class="dropdown-item" href="document-viewer-pdf.html">Pdf Viewer</a>
                <a class="dropdown-item" href="document-viewer-presentation.html">Presentation Viewer</a>
                <a class="dropdown-item" href="document-viewer-audio.html">Audio Viewer</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Form</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="form-basic-inputs.html">Basic Inputs</a>
                <a class="dropdown-item" href="form-advanced-inputs.html">Extended Inputs</a>
                <a class="dropdown-item" href="form-buttons.html">Buttons</a>
                <a class="dropdown-item" href="form-validation.html">Validation</a>
                <a class="dropdown-item" href="form-touchspin.html">Touchspin</a>
                <a class="dropdown-item" href="form-flex-labels.html">Flex Labels</a>
                <a class="dropdown-item" href="form-autocomplete-and-tags.html">Autocomplete &amp; Tags</a>
                <a class="dropdown-item" href="form-steps-column.html">Column Steps</a>
                <a class="dropdown-item" href="form-steps-progress.html">Progress Steps</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>UI Kit</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="uikit-bootstrap-ui.html">Bootstrap UI</a>
                <a class="dropdown-item" href="uikit-typography.html">Typography</a>
                <a class="dropdown-item" href="uikit-panels.html">Panels</a>
                <a class="dropdown-item" href="uikit-tables.html">Tables</a>
                <a class="dropdown-item" href="uikit-tabs.html">Tabs</a>
                <a class="dropdown-item" href="uikit-default-alerts.html">Alerts</a>
                <a class="dropdown-item" href="uikit-pagination.html">Pagination</a>
                <a class="dropdown-item" href="uikit-modal.html">Modal</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Components</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="components-select-select2.html">Select2</a>
                <a class="dropdown-item" href="components-select-multi.html">Multi Select</a>
                <a class="dropdown-item" href="components-datepicker-flatpickr.html">Flatpickr</a>
                <a class="dropdown-item" href="components-datepicker-bootstrap-date-range-picker.html">Range DatePicker</a>
                <a class="dropdown-item" href="components-ion-range-slider-flat-skin-basic.html">Ion Range Slider</a>
                <a class="dropdown-item" href="components-nestable.html">Nestable</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Profile</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile-social-profile.html">Social Profile</a>
                <a class="dropdown-item" href="profile-customer-profile.html">Customer Profile</a>
                <a class="dropdown-item" href="profile-settings-general.html">General Settings</a>
                <a class="dropdown-item" href="profile-settings-contact-info.html">Contact Info Settings</a>
                <a class="dropdown-item" href="profile-settings-experience.html">Experience Settings</a>
                <a class="dropdown-item" href="profile-settings-education.html">Education Settings</a>
                <a class="dropdown-item" href="profile-settings-organizations.html">Organizations Settings</a>
                <a class="dropdown-item" href="profile-settings-notifications.html">Notifications Settings</a>
                <a class="dropdown-item" href="profile-settings-billing.html">Billing Settings</a>
            </div>
        </div>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Pages</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="pages-blank.html">Blank</a>
                <a class="dropdown-item" href="pages-error404.html">Error 404</a>
                <a class="dropdown-item" href="pages-error500.html">Error 500</a>
                <a class="dropdown-item" href="pages-contacts.html">Contacts</a>
                <a class="dropdown-item" href="pages-login.html" target="_blank">Login</a>
                <a class="dropdown-item" href="pages-signup.html" target="_blank">Sign Up</a>
                <a class="dropdown-item" href="pages-forgot-password.html" target="_blank">Forgot Password</a>
                <a class="dropdown-item" href="pages-locked-account.html" target="_blank">Locked Account</a>
                <a class="dropdown-item" href="pages-confirmation.html" target="_blank">Confirmation</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../default-@@theme/index.html" target="_blank">More</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item dropdown ks-navbar-horizontal-responsive">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="la la-bars ks-icon"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right"></div>
        </li>
    </ul>
</div>
<!-- END NAVBAR HORIZONTAL -->