<ul class="nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Flat UI Skin
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="components-ion-range-slider-flat-skin-basic.html">Basic</a>
            <a class="dropdown-item" href="components-ion-range-slider-flat-skin-advanced.html">Advanced</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Modern UI Skin
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="components-ion-range-slider-modern-skin-basic.html">Basic</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            HTML5 UI Skin
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="components-ion-range-slider-html5-skin-basic.html">Basic</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Nice UI Skin
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="components-ion-range-slider-nice-skin-basic.html">Basic</a>
        </div>
    </li>
</ul>