.chart-widget {
  box-shadow: $box-shadow;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 20px;
}

.tui-chart-widget {
  padding: 10px 20px;
}

.frappe-chart {
  .chart-container {
    .graphics {
      padding-top: 0;
      padding-bottom: 0;
    }

    .graph-focus-margin {
      margin: 0 !important;
      margin-top: 20px !important;
    }

    & > .title {
      display: block !important;
      margin: 0;
      font-size: 20px;
      line-height: 20px;
      color: #000;
    }

    .graph-stats-container {
      padding: 10px 0 0 0;

      .stats {
        padding-bottom: 0;
      }
    }
  }
}

.tui-chart-chartExportMenu-area {
  .tui-chart-chartExportMenu-button {
    border-radius: 3px;
    background: #d3d9dd;
    z-index: 1;
  }

  ul {
    padding: 0;
    box-shadow: 0 2px 3px rgba(236, 242, 246, 0.75) !important;
    border: 1px solid #e9ebee !important;
    background-color: #ffffff !important;
    color: #000 !important;
    font-size: 14px !important;
    border-radius: $border-radius;
  }

  .tui-chart-chartExportMenu-head {
    margin: 0 !important;
    background: rgba(#d3d9dd, .5) !important;
  }

  .tui-chart-chartExportMenu-item {
    &:hover {
      font-weight: normal;
      color: $color-lasur;
    }
  }
}
