@import "../config/ui";
@import "../config/colors";

.ks-amount-widget {
  margin-bottom: 36px;

  > .card-block {
    padding: 15px 20px;

    > .ks-amount {
      font-size: 36px;
    }

    > .ks-progress {
      margin-bottom: 20px;
    }
  }
}
