.authentication {
    .wrapper {
        >.header {
            min-height: 100vh;
        }
        .card-signup {
            margin: 150px 0 0px;
        }
    }
}

@media only screen and (max-width: 414px) {
    .authentication{
        .wrapper{
            .card-signup{
                margin:50px 0 0px;
            }
        }
    } 
}