$text-color: #333;
$text-color-light: #858585;

$ks-default-text-color: #333;
$ks-default-text-color-light: #858585;

$text-primary-light: #8997c3;
$color-primary: #25628F;
$color-info: #42a5f5;
$color-success: #4caf50;
$color-success-hover: #43a047;
$color-success-active: #388e3c;
$color-warning: #ffb300;
$color-danger: #ef5350;
$color-grey: #ebedf5;
$color-purple: #cb48bb;

$ks-text-primary-light: #8997c3;
$ks-color-primary: #25628F;
$ks-color-primary-active: #1d4c6f;

$ks-color-secondary: #ebebeb;
$ks-color-secondary-hover: darken($ks-color-secondary, 4%);
$ks-color-secondary-active: darken($ks-color-secondary, 8%);

$ks-color-info: #42a5f5;
$ks-color-info-active: #1e88e5;
$ks-color-success: #4caf50;
$ks-color-success-hover: #43a047;
$ks-color-success-active: #388e3c;
$ks-color-warning: #ffb300;
$ks-color-warning-active: #ff8f00;
$ks-color-danger: #ef5350;
$ks-color-danger-active: #e53935;

$ks-color-grey: #ebedf5;
$ks-color-purple: #cb48bb;
$ks-color-white: #fff;
$ks-color-pink: #DF5468;
$ks-color-primary-dark: #DF5468;
$ks-color-fuchsia-pink: #d149cc;
$ks-color-cerise-red: #e23e57;
$ks-color-cerise-red-active: #882535;
$ks-color-crusta: #e79716;
$ks-color-crusta-active: #f96800;
$ks-color-medium-purple: #9043d8;
$ks-color-medium-purple-active: #5b2e81;
$ks-color-royal-blue: #4160de;
$ks-color-royal-blue-active: #2a4085;
$ks-color-persian-green: #02a388;
$ks-color-persian-green-active: #006758;
$ks-color-dark-tan: #630a10;
$ks-color-dark-tan-active: #42060f;
$ks-color-cranberry: #df538b;

$ks-color-cinnabar: #e74c3c;
$ks-color-cinnabar-active: #dc3125;

$ks-color-zest: #e67e22;
$ks-color-zest-active: #da5e13;

$ks-color-supernova: #ffcd02;
$ks-color-supernova-active: #ffb901;
$ks-color-supernova-hover: darken($ks-color-supernova, 3%);

$ks-color-pavlova: #d5c295;
$ks-color-pavlova-active: #c3ab76;

$ks-color-pickled-bluewood: #34495e;
$ks-color-pickled-bluewood-active: #1f2f40;

$ks-color-mine-shaft: #2b2b2b;
$ks-color-mine-shaft-active: #191919;

$ks-color-wisteria: #9b59b6;
$ks-color-wisteria-active: #7c3c9c;

$ks-color-ming: #3a6f81;
$ks-color-ming-active: #1f2f40;

$ks-color-curious-blue: #3498db;
$ks-color-curious-blue-active: #1f79cb;

$ks-color-shamrock: #2ecc71;
$ks-color-shamrock-active: #1bb751;

$ks-color-mountain-meadow: #1abc9c;
$ks-color-mountain-meadow-active: #0ea37d;

$ks-color-porcelain: #ecf0f1;
$ks-color-porcelain-active: #e3e9ea;

$ks-color-cascade: #95a5a6;
$ks-color-cascade-active: #768889;

$ks-color-killarney: #345f41;
$ks-color-killarney-active: #1f4129;

$ks-color-blue-marguerite: #745ec5;
$ks-color-blue-marguerite-active: #5440ae;

$ks-color-millbrook: #5e4534;
$ks-color-millbrook-active: #402c1f;

$ks-color-cosmic: #5e345e;
$ks-color-cosmic-active: #401f40;

$ks-color-flory: #ef717a;
$ks-color-flory-active: #e7515a;

$ks-color-atlantis: #a5c63b;
$ks-color-atlantis-active: #88b024;

$ks-color-persian-pink: #f47cc3;
$ks-color-persian-pink-active: #ee5cac;

$ks-color-nutmeg: #79302a;
$ks-color-nutmeg-active: #591c18;

$ks-color-donkey-brown: #a38671;
$ks-color-donkey-brown-active: #856651;

$ks-color-perano: #b8c9f1;
$ks-color-perano-active: #9eb3ea;

$ks-color-kashmir-blue: #5065a1;
$ks-color-kashmir-blue-active: #344683;

$btn-primary-bcolor: $ks-color-primary;
$btn-primary-bcolor-hover: darken($ks-color-primary, 8%);
$btn-primary-bcolor-active: darken($ks-color-primary, 12%);
$btn-primary-bcolor-disabled: #9FA8DA;

$btn-success-bcolor: $ks-color-success;
$btn-success-bcolor-hover: #43a047;
$btn-success-bcolor-active: #388e3c;
$btn-success-bcolor-disabled: #81c784;

$btn-success-light-color: #4caf50;
$btn-success-light-color-hover: #fff;
$btn-success-light-color-disabled: #82e0aa;
$btn-success-light-bcolor: #eafaf1;
$btn-success-light-bcolor-hover: #43a047;
$btn-success-light-bcolor-active: #388e3c;
$btn-success-light-bcolor-disabled: #81c784;

$ks-default-border-color: #dee0e1;
$ks-default-border-color-light: lighten($ks-default-border-color, 6);
$ks-default-border-color-hover: #c4cbe1;
$border-color: #d7dceb;
$border-color-light: #ebeef5;
$ks-default-table-border-color: $ks-default-border-color;
$ks-default-box-shadow-color: #d9d9d9;

