.file-storage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__body {
    display: flex;
    flex-grow: 1;
  }

  &__content {
    flex-grow: 1;
    box-shadow: 0 2px 3px rgba(236, 242, 246, 0.75);
    background: #fff;
    position: relative;
  }
}
