{% extends "./common/layout.html" %}

{% block title %}Breadcrumbs / Universe Admin{% endblock %}

{% block content %}
<div class="container-fluid container-fh">
  <div class="page-content__header">
    <div>
      <h2 class="page-content__header-heading">Breadcrumbs</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Form</a>
        </li>
        <li class="breadcrumb-item active">Breadcrumbs</li>
      </ol>
    </div>
  </div>
  <div class="main-container container-fh__content">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">All Chapters</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Chapter 1</a>
      </li>
      <li class="breadcrumb-item active">Movie Files</li>
    </ul>

    <ul class="breadcrumb-a mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="ua-icon-home breadcrumb-a__icon"></span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a breadcrumb-a--primary mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a breadcrumb-a--success mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a breadcrumb-a--info mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a breadcrumb-a--danger mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-a breadcrumb-a--warning mt-5">
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-active">
          <span class="breadcrumb-a__point">1</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">2</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">3</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">4</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link">
          <span class="breadcrumb-a__point">5</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-a__item">
        <a href="#" class="breadcrumb-a__link is-current">
          <span class="breadcrumb-a__point">6</span>
          <span class="breadcrumb-a__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="ua-icon-home breadcrumb-b__icon"></span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b breadcrumb-b--primary mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b breadcrumb-b--success mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b breadcrumb-b--info mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b breadcrumb-b--danger mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>

    <ul class="breadcrumb-b breadcrumb-b--warning mt-5">
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-active">
          <span class="breadcrumb-b__point">1</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">2</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">3</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">4</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link">
          <span class="breadcrumb-b__point">5</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
      <li class="breadcrumb-b__item">
        <a href="#" class="breadcrumb-b__link is-current">
          <span class="breadcrumb-b__point">6</span>
          <span class="breadcrumb-b__text">Lorem</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

