/** Primary button **/
/** Success button **/
/*#dedede;*/
.ks-theme-voodoo .ks-navbar {
  background: #4a304d; }
  .ks-theme-voodoo .ks-navbar .nav-item {
    border-left: 1px solid #3B263D;
    border-right: 1px solid #3B263D;
    /* Animation */
    /* Styles for dropdowns */ }
    .ks-theme-voodoo .ks-navbar .nav-item:hover {
      transition: background 0.3s ease; }
    .ks-theme-voodoo .ks-navbar .nav-item:hover, .ks-theme-voodoo .ks-navbar .nav-item.ks-active, .ks-theme-voodoo .ks-navbar .nav-item.show {
      background: #3B263D; }
    .ks-theme-voodoo .ks-navbar .nav-item.show .dropdown-menu {
      background: #fff;
      box-shadow: 0 1px 5px 0 #c4cbe1; }
      .ks-theme-voodoo .ks-navbar .nav-item.show .dropdown-menu .dropdown-item:hover {
        background: #f5f7fa;
        transition: background 0.3s ease; }
      .ks-theme-voodoo .ks-navbar .nav-item.show .dropdown-menu .dropdown-item, .ks-theme-voodoo .ks-navbar .nav-item.show .dropdown-menu .dropdown, .ks-theme-voodoo .ks-navbar .nav-item.show .dropdown-menu .nav-link {
        color: #333;
        border-bottom: 1px solid #e1e5f0; }
  .ks-theme-voodoo .ks-navbar .nav-link {
    color: #fff; }
  .ks-theme-voodoo .ks-navbar > .navbar-brand {
    color: #fff; }
    .ks-theme-voodoo .ks-navbar > .navbar-brand > .ks-logo {
      color: #fff; }
    .ks-theme-voodoo .ks-navbar > .navbar-brand > .ks-sidebar-toggle,
    .ks-theme-voodoo .ks-navbar > .navbar-brand > .ks-sidebar-mobile-toggle {
      color: #fff; }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .form-control {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.6); }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .form-control::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .form-control::-moz-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .form-control:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .form-control::placeholder {
      color: rgba(255, 255, 255, 0.6); }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .icon-addon > .ks-icon {
    color: rgba(255, 255, 255, 0.6); }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .ks-search-open, .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu .ks-search-form .ks-search-close {
    color: #fff; }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-languages .ks-wrapper > .ks-language {
    border-bottom: 1px solid #d7dceb;
    border-right: 1px solid #d7dceb; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-languages .ks-wrapper > .ks-language:hover {
      background: #f5f7fa; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-languages .ks-wrapper > .ks-language > .ks-text {
      color: #333; }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu {
    box-shadow: 0 2px 5px 0 #c4cbe1; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .ks-tabs-actions > a > .ks-icon {
      color: #b0bad7; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .ks-tabs-actions > a > .ks-icon:hover {
        color: #8997c3; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .ks-nav-tabs {
      border-bottom: 1px solid #d7dceb; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .tab-content > .tab-pane > .ks-view-all {
      border-top: 1px solid #d7dceb; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .tab-content > .tab-pane > .ks-view-all > a {
        color: #333; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .tab-content > .tab-pane .ks-message {
      border-bottom: 1px solid #d7dceb; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-messages > .dropdown-menu > .tab-content > .tab-pane .ks-message:hover {
        background: #f5f7fa;
        transition: background 0.3s ease; }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu {
    box-shadow: 0 2px 5px 0 #c4cbe1; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .ks-nav-tabs {
      border-bottom: 1px solid #d7dceb; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane > .ks-view-all {
      border-top: 1px solid #d7dceb; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane > .ks-view-all > a {
        color: #333; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification {
      border-bottom: 1px solid #d7dceb;
      /* Bottom border in notifications tabs */ }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification:hover {
        background: #f5f7fa;
        transition: background 0.3s ease; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification > .ks-action > span.ks-default {
        background-color: #e1e5f0; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification > .ks-action > span.ks-default > .ks-icon {
          color: #333; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification > .ks-action > span.ks-error {
        background-color: #f8e4f8; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification > .ks-action > span.ks-error > .ks-icon {
          color: #d149d0; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-notifications > .dropdown-menu > .tab-content > .tab-pane .ks-notification > .ks-info > .ks-text {
        color: #333; }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions > .ks-user {
    border-right: 1px solid #3B263D; }

.ks-theme-voodoo .ks-navbar-horizontal {
  background-color: #fbf8f8;
  border-bottom: 1px solid #d7dceb; }
  .ks-theme-voodoo .ks-navbar-horizontal .nav-item {
    /* Styles for dropdowns */ }
    .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show > .nav-link {
      color: #333;
      background: #fff; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show > .nav-link.active, .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show > .nav-link:focus, .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show > .nav-link:hover {
        color: #333;
        background: #fff; }
    .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show .dropdown-menu {
      box-shadow: 0 1px 5px 0 #c4cbe1; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show .dropdown-menu .dropdown-item:hover {
        background: #f5f7fa;
        transition: background 0.3s ease; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show .dropdown-menu .dropdown-item, .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show .dropdown-menu .dropdown, .ks-theme-voodoo .ks-navbar-horizontal .nav-item.show .dropdown-menu .nav-link {
        color: #333;
        border-bottom: 1px solid #e1e5f0; }
    .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link {
      color: #333; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.active, .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link:focus, .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link:hover {
        color: #333;
        background: #fff; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.active {
        border-left: 1px solid #d7dceb;
        border-right: 1px solid #d7dceb; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.disabled {
        color: #8c8c8c; }
        .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.disabled.active, .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.disabled:focus, .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link.disabled:hover {
          background: none; }
      .ks-theme-voodoo .ks-navbar-horizontal .nav-item .nav-link > .ks-icon {
        color: #333; }
  .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #e1e5f0; }
    .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item.show > .nav-link {
      border-bottom: 1px solid #e1e5f0 !important; }
    .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item > .nav-link, .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item .dropdown-item {
      background: #fff; }
      .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item > .nav-link.disabled, .ks-theme-voodoo .ks-navbar-horizontal > .nav > .ks-navbar-horizontal-responsive .dropdown-menu .dropdown-item .dropdown-item.disabled {
        color: #8c8c8c; }

.ks-theme-voodoo .ks-sidebar {
  background: #fbf8f8;
  border-right: 1px solid #d7dceb; }
  .ks-theme-voodoo .ks-sidebar > .ks-wrapper {
    background: #fbf8f8; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item.ks-user .ks-info > .ks-name {
      color: #333; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item.ks-user .ks-info > .ks-text {
      color: #858585; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item.open .nav-link, .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .nav-item .nav-link {
      background: #fff;
      color: #333; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .nav-link, .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .dropdown-item {
      border-bottom: 1px solid #d7dceb;
      color: #333; }
      .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .nav-link > .ks-icon, .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .dropdown-item > .ks-icon {
        color: #b17179; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .dropdown-menu {
      background: #fff; }
      .ks-theme-voodoo .ks-sidebar > .ks-wrapper .nav .nav-item .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #d7dceb !important;
        color: #333; }
    .ks-theme-voodoo .ks-sidebar > .ks-wrapper .dropdown-item:hover {
      background: transparent;
      transition: background 0.3s ease; }

.ks-theme-voodoo.ks-sidebar-fixed .ks-sidebar > .ks-wrapper {
  background: #fbf8f8;
  border-right: 1px solid #d7dceb; }

@media only screen and (max-width: 1225px) {
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .ks-navbar-menu-toggle.ks-open {
    background-color: rgba(0, 0, 0, 0.2); }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu {
    background: #fbf8f8; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form {
      border-bottom: 1px solid #d7dceb; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .form-control {
        background-color: #fff;
        border: solid 1px #d7dceb;
        color: #858585; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .form-control::-webkit-input-placeholder {
          color: #858585; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .form-control::-moz-placeholder {
          color: #858585; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .form-control:-ms-input-placeholder {
          color: #858585; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .form-control::placeholder {
          color: #858585; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .ks-search-form > .ks-wrapper > .input-icon > .icon-addon > .ks-icon {
        color: #858585; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .nav-item {
      color: #333; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .nav-item > .nav-link, .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .nav-item.nav-link {
        color: #333;
        border-bottom: 1px solid #d7dceb; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .nav-item > .nav-link:hover, .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .nav-item.nav-link:hover {
          background: transparent; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .dropdown > .nav-link {
      border-bottom: 1px solid #d7dceb; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .dropdown.show {
      background: #fff;
      border-bottom: 1px solid #d7dceb; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .dropdown .dropdown-menu .dropdown-item.dropdown {
      background: none; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .dropdown .dropdown-menu .dropdown-item.dropdown.show > .nav-link {
        border-bottom: 1px solid #d7dceb !important; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-menu.ks-open > .dropdown .dropdown-menu .dropdown-item.dropdown.show > .nav-link:hover {
          background: #f5f7fa; } }

@media only screen and (max-width: 780px) {
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .ks-navbar-actions-toggle.ks-open {
    background: rgba(0, 0, 0, 0.2); }
  .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions {
    background: #fbf8f8; }
    .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open {
      /* Static position for dropdown menus becides message, notifications, languages */ }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open > .nav-item.show {
        background: #fff; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open > .nav-item > .nav-link {
        color: #333;
        border-bottom: 1px solid #d7dceb; }
        .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open > .nav-item > .nav-link > .ks-icon {
          color: #b17179; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open > .nav-item.ks-user .ks-info > .ks-description {
        color: #858585; }
      .ks-theme-voodoo .ks-navbar > .ks-wrapper > .nav > .ks-navbar-actions.ks-open > .nav-item:not(.ks-languages):not(.ks-messages):not(.ks-notifications).show .dropdown-menu .dropdown-item:not(.dropdown) {
        border-bottom: 1px solid #d7dceb !important; } }
