/** Primary button **/
/** Success button **/
/*#dedede;*/
.ks-sidebar {
  width: 240px; }
  .ks-sidebar > .ks-wrapper .nav {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ks-sidebar > .ks-wrapper .nav .nav-item {
      position: relative;
      margin: 0;
      visibility: visible; }
      .ks-sidebar > .ks-wrapper .nav .nav-item:hover > .nav-link {
        background: rgba(255, 255, 255, 0.5); }
      .ks-sidebar > .ks-wrapper .nav .nav-item.ks-user > .nav-link > .ks-avatar {
        margin-right: 12px;
        margin-left: -9px; }
      .ks-sidebar > .ks-wrapper .nav .nav-item.ks-user > .nav-link > .ks-info > .ks-name {
        font-weight: 600;
        margin-bottom: 2px;
        margin-top: 2px; }
      .ks-sidebar > .ks-wrapper .nav .nav-item.ks-user > .nav-link > .ks-info > .ks-text {
        font-size: 12px; }
      .ks-sidebar > .ks-wrapper .nav .nav-item .dropdown-menu {
        display: block;
        max-height: 0; }
      .ks-sidebar > .ks-wrapper .nav .nav-item.open .nav-link, .ks-sidebar > .ks-wrapper .nav .nav-item .nav-item .nav-link {
        cursor: pointer; }
      .ks-sidebar > .ks-wrapper .nav .nav-item.open .dropdown-menu, .ks-sidebar > .ks-wrapper .nav .nav-item .nav-item .dropdown-menu {
        position: static;
        width: auto;
        min-width: 0; }
      .ks-sidebar > .ks-wrapper .nav .nav-item.open > .dropdown-menu {
        max-height: 1000px;
        transition: max-height 0.9s ease; }
    .ks-sidebar > .ks-wrapper .nav .nav-link, .ks-sidebar > .ks-wrapper .nav .dropdown-item, .ks-sidebar > .ks-wrapper .nav .dropdown-menu {
      position: relative;
      border-radius: 0; }
      .ks-sidebar > .ks-wrapper .nav .nav-link::before, .ks-sidebar > .ks-wrapper .nav .dropdown-item::before, .ks-sidebar > .ks-wrapper .nav .dropdown-menu::before {
        content: '';
        width: 4px;
        min-height: 60px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0; }
      .ks-sidebar > .ks-wrapper .nav .nav-link::after, .ks-sidebar > .ks-wrapper .nav .dropdown-item::after, .ks-sidebar > .ks-wrapper .nav .dropdown-menu::after {
        position: absolute;
        right: 24px;
        top: 24px; }
    .ks-sidebar > .ks-wrapper .nav.nav-pills .nav-link.active, .ks-sidebar > .ks-wrapper .nav.nav-pills .nav-link:focus, .ks-sidebar > .ks-wrapper .nav.nav-pills .nav-link:active {
      background: transparent; }
    .ks-sidebar > .ks-wrapper .nav .nav-link, .ks-sidebar > .ks-wrapper .nav .dropdown-item {
      padding-left: 27px;
      padding-right: 24px;
      height: 60px;
      font-weight: 600;
      margin: 0;
      text-decoration: none;
      border-radius: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 18px;
      font-size: 13px; }
      .ks-sidebar > .ks-wrapper .nav .nav-link > .ks-icon, .ks-sidebar > .ks-wrapper .nav .dropdown-item > .ks-icon {
        font-size: 16px;
        line-height: 100%;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 22px;
        position: relative; }
        .ks-sidebar > .ks-wrapper .nav .nav-link > .ks-icon > .ks-label, .ks-sidebar > .ks-wrapper .nav .dropdown-item > .ks-icon > .ks-label {
          position: absolute;
          left: 8px;
          top: -8px;
          padding: 0;
          border-radius: 9px;
          line-height: 18px;
          min-width: 18px;
          min-height: 18px;
          text-align: center;
          border: none;
          padding-left: 4px;
          padding-right: 4px; }
    .ks-sidebar > .ks-wrapper .nav .dropdown-menu {
      position: relative;
      float: none;
      box-shadow: none;
      margin: 0;
      border: none; }
      .ks-sidebar > .ks-wrapper .nav .dropdown-menu .dropdown-item {
        padding-left: 27px;
        padding-right: 24px;
        height: 60px;
        font-weight: 600;
        margin: 0;
        text-decoration: none;
        border-radius: 0; }
        .ks-sidebar > .ks-wrapper .nav .dropdown-menu .dropdown-item > .ks-icon {
          font-size: 16px;
          line-height: 100%;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 22px;
          position: relative; }
      .ks-sidebar > .ks-wrapper .nav .dropdown-menu .dropdown-menu .dropdown-item {
        padding-left: 40px; }
  .ks-sidebar.ks-iconbar, .ks-sidebar.ks-iconbar-compact {
    width: 129px;
    max-width: 129px; }
    .ks-sidebar.ks-iconbar .nav > .nav-item > .nav-link, .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link {
      padding: 0;
      text-align: center;
      height: 130px;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .ks-sidebar.ks-iconbar .nav > .nav-item > .nav-link::after, .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link::after {
        display: none; }
      .ks-sidebar.ks-iconbar .nav > .nav-item > .nav-link span.ks-icon, .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link span.ks-icon {
        margin-right: 0;
        width: 24px;
        height: auto;
        font-size: 24px;
        margin-bottom: 13px; }
        .ks-sidebar.ks-iconbar .nav > .nav-item > .nav-link span.ks-icon > .ks-label, .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link span.ks-icon > .ks-label {
          left: 14px;
          top: -4px; }
      .ks-sidebar.ks-iconbar .nav > .nav-item > .nav-link span.ks-text, .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link span.ks-text {
        display: block; }
    .ks-sidebar.ks-iconbar .nav > .nav-item.open > .dropdown-menu, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu {
      position: absolute;
      min-width: 240px;
      left: 129px;
      top: 0;
      box-shadow: 0 0 5px 0 rgba(57, 81, 155, 0.3); }
      .ks-sidebar.ks-iconbar .nav > .nav-item.open > .dropdown-menu .dropdown-menu, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .dropdown-menu {
        position: relative;
        left: 0;
        box-shadow: none; }
      .ks-sidebar.ks-iconbar .nav > .nav-item.open > .dropdown-menu .nav-item.dropdown:before, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .nav-item.dropdown:before {
        width: 0; }
      .ks-sidebar.ks-iconbar .nav > .nav-item.open > .dropdown-menu .nav-item > .nav-link::after, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .nav-item > .nav-link::after {
        display: block; }
      .ks-sidebar.ks-iconbar .nav > .nav-item.open > .dropdown-menu .nav-item > .nav-link span, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .nav-item > .nav-link span {
        display: inline-block; }
    .ks-sidebar.ks-iconbar .nav > .nav-item.ks-user-item > .nav-link > .ks-name, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.ks-user-item > .nav-link > .ks-name {
      margin-top: 6px; }
    .ks-sidebar.ks-iconbar .nav > .nav-item.ks-user-item > .nav-link > .ks-description, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.ks-user-item > .nav-link > .ks-description {
      margin-top: 0;
      font-size: 12px;
      color: rgba(58, 82, 155, 0.6); }
    .ks-sidebar.ks-iconbar.ks-fixed .nav, .ks-sidebar.ks-iconbar-compact.ks-fixed .nav {
      width: 129px;
      max-width: 129px; }
      .ks-sidebar.ks-iconbar.ks-fixed .nav > .nav-item.open > .dropdown-menu, .ks-sidebar.ks-iconbar-compact.ks-fixed .nav > .nav-item.open > .dropdown-menu {
        position: static;
        min-width: 0;
        width: 100%;
        box-shadow: none; }
  .ks-sidebar.ks-iconbar-compact {
    width: 149px;
    max-width: 149px; }
    .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link {
      height: 70px; }
      .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link span.ks-icon {
        margin-right: 0;
        width: 16px;
        height: auto;
        font-size: 16px;
        margin-bottom: 9px; }
        .ks-sidebar.ks-iconbar-compact .nav > .nav-item > .nav-link span.ks-icon > .ks-label {
          left: 14px;
          top: -4px; }
    .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu {
      position: static;
      min-width: 0;
      width: 100%;
      box-shadow: none; }
      .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .dropdown-toggle, .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .dropdown-item {
        text-align: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 5px;
        padding-right: 5px; }
      .ks-sidebar.ks-iconbar-compact .nav > .nav-item.open > .dropdown-menu .nav-item.dropdown::before {
        width: 4px;
        top: -1px;
        bottom: -1px; }
    .ks-sidebar.ks-iconbar-compact .nav > .nav-item.ks-user-item > .nav-link {
      height: 106px; }
  .ks-sidebar.ks-primary .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-primary .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-primary .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-primary .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-primary .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-primary .nav .nav-item .nav-item .dropdown-menu::before {
    background: #3a529b; }
  .ks-sidebar.ks-primary .nav .nav-item:hover > .nav-link::before {
    background: #3a529b; }
  .ks-sidebar.ks-info .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-info .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-info .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-info .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-info .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-info .nav .nav-item .nav-item .dropdown-menu::before {
    background: #22a7f0; }
  .ks-sidebar.ks-info .nav .nav-item:hover > .nav-link::before {
    background: #22a7f0; }
  .ks-sidebar.ks-success .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-success .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-success .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-success .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-success .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-success .nav .nav-item .nav-item .dropdown-menu::before {
    background: #2ecc71; }
  .ks-sidebar.ks-success .nav .nav-item:hover > .nav-link::before {
    background: #2ecc71; }
  .ks-sidebar.ks-warning .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-warning .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-warning .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-warning .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-warning .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-warning .nav .nav-item .nav-item .dropdown-menu::before {
    background: #debb0c; }
  .ks-sidebar.ks-warning .nav .nav-item:hover > .nav-link::before {
    background: #debb0c; }
  .ks-sidebar.ks-danger .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-danger .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-danger .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-danger .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-danger .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-danger .nav .nav-item .nav-item .dropdown-menu::before {
    background: #ec644b; }
  .ks-sidebar.ks-danger .nav .nav-item:hover > .nav-link::before {
    background: #ec644b; }
  .ks-sidebar.ks-fuchsia-pink .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-fuchsia-pink .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-fuchsia-pink .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-fuchsia-pink .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-fuchsia-pink .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-fuchsia-pink .nav .nav-item .nav-item .dropdown-menu::before {
    background: #d149cc; }
  .ks-sidebar.ks-fuchsia-pink .nav .nav-item:hover > .nav-link::before {
    background: #d149cc; }
  .ks-sidebar.ks-cerise-red .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-cerise-red .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-cerise-red .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-cerise-red .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-cerise-red .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-cerise-red .nav .nav-item .nav-item .dropdown-menu::before {
    background: #e23e57; }
  .ks-sidebar.ks-cerise-red .nav .nav-item:hover > .nav-link::before {
    background: #e23e57; }
  .ks-sidebar.ks-crusta .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-crusta .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-crusta .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-crusta .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-crusta .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-crusta .nav .nav-item .nav-item .dropdown-menu::before {
    background: #e79716; }
  .ks-sidebar.ks-crusta .nav .nav-item:hover > .nav-link::before {
    background: #e79716; }
  .ks-sidebar.ks-medium-purple .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-medium-purple .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-medium-purple .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-medium-purple .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-medium-purple .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-medium-purple .nav .nav-item .nav-item .dropdown-menu::before {
    background: #9043d8; }
  .ks-sidebar.ks-medium-purple .nav .nav-item:hover > .nav-link::before {
    background: #9043d8; }
  .ks-sidebar.ks-royal-blue .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-royal-blue .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-royal-blue .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-royal-blue .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-royal-blue .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-royal-blue .nav .nav-item .nav-item .dropdown-menu::before {
    background: #4160de; }
  .ks-sidebar.ks-royal-blue .nav .nav-item:hover > .nav-link::before {
    background: #4160de; }
  .ks-sidebar.ks-persian-green .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-persian-green .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-persian-green .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-persian-green .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-persian-green .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-persian-green .nav .nav-item .nav-item .dropdown-menu::before {
    background: #02a388; }
  .ks-sidebar.ks-persian-green .nav .nav-item:hover > .nav-link::before {
    background: #02a388; }
  .ks-sidebar.ks-dark-tan .nav .nav-item.open .nav-link::before, .ks-sidebar.ks-dark-tan .nav .nav-item.open .dropdown-item::before, .ks-sidebar.ks-dark-tan .nav .nav-item.open .dropdown-menu::before, .ks-sidebar.ks-dark-tan .nav .nav-item .nav-item .nav-link::before, .ks-sidebar.ks-dark-tan .nav .nav-item .nav-item .dropdown-item::before, .ks-sidebar.ks-dark-tan .nav .nav-item .nav-item .dropdown-menu::before {
    background: #630a10; }
  .ks-sidebar.ks-dark-tan .nav .nav-item:hover > .nav-link::before {
    background: #630a10; }

body.ks-sidebar-fixed > .ks-container .ks-sidebar {
  border: none; }
  body.ks-sidebar-fixed > .ks-container .ks-sidebar > .ks-wrapper {
    width: 240px;
    border-right: 1px solid #d7dceb;
    position: fixed !important;
    z-index: 5;
    height: 100%; }
    body.ks-sidebar-fixed > .ks-container .ks-sidebar > .ks-wrapper .nav {
      margin-bottom: 60px !important; }
  body.ks-sidebar-fixed > .ks-container .ks-sidebar.ks-iconbar > .ks-wrapper {
    width: 129px;
    min-width: 129px; }
  body.ks-sidebar-fixed > .ks-container .ks-sidebar.ks-iconbar-compact > .ks-wrapper {
    width: 149px;
    min-width: 149px; }

body.ks-sidebar-compact:not(.ks-sidebar-default):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar {
  width: 71px;
  max-width: 71px; }

body.ks-sidebar-compact:not(.ks-sidebar-default):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact).ks-sidebar-fixed .ks-sidebar {
  min-width: 71px !important; }
  body.ks-sidebar-compact:not(.ks-sidebar-default):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact).ks-sidebar-fixed .ks-sidebar > .ks-wrapper {
    width: 71px !important;
    max-width: 71px !important;
    min-width: 71px !important; }
    body.ks-sidebar-compact:not(.ks-sidebar-default):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact).ks-sidebar-fixed .ks-sidebar > .ks-wrapper .dropdown-toggle::after {
      display: none !important; }

body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar {
  width: 71px;
  max-width: 71px; }
  body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.ks-user > .nav-link > .ks-info {
    display: none; }
  body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item > .nav-link {
    min-height: 60px;
    line-height: 16px;
    text-align: center; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item > .nav-link::after {
      display: none; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item > .nav-link span {
      display: none; }
      body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item > .nav-link span.ks-icon {
        display: inline-block; }
        body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item > .nav-link span.ks-icon > .ks-label {
          display: inline-block; }
  body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu {
    position: absolute;
    min-width: 240px;
    left: 71px;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(57, 81, 155, 0.3);
    z-index: 5; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu .dropdown-menu {
      position: relative;
      left: 0; }
      body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu .dropdown-menu.open {
        box-shadow: none; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu .nav-item.dropdown:before {
      width: 0; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu .nav-item > .nav-link::after {
      display: block; }
    body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact) .ks-sidebar > .ks-wrapper .nav-item.open > .dropdown-menu .nav-item > .nav-link span {
      display: inline-block; }

body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact).ks-sidebar-fixed .ks-sidebar {
  min-width: 71px; }
  body.ks-sidebar-compact:not(.ks-sidebar-compact-open):not(.ks-sidebar-iconbar):not(.ks-sidebar-iconbar_compact).ks-sidebar-fixed .ks-sidebar > .ks-wrapper {
    width: 71px;
    max-width: 71px;
    min-width: 71px; }

body.ks-sidebar-compact.ks-sidebar-default.ks-sidebar-compact-open .ks-sidebar {
  width: 71px;
  max-width: 71px;
  min-width: 71px; }
  body.ks-sidebar-compact.ks-sidebar-default.ks-sidebar-compact-open .ks-sidebar > .ks-wrapper {
    min-width: 71px;
    width: 240px;
    max-width: 240px;
    transition: max-width .2s ease; }

body.ks-sidebar-collapsed .ks-sidebar {
  display: block;
  height: 100%;
  position: fixed;
  top: 60px;
  left: -240px; }
  body.ks-sidebar-collapsed .ks-sidebar.ks-open {
    left: 0;
    z-index: 6;
    transition: left .2s ease; }

body.ks-sidebar-none .ks-sidebar {
  display: none; }
